<div class="modal-header">
    <h5 class="modal-title">Upload files</h5>
</div>
<div class="modal-body">
    <div>
        <div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
            <div ng-show="uploader.isHTML5" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                    <input type="file" nv-file-select="" uploader="uploader" multiple/>
                    <div class="semi-b">Drop files here</div>
                </div>
            </div>
            <h5>Upload queue:</h5>
            <p class="semi-b">Queue length:&nbsp;&nbsp;{{ uploader.queue.length }}</p>
            <div class="table-responsive" my-scroller="x">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="td-40p">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue track by $index">
                        <td><span class="semi-b">{{ item.file.name }}</span></td>
                        <td ng-show="uploader.isHTML5">{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-small" ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>
                                <span class="m-l5">Upload all</span>
                            </button>
                            <button type="button" class="btn btn-info btn-small" ng-click="item.cancel()"
                                    ng-disabled="!item.isUploading">
                                <i class="fa fa-ban"></i>
                                <span class="m-l5">Cancel all</span>
                            </button>
                            <button type="button" class="btn btn-info btn-small" ng-click="item.remove();remove($index)">
                                <i class="fa fa-trash"></i>
                                <span class="m-l5">Remove all</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="semi-b">Queue progress:</p>
            <div class="progress" style="">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span>
                    <span class="m-l5">Upload all</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="uploader.cancelAll()"
                        ng-disabled="!uploader.isUploading">
                    <i class="fa fa-ban"></i>
                    <span class="m-l5">Cancel all</span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="uploader.clearQueue()"
                        ng-disabled="!uploader.queue.length">
                    <i class="fa fa-trash"></i>
                    <span class="m-l5">Remove all</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>
