<eln-card [classList]="'cursor-pointer'" (click)="openDetails()">
  <div class="flex flex-col w-full px-4">
    <div class="flex justify-between items-center mb-3 w-full">
      <h3
        class="flex items-center gap-x-2 font-semibold text-neutral-1000 text-base"
      >
        <em class="text-primary-400 text-xl indicon-book"></em>
        {{ notebook.name }}
      </h3>
      <div class="relative -right-1">
        <button
          class="flex items-center hover:bg-neutral-200 rounded-full cursor-pointer"
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="menu"
          aria-label="Project options menu"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>visibility</mat-icon>
            <span>Action</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div [ngClass]="variant === 'grid' ? 'space-y-2' : 'w-full'">
      <div
        class="w-full"
        [ngClass]="{
          'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6':
            variant === 'list',
          'space-y-2': variant === 'grid',
        }"
      >
        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-1000 text-sm">Experiments</div>
          <div
            class="flex items-center gap-[0.6rem]"
            [ngClass]="{ 'ml-auto': variant === 'grid' }"
          >
            @if (notebook['experimentCountByStatus'].OPEN) {
              <span class="font-semibold text-h4 text-primary-400">{{
                notebook['experimentCountByStatus'].OPEN
              }}</span>
            }
            <span class="font-semibold text-h4 text-neutral-1000">{{ notebook.experimentCount }}</span>
          </div>
        </div>

        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
          *ngIf="variant === 'list'"
        >
          <div class="text-neutral-1000 text-sm">Members</div>
          <div class="flex items-center">
            <div class="flex -space-x-2">
              @for (user of notebook.acl.slice(0, 3); track user.userId) {
                <eln-avatar classList="w-6 h-6" [img]="user.avatarUrl || 'assets/avatar-placeholder.png'" />
              }
              @if (notebook.aclCount > 3) {
                <span
                  class="flex justify-center items-center bg-primary-400 rounded-full w-6 h-6 text-white text-xs"
                >
                  +{{ notebook.aclCount - 3 }}
                </span>
              }
            </div>
          </div>
        </div>

        <div
          class="flex flex-col text-sm"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-1000 text-sm">Last Edited</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ notebook.modifiedAt | date: 'dd MMM yyyy' }} by
            {{ notebook.modifiedBy.displayName }}
          </div>
        </div>

        <div
          class="flex flex-col text-sm"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-1000">Created</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ notebook.createdAt | date: 'dd MMM yyyy' }} by
            {{ notebook.createdBy.displayName }}
          </div>
        </div>
      </div>
    </div>

    @if (variant === 'grid') {
      <div
        class="flex items-center mt-2 pt-3 border-t border-t-neutral-300 w-full"
      >
        <div class="flex -space-x-2">
          @for (user of notebook.acl.slice(0, 3); track user) {
            <eln-avatar classList="w-6 h-6" [img]="user.avatarUrl || 'assets/avatar-placeholder.png'" />
          }
          @if (notebook.aclCount > 3) {
            <span
              class="flex justify-center items-center bg-primary-400 rounded-full w-6 h-6 text-white text-xs"
            >
              +{{ notebook.aclCount - 3 }}
            </span>
          }
        </div>
        <span class="ml-2 text-b2 text-neutral-1000"
          >{{ notebook.aclCount }} Members</span
        >
      </div>
    }
  </div>
</eln-card>
