<ul>
    <li ng-click="toggleProjects(myBookmarks)"><span>My Bookmarks</span>
        <ul ng-if="myBookmarks.projects.length">
            <li ng-repeat="project in myBookmarks.projects" ng-click="toggleNotebooks(project); $event.stopPropagation();">
                <span>{{project.node.name}}</span>
                <ul ng-if="project.notebooks.length">
                    <li ng-repeat="notebook in project.notebooks"
                        ng-click="notebook.projectId = project.node.id; toggleExperiments(notebook); $event.stopPropagation();">
                        <i class="fa fa-circle"></i>
                        <span>{{notebook.node.name}}</span>
                        <ul ng-if="notebook.experiments.length">
                            <li ng-click="$event.stopPropagation();">
                                <i class="fa fa-circle"></i>
                                <span>Table</span>
                                <ul ng-if="notebook.experiments.length">
                                    <li ng-repeat="experiment in notebook.experiments"
                                        ng-click="onExperimentClick(experiment, notebook); $event.stopPropagation();">
                                        <i class="fa fa-circle"></i>
                                        <span>{{experiment.node.name}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul has-authority="{{CONTENT_EDITOR}}">
    <li ng-click="toggleUsers()"><span>All Projects</span>
        <ul ng-if="users.length">
            <li ng-repeat="user in users" ng-click="toggleProjects(user); $event.stopPropagation();">
                <span>{{user.lastName + ' ' + user.firstName + ' [' + user.login + ']'}}</span>

                <ul ng-if="user.projects.length">
                    <li ng-repeat="project in user.projects" ng-click="toggleNotebooks(project, user.id); $event.stopPropagation();">
                        <i class="fa fa-circle"></i>
                        <span>{{project.node.name}}</span>

                        <ul ng-if="project.notebooks.length">
                            <li ng-repeat="notebook in project.notebooks"
                                ng-click="notebook.projectId = project.node.id; toggleExperiments(notebook, user.id); $event.stopPropagation();">
                                <i class="fa fa-circle"></i>
                                <span>{{notebook.node.name}}</span>

                                <ul ng-if="notebook.experiments.length">
                                    <li ng-click="$event.stopPropagation();">
                                        <i class="fa fa-circle"></i>
                                        <span>Table</span>
                                        <ul ng-if="notebook.experiments.length">
                                            <li ng-repeat="experiment in notebook.experiments"
                                                ng-click="onExperimentClick(experiment); $event.stopPropagation();">
                                                <i class="fa fa-circle"></i>
                                                <span>{{experiment.node.name}}</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul has-any-authority="{{ADMINISTRATION_AUTHORITIES}}">
    <li ng-click="toggleAdministration()"><span>Administration</span>
        <ul ng-if="adminToggled">
            <li has-authority="{{USER_EDITOR}}"
                ng-click="toggleUsersAndRoles(); $event.stopPropagation();">
                <span>Users and Roles</span>
            </li>
            <li has-authority="{{ROLE_EDITOR}}"
                ng-click="toggleAuthorities(); $event.stopPropagation();">
                <span>Manage Authorities</span>
            </li>
            <li has-authority="{{TEMPLATE_EDITOR}}"
                ng-click="toggleTemplates(); $event.stopPropagation();">
                <span>Manage Templates</span>
            </li>
            <li ng-click="toggleDictionaries(); $event.stopPropagation();">
                <span>Dictionaries</span>
            </li>
        </ul>
    </li>
</ul>