    <ul class="unit-navigation-list-one-lvl">
        <li class="list-item-one-lvl" toggle-class-child="open-menu"><span>My Bookmarks</span>
            <ul class="unit-navigation-list-two-lvl">
                <li class="list-item-two-lvl" toggle-class-child="open-menu"><span>Site 1</span>
                    <ul class="unit-navigation-list-three-lvl">
                        <li class="list-item-three-lvl" toggle-class-child="open-menu">
                            <i class="fa fa-circle"></i>
                            <span>User</span>
                            <ul class="unit-navigation-list-four-lvl">
                                <li class="list-item-four-lvl" toggle-class-child="open-menu">
                                    <i class="fa fa-circle"></i>
                                    <span>111</span>
                                    <ul class="unit-navigation-list-five-lvl">
                                        <li class="list-item-five-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>Table</span>
                                        </li>
                                        <li class="list-item-five-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0001</span>
                                        </li>
                                        <li class="list-item-five-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0002</span></li>
                                        <li class="list-item-five-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0003</span>
                                        </li>
                                        <li class="list-item-five-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0004</span>
                                        </li>
                                        <li class="list-item-five-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0005</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="list-item-two-lvl" toggle-class-child="open-menu"><span>Site 2</span>
                    <ul class="unit-navigation-list-three-lvl">
                        <li class="list-item-three-lvl" toggle-class-child="open-menu">
                            <i class="fa fa-circle"></i>
                            <span>User</span>
                            <ul class="unit-navigation-list-four-lvl">
                                <li class="list-item-four-lvl" toggle-class-child="open-menu">
                                    <i class="fa fa-circle"></i>
                                    <span>111</span>
                                    <ul class="unit-navigation-list-four-lvl">
                                        <li class="list-item-four-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>Table</span>
                                        </li>
                                        <li class="list-item-four-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0001</span>
                                        </li>
                                        <li class="list-item-four-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0002</span></li>
                                        <li class="list-item-four-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0003</span>
                                        </li>
                                        <li class="list-item-four-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0004</span>
                                        </li>
                                        <li class="list-item-four-lvl">
                                            <i class="fa fa-circle"></i>
                                            <span>0005</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="list-item-two-lvl" toggle-class-child="open-menu"><span>Site 3</span>
                    <ul class="unit-navigation-list-three-lvl">
                        <li class="list-item-three-lvl" toggle-class-child="open-menu"><span>User</span>
                            <ul class="unit-navigation-list-four-lvl">
                                <li class="list-item-four-lvl" toggle-class-child="open-menu"><span>111</span>
                                    <ul class="unit-navigation-list-four-lvl">
                                        <li class="list-item-four-lvl"><span>Table</span></li>
                                        <li class="list-item-four-lvl"><span>0001</span></li>
                                        <li class="list-item-four-lvl"><span>0002</span></li>
                                        <li class="list-item-four-lvl"><span>0003</span></li>
                                        <li class="list-item-four-lvl"><span>0004</span></li>
                                        <li class="list-item-four-lvl"><span>0005</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-item-one-lvl" toggle-class-child="open-menu"><span>All Sites</span>
            <ul class="unit-navigation-list-two-lvl">
                <li class="list-item-two-lvl">Site 1</li>
                <li class="list-item-two-lvl">Site 2</li>
                <li class="list-item-two-lvl">Site 3</li>
            </ul>
        </li>
    </ul>