.info-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--neutral-900);
}

.info-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--neutral-900);
}
