<form [formGroup]="form">
  <div class="field-wrapper">
    @if (multiple) {
      <eln-autocomplete-select
        formControlName="multiple"
        [search]="search.bind(this)"
        [display]="displayFn"
        [allowEmptySearch]="true"
      >
        <ng-template #optionTemplate let-item>
          <span class="font-medium text-gray-900">{{ item.name }}</span>
        </ng-template>
      </eln-autocomplete-select>
    } @else {
      <eln-dropdown-value
        formControlName="single"
        [allowNull]="allowEmpty"
        [options]="allItems"
      />
    }
  </div>
</form>
