.pell {
  border: none;
}

::ng-deep .pell-actionbar {
  background-color: var(--color-neutral-100);
  border: var(--color-neutral-300) 1px solid;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;

  .pell-button {
    color: var(--color-neutral-800);
    font-size: 1.2rem;
    margin-right: 0.5rem;
    padding: 0.1rem;
    text-align: center;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  .is-selected,
  .pell-button:hover {
    color: var(--color-neutral-1000);
    background-color: var(--color-neutral-400);
    border-radius: 0.2rem;
  }
}

::ng-deep .pell-content {
  border-bottom: var(--color-neutral-300) 1px solid;
  border-radius: 0 0 0.5rem 0.5rem;
  border-right: var(--color-neutral-300) 1px solid;
  border-left: var(--color-neutral-300) 1px solid;
  padding: 1rem;
  height: 14rem;
  overflow-y: auto;

  &:focus {
    outline: none;
  }
}
