<div class="modal-header">
    <h5 class="modal-title" i-translate="PURITY_INFORMATION"></h5>
</div>
<div class="modal-body">
    <div class="m-b20">
        <indigo-two-toggle indigo-label="Purity % Information"
                           indigo-first="Purity Available"
                           indigo-second="{{vm.unknownPurity}}"
                           indigo-model="vm.purity.property"
        ></indigo-two-toggle>
    </div>
    <div class="long-content-popup">
        <table class="table" id="search-result-table">
            <thead class="search-table-head">
            <tr>
                <th class="w-20" i-translate="PURITY_DETERMINED_BY"></th>
                <th class="w-15" i-translate="OPERATOR"></th>
                <th class="w-15" i-translate="PURITY" i-end="%"></th>
                <th i-translate="PURITY_COMMENTS"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.dictionary.words track by item.name"
                ng-init="vm.purity.data[$index].determinedBy = item.name">
                <td ng-bind="vm.purity.data[$index].determinedBy"></td>
                <td>
                    <autocomplete items="vm.operatorSelect"
                                  readonly="vm.isInknownPurity()"
                                  model="vm.purity.data[$index].operator">
                    </autocomplete>
                </td>
                <td>
                    <simple-input>
                        <input class="form-control"
                               type="number"
                               min="0"
                               ng-disabled="vm.isInknownPurity()"
                               ng-model="vm.purity.data[$index].value">
                    </simple-input>
                </td>
                <td>
                    <simple-input>
                        <input class="form-control"
                               ng-disabled="vm.isInknownPurity()"
                               ng-model="vm.purity.data[$index].comments">
                    </simple-input>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">
        <span class="icon icon-stop"></span><span class="m-l5" i-translate="CANCEL"></span>
    </button>
    <button class="btn btn-primary" type="button" ng-click="vm.save()">
        <span class="icon icon-save"></span><span class="m-l5" i-translate="SAVE"></span>
    </button>
</div>
