<div class="modal-header">
    <h5 class="modal-title">External Supplier Information</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <my-select my-items="externalSupplierCodeAndNameSelect"
                       my-label="External Supplier Code & Name"
                       my-label-columns-num="5"
                       my-model="externalSupplier.codeAndName"></my-select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <my-input my-model="externalSupplier.catalogRegistryNumber"
                      my-label="Supplier Catalog/Registry#"
                      my-label-columns-num="5"></my-input>
        </div>
    </div>
</div>

</div>
<div class="modal-footer text-right">
    <button class="btn btn-info" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
