<div class="panel panel-primary component">
    <div class="panel-heading">
        Product Batch Details
    </div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="col-xs-6">
                    <my-input my-label="Notebook Batch #"
                    ></my-input>
                    <my-two-toggle my-label="Product"
                                   my-first="Yes"
                                   my-second="No"
                    ></my-two-toggle>
                    <my-select my-label="Status"
                    ></my-select>
                    <my-input my-label="Conversational Batch #"
                    ></my-input>
                    <my-input my-label="Virtual Compound Id"
                    ></my-input>
                    <my-select my-label="Source"
                    ></my-select>
                    <my-select my-label="Source Detail"
                    ></my-select>
                    <my-simple-text my-label="Calculated Batch MW"
                                    my-empty-text="none"></my-simple-text>
                    <my-simple-text my-label="Calculated Batch MF"
                                    my-empty-text="none"></my-simple-text>
                    <my-select my-label="Salt Code & Name"
                    ></my-select>
                    <my-input my-label="Salt Equivalent"
                    ></my-input>
                    <my-two-toggle my-label=""
                                   my-first="Intermediate"
                                   my-second="Test Compound"
                    ></my-two-toggle>
                    <my-select my-label="Compound State"
                    ></my-select>
                    <my-text-area my-label="Batch Comments"
                    ></my-text-area>
                </div>
                <div class="col-xs-6">
                    <my-text-area my-label="External Supplier"
                    ></my-text-area>
                    <my-text-area my-label="Purity"
                    ></my-text-area>
                    <my-text-area my-label="Melting Point"
                    ></my-text-area>
                    <my-input my-label="Residual Solvents"
                    ></my-input>
                    <my-input my-label="Solubility in Solvents"
                    ></my-input>
                    <my-input my-label="Precursor/Reactant IDs"
                    ></my-input>
                    <my-select my-label="Compound Protection"
                    ></my-select>
                    <my-select my-label="Sterioisomer Code"
                    ></my-select>
                    <my-text-area my-label="Structure comments"
                    ></my-text-area>
                    <my-simple-text my-label="Theoretical Amounts"
                                    my-empty-text="none"></my-simple-text>
                    <my-simple-text my-label="Weight"
                                    my-empty-text="none"></my-simple-text>
                    <my-simple-text my-label="mMoles"
                                    my-empty-text="none"></my-simple-text>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <my-text-area my-label="Health Hazards"
                    ></my-text-area>
                    <my-text-area my-label="Handling Precautions"
                    ></my-text-area>
                    <my-text-area my-label="Storage Instructions"
                    ></my-text-area>
                    <div class="form-group">
                        <label class="control-label">Vials/Tubes Containing this Batch</label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Wt. in Vial/Tube</th>
                                    <th>Moles in Vial/Tube</th>
                                    <th>Vol. in Vial/Tube</th>
                                    <th>Barcode</th>
                                    <th>Solvent</th>
                                    <th>Container Type</th>
                                    <th>Container Location</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>