<div class="panel panel-info component">
    <div class="panel-heading">
        Product Batch Details
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-xs-6">
                    <my-input my-label="Notebook Batch #"
                              my-model="model.productBatchDetails.notebookBatch"
                    ></my-input>
                </div>
                <div class="col-xs-6">
                    <my-two-toggle my-label=""
                                   my-first="Intermediate"
                                   my-second="Test Compound"
                                   my-model="model.productBatchDetails.batchType"
                    ></my-two-toggle>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Total Weight</th>
                            <th>Total Volume</th>
                            <th>Total Moles</th>
                            <th>Theo. Wgt.</th>
                            <th>Theo. Moles</th>
                            <th>%Yield</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <my-select my-label="Status"
                               my-label-vertical="true"
                    ></my-select>
                    <my-input my-label="Virtual Compound Id"
                              my-model="model.productBatchDetails.virtualCompoundId"
                              my-label-vertical="true"
                    ></my-input>
                    <my-select my-label="Source"
                               my-label-vertical="true"
                               my-dictionary="source"
                    ></my-select>
                    <my-select my-label="Source Detail"
                               my-label-vertical="true"
                               my-dictionary="sourceDetail"
                    ></my-select>
                    <my-select my-label="Sterioisomer Code"
                               my-label-vertical="true"
                               my-dictionary="stereoisomerCode"
                    ></my-select>
                    <my-simple-text my-label="Calculated Batch MW"
                                    my-empty-text="none"
                    ></my-simple-text>
                    <my-simple-text my-label="Calculated Batch MF"
                                    my-empty-text="none"></my-simple-text>
                    <my-select my-label="Salt Code & Name"
                               my-label-vertical="true"
                    ></my-select>
                    <my-input my-label="Salt Equivalent"
                              my-model="model.productBatchDetails.saltEquivalent"
                              my-label-vertical="true"
                    ></my-input>
                    <my-text-area my-label="Structure comments"
                                  my-model="model.productBatchDetails.structureComments"
                                  my-label-vertical="true"
                    ></my-text-area>

                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <my-select my-label="Compound State"
                               my-label-vertical="true"
                               my-dictionary="compoundState"
                    ></my-select>
                    <my-input my-label="Precursor/Reactant IDs"
                              my-model="model.productBatchDetails.precursorReactant"
                              my-label-vertical="true"
                    ></my-input>
                    <my-text-area my-label="Purity"
                                  my-model="model.productBatchDetails.purity"
                                  my-label-vertical="true"
                                  my-input-group="append"
                                  my-readonly="true">
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-text-area>
                    <my-text-area my-label="Melting Point"
                                  my-model="model.productBatchDetails.meltingPoint"
                                  my-label-vertical="true"
                                  my-input-group="append"
                                  my-readonly="true"
                    >
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-text-area>
                    <my-input my-label="Residual Solvents"
                              my-model="model.productBatchDetails.residualSolvents"
                              my-label-vertical="true"
                              my-input-group="append"
                              my-readonly="true"
                    >
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-input>
                    <my-input my-label="Solubility in Solvents"
                              my-model="model.productBatchDetails.solubilitySolvents"
                              my-label-vertical="true"
                              my-input-group="append"
                              my-readonly="true"
                    >
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-input>
                    <my-text-area my-label="External Supplier"
                                  my-model="model.productBatchDetails.externalSupplier"
                                  my-label-vertical="true"
                                  my-input-group="append"
                                  my-readonly="true"
                    >
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-text-area>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <my-select my-label="Compound Protection"
                               my-label-vertical="true"
                               my-dictionary="compoundProtection"
                    ></my-select>
                    <my-text-area my-label="Health Hazards"
                                  my-model="model.productBatchDetails.healthHazards"
                                  my-label-vertical="true"
                                  my-input-group="append"
                                  my-readonly="true"
                    >
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-text-area>
                    <my-text-area my-label="Handling Precautions"
                                  my-model="model.productBatchDetails.handlingPrecautions"
                                  my-label-vertical="true"
                                  my-input-group="append"
                                  my-readonly="true"
                    >
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-text-area>
                    <my-text-area my-label="Storage Instructions"
                                  my-model="model.productBatchDetails.storageInstructions"
                                  my-label-vertical="true"
                                  my-input-group="append"
                                  my-readonly="true"
                    >
                        <button class="btn btn-default" type="button">Edit</button>
                    </my-text-area>
                    <my-text-area my-label="Batch Comments"
                                  my-model="model.productBatchDetails.comments"
                                  my-label-vertical="true"
                    >
                </div>
            </div>
        </div>
    </div>
</div>