<eln-card classList="h-full">
  <div
    class="flex items-center justify-between border-b border-b-neutral-200 pb-3"
  >
    <div class="flex items-center gap-2">
      <h2 class="font-semibold text-base">Team</h2>
      <eln-counter [count]="teamVm().length" variant="grey" size="large" />
    </div>
  </div>

  <!-- Suggestions field -->
  <div class="flex items-center justify-between py-3 gap-2">
    <div class="flex-1">
      <ng-select
        [items]="userSuggestions"
        bindLabel="displayName"
        bindValue="id"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        placeholder="Emails, comma separated"
        [(ngModel)]="selectedUserIds"
        (change)="onUsersSelectedIds(selectedUserIds)"
        [clearable]="true"
        class="w-[300px]"
      >
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <div
            class="flex justify-between"
            [class.opacity-50]="item.added"
            [class.pointer-events-none]="item.added"
          >
            <div class="flex flex-col">
              <span class="font-medium">{{ item.displayName }}</span>
              <span class="text-xs text-neutral-600">{{ item.username }}</span>
            </div>
            <div class="flex items-center">
              <span class="text-xs" [class.text-neutral-500]="item.added">{{
                item.added ? 'Already added' : ''
              }}</span>
            </div>
          </div>
        </ng-template>
      </ng-select>
    </div>
    <div>
      <eln-button
        variant="blue"
        (click)="addSelectedUsers()"
        [disabled]="selectedUserIds.length === 0 || loading().addingUsers"
      >
        <em class="indicon-plus"></em>
        {{ selectedUserIds.length | i18nPlural: addMemberLabelMap }}
      </eln-button>
    </div>
  </div>

  <!-- Team members list -->
  <div class="space-y-2 py-3">
    @for (member of teamVm(); track member.userId) {
      <div
        class="grid grid-cols-[auto_1fr_1fr_auto] gap-4 items-center p-2 hover:bg-neutral-100 rounded-lg text-neutral-1000"
      >
        <eln-avatar
          classList="w-6 h-6"
          [img]="
            'https://ui-avatars.com/api/?name=' +
            (member.username ?? member.displayName)
          "
        />
        <p class="text-neutral-1000">{{ member.displayName }}</p>
        <p
          class="text-neutral-800 overflow-hidden text-ellipsis whitespace-nowrap max-w-[148px] text-ellipsis"
        >
          {{ member.username }}
        </p>
        <div class="flex items-center gap-2">
          <eln-copy [text]="member.username" />
          <eln-dropdown-menu
            class="[&_.dd-trigger]:text-primary-400 [&_.dd-container]:min-w-34"
            [controlled]="true"
            [selected]="member.level | normalizeLabel"
            [items]="aclLevelOptions"
            (itemSelected)="updateAclLevel(member, $event)"
            [disabled]="member.disabled"
          />
        </div>
      </div>
    }
  </div>
</eln-card>
