<eln-card classList="h-full">
  @if (showHeader) {
    <div class="flex items-center justify-between border-b border-b-neutral-200 pb-3">
      <div class="flex items-center gap-2">
        <h2 class="font-semibold text-base">Team</h2>
        <eln-counter [count]="teamVm().length" variant="grey" size="large" />
      </div>
    </div>
  }

  <!-- Suggestions field -->
  @if (canManage()) {
    <div class="flex items-center justify-between py-3 gap-2">
      <div class="flex-1">
        <ng-select
          [items]="userSuggestions"
          bindLabel="displayName"
          bindValue="username"
          [multiple]="true"
          [closeOnSelect]="false"
          [searchable]="true"
          placeholder="Emails, comma separated"
          [(ngModel)]="selectedUsers"
          (change)="onUsersSelected(selectedUsers)"
          [clearable]="true"
          class="w-full"
        >
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div class="flex justify-between" [class.opacity-50]="item.added" [class.pointer-events-none]="item.added">
              <div class="flex flex-col">
                <span class="font-medium">{{ item.displayName }}</span>
                <span class="text-xs text-neutral-600">{{ item.username }}</span>
              </div>
              <div class="flex items-center">
                <span class="text-xs" [class.text-neutral-500]="item.added">{{
                  item.added ? 'Already Added' : ''
                }}</span>
              </div>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div>
        <eln-button
          variant="blue"
          (click)="addSelectedUsers()"
          [disabled]="selectedUsers.length === 0 || loading().addingUsers"
        >
          <eln-svg icon="user-add" classList="mr-1" color="white" />
          Add Member
        </eln-button>
      </div>
    </div>
  }

  <!-- Team members list -->
  <div class="py-3 grid grid-cols-[auto_1fr_1fr_auto] gap-x-4 gap-y-2 items-center">
    @for (member of teamVm(); track member.username) {
      <div
        class="flex items-center justify-center w-[1.6rem] h-[1.6rem] rounded-full bg-[#e0e0e0] text-[#646464] text-[0.625rem] font-semibold uppercase border border-white"
      >
        {{ member.displayName | initials }}
      </div>

      <p class="text-neutral-1000 overflow-hidden text-ellipsis whitespace-nowrap">
        {{ member.displayName }}
      </p>
      <div class="flex items-center gap-1">
        <p
          class="text-neutral-800 overflow-hidden text-ellipsis whitespace-nowrap"
          [appTextOverflowTooltip]="member.username"
        >
          {{ member.username }}
        </p>
        <eln-copy [text]="member.username" class="flex-shrink-0" />
      </div>
      <div class="flex items-center gap-1 justify-self-end">
        @if (canManage()) {
          <eln-dropdown-menu
            align="end"
            class="[&_.dd-trigger]:pr-0 [&_.dd-trigger]:pl-2 [&_.dd-trigger]:text-primary-400 [&_.dd-container]:min-w-22"
            [controlled]="true"
            [selected]="member.level | normalizeLabel"
            [items]="aclLevelOptions"
            (itemSelected)="updateAclLevel(member, $event)"
            [disabled]="member.disabled"
          />
        } @else {
          <span class="text-neutral-800">{{ member.level | normalizeLabel }}</span>
        }
      </div>
    }
  </div>
</eln-card>
