.for-print-only {
    font-size: 10px;
    width: 570px;
    color: #000;
}

.for-print-only table {
    width: 100%
}

.for-print-only table td,
.for-print-only table th {
    border: 1px solid #ccc;
    font-size: 10px
}

.pb {
    page-break-before: always
}
