<div class="btn-group btn-group-sm m-l10"
     uib-dropdown
     auto-close="disabled"
     is-open="vm.isOpen">
    <div class="btn btn-info"
         uib-dropdown-toggle
         ng-disabled="disabled"
         uib-tooltip="Column settings">
        <span class="fa fa-columns no-draggable" aria-hidden="true"></span> &nbsp;
        <span i-translate="COLUMNS"></span>
    </div>
    <ul uib-dropdown-menu
        role="menu"
        class="dropdown-menu-right"
        ng-if="vm.isOpen"
        nested-outside-click="vm.isOpen = false">
        <li role="menuitem">
            <button type="button" class="btn btn-default btn-small m-t5"
                    ng-click="vm.resetColumns()" i-translate="SET_DEFAULT_COLUMNS_SET">
            </button>
        </li>
        <li ng-repeat="column in vm.columns track by column.id"
            role="menuitem">
            <label ng-click="vm.onChanged({column: column, isVisible: vm.visibleColumns[column.id]})">
                <simple-checkbox model="vm.visibleColumns[column.id]"></simple-checkbox>
                <span ng-bind="::column.name"></span>
            </label>
        </li>
    </ul>
</div>