<label [for]="id" class="flex items-center cursor-pointer pl-1">
  <div class="relative">
    <input
      [id]="id"
      type="checkbox"
      class="sr-only peer"
      [checked]="value"
      (change)="onInputChange($event)"
      [disabled]="disabled"
    />
    <div class="w-10 h-4 bg-primary-100 rounded-full shadow-inner"></div>
    <div
      class="absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition peer-checked:translate-x-full peer-checked:bg-primary-400"
    ></div>
  </div>
  @if (label.length > 0) {
    <div class="ml-3 text-neutral-1000 select-none">
      {{ label }}
    </div>
  }
</label>
