<form id="productBatchSummarySetSourceForm" name="productBatchSummarySetSourceForm" ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h5 class="modal-title">Set value for <span ng-bind="vm.name"></span></h5>
    </div>
    <div class="modal-body">
        <indigo-select indigo-label="Source" indigo-items="vm.sourceValues" indigo-model="vm.source"
                       indigo-label-vertical="true"
        ></indigo-select>
        <indigo-select
                indigo-label="Source Details"
                indigo-items="vm.sourceDetails"
                indigo-model="vm.sourceDetail"
                indigo-label-vertical="true">
        </indigo-select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <em class="fa fa-ban"></em><span class="m-l5">Cancel</span>
        </button>
        <button type="submit" ng-disabled="productBatchSummarySetSourceForm.$invalid" class="btn btn-primary"
                form="productBatchSummarySetSourceForm">
            <em class="fa fa-save"></em><span class="m-l5">Save</span>
        </button>
    </div>
</form>