<div class="panel panel-info product-batch-summary" indigo-collapsible-component cg-busy="{promise:syncingIntendedProducts, minDuration:700}">
    <div class="panel-heading">
        Product Batch Summary
    </div>
    <div class="panel-body collapsible">
        <div ng-show="vm.isStructure">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-xs-2">
                        Structure size:
                    </div>
                    <div class="col-xs-10">
                        <slider ng-model="vm.structureSize" min="0.3" step="0.01" max="4"
                                value="testOptions.value"></slider>
                    </div>
                </div>
            </div>
        </div>
        <indigo-batch-summary model="vm.model"
                              share="vm.share"
                              experiment-name="vm.experiment.name"
                              on-show-structure="vm.showStructure(isVisible)"
                              structure-size="vm.structureSize"
                              indigo-save-experiment-fn="vm.indigoSaveExperimentFn()"
        ></indigo-batch-summary>
    </div>
</div>