<div class="modal-header">
    <h5 class="modal-title">Structure Validation</h5>
</div>
<div class="modal-body">
    <p class="m-b20"><span class="semi-b">Search Query is:</span> {{vm.searchQuery}}</p>
    <div class="long-content-popup">
        <table class="table" id="search-result-table">
            <thead class="search-table-head">
            <tr>
                <th>Compound ID</th>
                <th>Nbk Batch #</th>
                <th>Mol. Wt.</th>
                <th>Mol. Formula</th>
            </tr>
            </thead>
            <tbody ng-repeat="item in vm.batches track by $index">
            <tr class="clickable" ng-class="{'search-table-row-highlight': item.$$isSelected}"
                ng-click="vm.selectBatch(item)">
                <td>{{item.compoundId}}</td>
                <td>{{item.fullNbkBatch}}</td>
                <td>{{item.molWeight.value | round}}</td>
                <td>{{item.formula}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <div ng-if="vm.selectedBatch">
                <div class="h-100">
                    <img class="img-responsive center-block"
                         ng-src="data:image/svg+xml;base64,{{vm.selectedBatch.structure.image}}"
                         alt="Image is unavailable.">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <p>Chemical Name:</p></div>
                <div class="col-xs-6">
                    <p>{{vm.selectedBatch.chemicalName}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>Compound ID:</p></div>
                <div class="col-xs-6">
                    <p>{{vm.selectedBatch.compoundId}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>Conv. Batch #:</p></div>
                <div class="col-xs-6">
                    <p>{{vm.selectedBatch.conversationalBatchNumber}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>Batch Mol. Wt. (calc'd):</p></div>
                <div class="col-xs-6">
                    <p>{{vm.selectedBatch.molWeight.value | round}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>Molecular Formula (calc'd):</p></div>
                <div class="col-xs-6">
                    <p>{{vm.selectedBatch.formula}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>
                    Salt Code:</p></div>
                <div class="col-xs-6">
                    <p ng-bind="vm.selectedBatch.saltCode.name === vm.defaultSaltCodeName ? '00' :
                        vm.selectedBatch.saltCode.name"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>Salt EQ:</p>
                </div>
                <div class="col-xs-6">
                    <p>{{vm.selectedBatch.saltEq.value}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">
        <em class="fa fa-ban"></em><span class="m-l5">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-disabled="!vm.selectedBatch" ng-click="vm.save()">Use this
        structure
    </button>
</div>
