<form id="productBatchSummarySetUnitValueForm" name="productBatchSummarySetUnitValueForm" ng-submit="save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h5 class="modal-title">Set value for {{name}}</h5>
    </div>
    <div class="modal-body">
        <indigo-input indigo-label="Value" indigo-model="value" indigo-input-group="append"
                      indigo-type="number" indigo-validation-required="true">
            <div class="btn-group" uib-dropdown ng-init="initUnit()">
                <button type="button" class="btn btn-info"
                        aria-haspopup="true"
                        aria-expanded="false"
                        uib-dropdown-toggle>{{unit}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="unitName in unitNames track by unitName"><a href=""
                                                                               ng-click="setUnit(unitName)">{{unitName}}</a>
                    </li>
                </ul>
            </div>
        </indigo-input>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
        </button>
        <button type="submit" ng-disabled="productBatchSummarySetUnitValueForm.$invalid" class="btn btn-primary"
                form="productBatchSummarySetUnitValueForm">
            <i class="fa fa-save"></i><span class="m-l5">Save</span>
        </button>
    </div>
</form>