<amplify-authenticator [hideSignUp]="true">
  <ng-template amplifySlot="header">
    <div
      class="mx-auto h-full"
      style="padding: var(--amplify-space-large); text-align: center"
    >
      <img class="mx-auto" src="assets/logo-full.svg" alt="Logo" height="138" />
    </div>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <router-outlet />
  </ng-template>
  <ng-template amplifySlot="sign-in-header">
    <h3
      class="amplify-heading m-4! mb-0! pb-4! text-[1.125rem] font-medium! border-b! border-neutral-300!"
    >
      Log In
    </h3>
  </ng-template>
</amplify-authenticator>
