<div class="grid grid-cols-[1fr_auto] gap-4 pt-4">
  <div class="bg-neutral rounded-xl border border-neutral-200 p-6">
    <div class="flex items-center justify-between mb-6">
      <h2 class="text-h3">Project Description</h2>
      <app-button variant="blue-outline" classList="text-primary-400">
        <em class="indicon-edit"></em>
        Edit
      </app-button>
    </div>

    <div class="space-y-6">
      <div>
        <h3 class="text-b2 text-neutral-800 mb-2">Project Name</h3>
        <p class="text-neutral-1000">{{ project.name }}</p>
      </div>

      <div>
        <h3 class="text-b2 text-neutral-800 mb-2">Project Keywords</h3>
        <div class="flex flex-wrap gap-2">
          @for (keyword of project.keywords; track keyword) {
            <app-chip>{{ keyword }}</app-chip>
          }
        </div>
      </div>

      <div>
        <h3 class="text-b2 text-neutral-800 mb-2">Literature</h3>
        <p class="text-neutral-400">-</p>
      </div>

      <div>
        <h3 class="text-b2 text-neutral-800 mb-2">Project Description</h3>
        <p class="text-neutral-1000">{{ project.description }}</p>
        <p class="text-neutral-1000 mt-4">{{ project.details }}</p>
      </div>

      <div>
        <h3 class="text-b2 text-neutral-800 mb-2">Attachments</h3>
        <div class="space-y-2 grid">
          @for (file of project.attachments; track file) {
            <app-attachment [attachment]="file" />
          }
        </div>
      </div>
    </div>
  </div>

  <div class="bg-neutral rounded-xl border border-neutral-200 p-6">
    <div class="flex items-center justify-between mb-6">
      <div class="flex items-center gap-2">
        <h2 class="text-h3">Team</h2>
        <app-counter [count]="project.team.length" variant="blue" />
      </div>
      <app-button variant="blue-outline" classList="text-primary-400">
        <em class="indicon-share"></em>
        Share
      </app-button>
    </div>

    <div class="space-y-2">
      @for (member of project.team; track member) {
        <div
          class="flex items-center justify-between p-2 hover:bg-neutral-100 rounded-lg"
        >
          <div class="flex items-center gap-2">
            <app-avatar [img]="member.avatar" classList="w-8 h-8" />
            <div>
              <p class="text-neutral-1000">{{ member.name }}</p>
              <p class="text-neutral-800 text-sm">{{ member.email }}</p>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <app-badge>{{ member.role }}</app-badge>
            <button mat-icon-button>
              <em class="indicon-more-vertical"></em>
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
