<div class="modal-header">
    <h5 class="modal-title">Melting Point Information</h5>
</div>
<div class="modal-body">
    <p class="semi-b m-b20">Melting Point Range:</p>
    <div class="row">
        <div class="col-xs-2">
            <indigo-input indigo-model="meltingPoint.lower"
                          indigo-label="Lower"
                          indigo-type="number"
                          indigo-label-vertical="true"></indigo-input>
            <span class="input-right-txt">&deg;C</span>
        </div>
        <div class="col-xs-2">
            <indigo-input indigo-model="meltingPoint.upper"
                          indigo-label="Upper"
                          indigo-type="number"
                          indigo-label-vertical="true"></indigo-input>
                <span class="input-right-txt">&deg;C</span>
        </div>
        <div class="col-xs-8">
            <indigo-input indigo-model="meltingPoint.comments"
                          indigo-columns-num="3"
                          indigo-label="Comments"
                          indigo-label-vertical="true"></indigo-input>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-click="save()">
        <i class="fa fa-save"></i><span class="m-l5">Save</span>
    </button>
</div>
