<div>
    <div class="modal-header">
        <h5 class="modal-title">Import Structure</h5>
    </div>
    <div class="modal-body">
        <div class="col-xs-12">
            <label class="control-label">Select File</label>
            <input type="file" my-file-reader="showContent($fileContent)" />
        </div>
        <br/><br/><br/><br/>
        <div >
            <my-text-area my-label="Input Structure" my-label-vertical="true" my-model="content"
                          my-trim="false"></my-text-area>
            <!--the next component required to avoid floating out of modal body-->
            <span class="clear-elem"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" type="button" ng-click="import()">Import</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>