<div  class="panel panel-info component">
    <div class="panel-heading">
        {{myTitle}}
            <span class="btn-group pull-right">
                <i class="fa fa-edit btn panel-btn-reaction-scheme" title="Edit/Add {{myTitle}}" ng-click="openEditor()"></i>
                <i class="fa  fa-folder-open-o btn" title="Import {{myTitle}}" ng-click="importStructure()"></i>
                <i class="fa fa-save btn" title="Export {{myTitle}}"  ng-click="exportStructure()"></i>
            </span>
    </div>
    <div s-resizable max-height="300" min-height="50"
         class="panel-body text-center" style="height: 130px; box-sizing: content-box;">
        <div style="height: 100%;">
            <img ng-if="image" class="img-responsive center-block" style="height: 100%;"
            ng-src="data:image/svg+xml;base64,{{image}}" alt="Image is unavailable.">
            <h3 ng-if="!image" class="text-muted">empty</h3>
            <span ng-if="image" class="glyphicon glyphicon-option-horizontal" style="color: #B2EBF2"></span>
        </div>
    </div>
</div>
