<div class="panel panel-info component" indigo-collapsible-component>
    <div class="panel-heading" i-translate="PRODUCT_BATCH_DETAILS"></div>
    <div class="panel-body collapsible">
        <div class="form-inline form-batch-details">
            <label><span i-translate="NOTEBOOK_BATCH_N"></span>: <span
                    ng-bind="vm.selectedBatch.fullNbkImmutablePart"></span></label>
            <indigo-select
                    indigo-model="vm.selectedBatch"
                    indigo-items="vm.batches"
                    indigo-change="vm.selectBatch(vm.selectedBatch)"
                    indigo-item-prop="nbkBatch"
                    indigo-control="vm.selectControl"
                    class="select-inline"
            ></indigo-select>
            <indigo-checkbox
                    indigo-model="vm.showSummary"
                    indigo-label="Show summary table"
            ></indigo-checkbox>
        </div>
        <indigo-batch-summary ng-if="vm.showSummary"
                              save-experiment-fn="vm.saveExperimentFn()"
                              is-hide-column-settings="true"
                              batches="vm.batches"
                              selected-batch="vm.selectedBatch"
                              selected-batch-trigger="vm.selectedBatchTrigger"
                              is-readonly="vm.isReadonly"
                              on-added-batch="vm.onAddedBatch({batch: batch})"
                              batch-operation="vm.batchOperation"
                              on-select-batch="vm.onSelectBatch({batch: batch})"
                              on-remove-batches="vm.onRemoveBatches({batches: batches})"
        ></indigo-batch-summary>
        <indigo-table ng-if="!vm.showSummary"
                      indigo-id="product-detail-table"
                      indigo-columns="vm.productTableColumns"
                      is-readonly="vm.isReadonly || vm.selectedBatch.registrationStatus"
                      indigo-rows="vm.detailTable"
                      selected-batch="vm.selectedBatch"
                      selected-batch-trigger="vm.selectedBatchTrigger"
                      on-changed="vm.onChange()"
                      indigo-hide-column-settings="true"
                      on-close-cell="vm.onClose(column, data)">

            <div class="action-panel m-b20">
                <div class="action-panel__left">
                    <span class="txt-small bold m-r5"><span i-translate="BATCHES"></span>:</span>
                    <div class="btn-group list-component-buttons">
                        <add-new-batch batch-operation="vm.batchOperation"
                                       on-added-batch="vm.onAddedBatch({batch: batch})"
                                       on-select-batch="vm.onSelectBatch({batch: batch})"
                                       is-readonly="vm.isReadonly">
                        </add-new-batch>
                        <duplicate-batches is-readonly="vm.isReadonly || !vm.selectedBatch"
                                           batches="vm.batches">
                        </duplicate-batches>
                        <delete-batches is-readonly="vm.isEditDisabled"
                                        delete-batch="vm.selectedBatch"
                                        on-remove-batches="vm.onRemoveBatches({batches: batches})">
                        </delete-batches>
                        <sync-with-intended-products is-readonly="vm.isReadonly"></sync-with-intended-products>
                        <button type="button" class="btn btn-info btn-small" disabled i-translate="VNV"></button>
                        <button type="button" class="btn btn-info btn-small"
                                ng-disabled="vm.isEditDisabled"
                                ng-click="vm.registerBatch()">
                            <span class="fa fa-floppy-o"></span>
                            <span class="m-l5" i-translate="REGISTER"></span>
                        </button>
                        <indigo-inline-loader promise="vm.batchOperation" class="product-batch-details__loader"
                                              on-status-changed="vm.onBatchOperationChanged(completed)"></indigo-inline-loader>
                        <simple-radio>
                            <input name="batchDetailsRadio"
                                   ng-disabled="vm.isEditDisabled"
                                   ng-click="vm.selectedBatch.batchType = 'Intermediate'; vm.onChanged()"
                                   ng-checked="vm.selectedBatch.batchType === 'Intermediate'">
                            <label i-translate="INTERMEDIATE"></label>
                        </simple-radio>
                        <simple-radio>
                            <input name="batchDetailsRadio"
                                   ng-disabled="vm.isEditDisabled"
                                   ng-click="vm.selectedBatch.batchType = 'Test Compound'; vm.onChanged()"
                                   ng-checked="vm.selectedBatch.batchType === 'Test Compound'">
                            <label i-translate="TEST_COMPOUND"></label>
                        </simple-radio>
                    </div>
                </div>
                <div class="action-panel__right">
                    <span class="txt-small bold m-r5"> <span i-translate="SD_FILE"></span>:</span>

                    <div class="btn-group">
                        <import-sdf-file is-readonly="vm.isReadonly || vm.isBatchLoading"></import-sdf-file>
                        <export-sdf-file is-readonly="!vm.selectedBatch"
                                         is-selected-batch="true">
                        </export-sdf-file>
                    </div>
                </div>
            </div>
        </indigo-table>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <indigo-select indigo-label="Status"
                               indigo-label-vertical="true"
                               indigo-model="vm.selectedBatch.regStatus"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <simple-input>
                    <span i-translate="CONVERSATIONAL_BATCH_NUMBER"></span>
                    <input class="form-control" ng-model="vm.selectedBatch.conversationalBatchNumber"
                           ng-disabled="vm.isReadonly"
                           ng-attr-title="vm.selectedBatch.conversationalBatchNumber">
                </simple-input>
                <simple-input>
                    <label>
                        <span i-translate="VIRTUAL_COMPOUND_ID"></span>
                        <input class="form-control"
                               ng-model="vm.selectedBatch.virtualCompoundId"
                               ng-disabled="vm.isEditDisabled"
                               ng-attr-title="vm.selectedBatch.virtualCompoundId">
                    </label>
                </simple-input>
                <indigo-select indigo-label="Source"
                               indigo-label-vertical="true"
                               indigo-model="vm.selectedBatch.source"
                               indigo-dictionary="Source"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-select indigo-label="Source Detail"
                               indigo-label-vertical="true"
                               indigo-model="vm.selectedBatch.sourceDetail"
                               indigo-dictionary="Source Details"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-select indigo-label="Stereoisomer Code"
                               indigo-label-vertical="true"
                               indigo-dictionary="Stereoisomer Code"
                               indigo-item-prop="name,description"
                               indigo-model="vm.selectedBatch.stereoisomer"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-simple-text indigo-label="Calculated Batch MW"
                                    indigo-model="vm.selectedBatch.molWeight.value | round"
                                    indigo-empty-text="none"
                ></indigo-simple-text>
                <indigo-simple-text indigo-label="Calculated Batch MF"
                                    indigo-model="vm.selectedBatch.formula"
                                    indigo-empty-text="none">
                </indigo-simple-text>
                <indigo-select indigo-label="Salt Code & Name"
                               indigo-label-vertical="true"
                               indigo-items="vm.saltCodeValues"
                               indigo-model="vm.selectedBatch.saltCode"
                               indigo-change="vm.recalculateSalt(vm.selectedBatch)"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <simple-input>
                    <span i-translate="SALT_EQUIVALENT"></span>
                    <input class="form-control"
                           type="number"
                           ng-change="vm.recalculateSalt(vm.selectedBatch)"
                           ng-model="vm.selectedBatch.saltEq.value"
                           ng-disabled="vm.isEditDisabled || !vm.canEditSaltEq()">
                </simple-input>
                <indigo-text-area indigo-label="Structure comments"
                                  indigo-model="vm.selectedBatch.structureComments"
                                  indigo-readonly="vm.isEditDisabled"
                ></indigo-text-area>
            </div>
            <div class="col-md-4 col-sm-6">
                <indigo-select indigo-label="Compound State"
                               indigo-label-vertical="true"
                               indigo-dictionary="Compound State"
                               indigo-model="vm.selectedBatch.compoundState"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <simple-input>
                    <span i-translate="PRECURSOR_REACTANT_IDS"></span>
                    <input class="form-control"
                           ng-model="vm.selectedBatch.precursors"
                           ng-disabled="vm.isEditDisabled || vm.isExistStoichTable">
                </simple-input>

                <additional-editor-value model="vm.selectedBatch.purity.asString"
                                         on-click="vm.editPurity()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="PURITY"></span>
                </additional-editor-value>

                <additional-editor-value model="vm.selectedBatch.meltingPoint.asString"
                                         on-click="vm.editMeltingPoint()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="MELTING_POINT"></span>
                </additional-editor-value>

                <additional-editor-value model="vm.selectedBatch.residualSolvents.asString"
                                         on-click="vm.editResidualSolvents()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="RESIDUAL_SOLVENTS"></span>
                </additional-editor-value>

                <additional-editor-value model="vm.selectedBatch.solubility.asString"
                                         on-click="vm.editSolubility()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="SOLUBILITY_IN_SOLVENTS"></span>
                </additional-editor-value>


                <additional-editor-value model="vm.selectedBatch.externalSupplier.asString"
                                         on-click="vm.editExternalSupplier()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="EXTERNAL_SUPPLIER"></span>
                </additional-editor-value>

            </div>
            <div class="col-md-4 col-sm-6">
                <indigo-select indigo-label="Compound Protection"
                               indigo-model="vm.selectedBatch.compoundProtection"
                               indigo-label-vertical="true"
                               indigo-dictionary="Compound Protection"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>

                <additional-editor-value model="vm.selectedBatch.healthHazards.asString"
                                         on-click="vm.editHealthHazards()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="HEALTH_HAZARDS"></span>
                </additional-editor-value>

                <additional-editor-value model="vm.selectedBatch.handlingPrecautions.asString"
                                         on-click="vm.editHandlingPrecautions()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="HANDLING_PRECAUTIONS"></span>
                </additional-editor-value>

                <additional-editor-value model="vm.selectedBatch.storageInstructions.asString"
                                         on-click="vm.editStorageInstructions()"
                                         is-disabled="vm.isEditDisabled">
                    <span i-translate="STORAGE_INSTRUCTIONS"></span>
                </additional-editor-value>

                <indigo-text-area indigo-label="Batch Comments"
                                  indigo-model="vm.selectedBatch.comments"
                                  indigo-readonly="vm.isEditDisabled"
                ></indigo-text-area>
            </div>
        </div>
    </div>
</div>
