<nav *ngIf="items.length" class="flex flex-wrap items-center gap-1.5 my-2 mb-3 text-b3">
  @for (item of items; track $index; let last = $last) {
    @if (item.url && !item.active) {
      <a [routerLink]="item.url" class="font-semibold text-primary-400 no-underline cursor-pointer">
        {{ item.label }}
      </a>
    } @else {
      <span class="font-semibold text-neutral-1000">
        {{ item.label }}
      </span>
    }

    @if (!last) {
      <span class="text-neutral-600">/</span>
    }
  }
</nav>
