<div class="autocomplete form-group" ng-class="{required: vm.isRequired}">
    <label ng-if="vm.label"
           ng-bind="vm.label"></label>

    <ui-select multiple
               ng-attr-name="{{vm.elName}}"
               ng-model="vm.model"
               theme="bootstrap"
               ng-disabled="vm.readonly"
               spinner-enabled="true"
               ng-required="vm.isRequired"
               on-select="vm.onSelect({item: $item})"
               on-remove="vm.onRemove({item: $item})"
               autofocus="vm.autofocus">
        <ui-select-match placeholder="{{ ::vm.placeholder }}"
                         allow-clear="{{ ::vm.allowClear }}">
            {{ $item[vm.field] }}
        </ui-select-match>
        <ui-select-choices refresh="vm.refresh($select.search)"
                           refresh-delay="300"
                           repeat="item in vm.filteredItems"
                           scroll-spy="vm.loadPage($select.search)">
            <span ng-bind-html="item[[vm.field]] | highlight: $select.search"
                  class="tag-item"></span>
            <div ng-if="vm.isLoading && $index === $select.items.length - 1">
                Loading more items...
            </div>
        </ui-select-choices>
        <ui-select-no-choice>
            Found nothing
        </ui-select-no-choice>
    </ui-select>
</div>
