<indigo-entities-controls></indigo-entities-controls>
<div class="main-tabs" indigo-tab-scroller>
    <ul class="nav nav-tabs">
        <li role="presentation"  ng-class="{'active' : tab.tabKey === activeTab.tabKey}"
            ng-repeat="tab in tabs  track by tab.tabKey" class="experiment-tab">
            <a ng-click="$event.stopPropagation(); onTabClick(tab)">
                <i class="fa fa-remove pull-right clickable" ng-click="$event.stopPropagation(); onCloseTabClick(tab);"></i>
                {{tab.name}} {{tab.$$title}}
                <i class="fa fa-asterisk entity-changed" aria-hidden="true" ng-if="tab.dirty"></i>
            </a>
        </li>
    </ul>
</div>
<div class="entities-content tab-content animated">
    <div class="tab-pane active">
        <div ui-view="tabContent" class="tab-content animated" ></div>
    </div>
</div>

