<div class="modal-header">
    <h5 class="modal-title">Upload file</h5>
</div>
<div class="modal-body">
    <div>
        <div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
            <div ng-show="uploader.isHTML5" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                    <input type="file" nv-file-select=""
                           uploader="uploader"/>
                    <div class="semi-b">Drop file here</div>
                </div>
            </div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width:50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue track by $index">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5">{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
    </button>
</div>
