<div class="experiments" cg-busy="{promise: vm.loading, minDuration:700}">
    <indigo-autorecovery indigo-restored="vm.restored"></indigo-autorecovery>
    <div class="tab-content-pad">
        <div>
            <div class="row m-b20">
                <div class="col-sm-6 col-xs-9">
                    <div class="row-inline">
                        <span class="txt-larger">Project Members:</span>
                        <button ui-sref=".permissions()"
                                class="btn btn-default btn-small" ng-disabled="!vm.isEditAllowed">
                            <i class="fa fa-pencil"></i>
                            <span class="m-l5">Edit</span>
                        </button>
                        <button ui-sref=".permissions-view()" type="button"
                                class="btn btn-default btn-small">
                            <i class="fa fa-eye"></i>
                            <span class="m-l5">View Members</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="createProjectForm" name="createProjectForm" role="form" novalidate autocomplete="off">
        <div class="inner-tabs">
            <div class="simple-tab-content">
                <div class="row">
                    <div class="col-xs-12">
                        <indigo-input indigo-label="Project Name"
                                      indigo-readonly="!vm.isEditAllowed"
                                      indigo-name="projectName"
                                      indigo-type="text"
                                      indigo-label-vertical="true"
                                      indigo-model="vm.project.name"
                                      indigo-validation-required="!vm.project.name.trim()">
                        </indigo-input>
                        <indigo-tag-input indigo-label="Tags"
                                          indigo-model="vm.project.tags"
                                          indigo-readonly="!vm.isEditAllowed"
                                          indigo-label-vertical="true">
                        </indigo-tag-input>
                        <indigo-input indigo-label="Project Keywords"
                                      indigo-label-vertical="true" indigo-readonly="!vm.isEditAllowed"
                                      indigo-model="vm.project.keywords">
                        </indigo-input>
                        <indigo-text-area indigo-label="Literature" indigo-label-vertical="true"
                                          indigo-readonly="!vm.isEditAllowed"
                                          indigo-model="vm.project.references">
                        </indigo-text-area>
                        <label>Project Description</label>
                        <indigo-text-editor indigo-model="vm.project.description"
                                            indigo-name="projectDescription"
                                            indigo-readonly="!vm.isEditAllowed"
                                            on-changed="vm.onChanged()">
                        </indigo-text-editor>
                        <div class="m-t20">
                            <indigo-file-uploader upload-url="api/project_files"
                                                  indigo-readonly="!vm.isEditAllowed"
                                                  on-changed="vm.updateAttachments()">
                            </indigo-file-uploader>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="btn-bottom-block tab-content-pad">
        <div class="pull-left">
            <button type="button" class="btn btn-default" ng-disabled="!vm.canUndo()" ng-click="vm.undoAction()">
                <i class="fa fa-undo"></i><span class="m-l5">Undo Action</span>
            </button>
            <button type="button" class="btn btn-default" ng-disabled="!vm.canRedo()" ng-click="vm.redoAction()">
                <i class="fa fa-redo"></i><span class="m-l5">Redo Action</span>
            </button>
        </div>
        <button class="btn btn-info" type="button"
                ng-disabled="!vm.isCreateChildAllowed || !vm.project.id"
                ui-sref="entities.notebook-new({parentId:vm.project.id})">Create Notebook
        </button>
        <button ng-click="vm.save()" form="createProjectForm"
                ng-disabled="!vm.isEditAllowed || createProjectForm.$invalid || vm.isSaving || !vm.isBtnSaveActive"
                class="btn btn-primary"><i class="fa fa-save"></i><span class="m-l5">Save</span>
        </button>
        <a class="btn btn-default" ng-click="vm.refresh()">
            <i class="fa fa-refresh"></i><span class="m-l5">Reset</span>
        </a>
        <button type="button" class="btn btn-default" onclick="window.history.back()">
            <i class="fa fa-mail-reply"></i><span class="m-l5">Back</span>
        </button>
    </div>
</div>
