<div class="panel panel-info projects" ng-class="{'project-create': project.id==null}"
     cg-busy="{promise:loading, minDuration:700}">
    <div class="panel-heading">
    </div>
    <div class="panel-body" my-scroller="y" my-scroller-theme="indigo-thick">
            <form id="createProjectForm" name="createProjectForm" role="form" novalidate
                  class="form-horizontal" autocomplete="off">
                <div class="row">
                    <div class="col-xs-12">
                        <my-input my-label="Project Name"
                                  my-readonly="!isEditAllowed"
                                  my-name="projectName"
                                  my-type="text"
                                  my-label-vertical="true"
                                  my-model="project.name"
                                  my-validation-required="!project.name.trim()"></my-input>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-xs-12">
                        <label class="control-label">Project Members&nbsp;</label>
                        <button type="submit"
                                ui-sref="project.new.permissions()"
                                ng-if="!project.id"
                                class="btn btn-info "
                                ng-disabled="!isEditAllowed">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="entities.project-detail.permissions()"
                                ng-if="project.id"
                                class="btn btn-info "
                                ng-disabled="!isEditAllowed">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="button" class="btn btn-info" ng-click="isCollapsed = !isCollapsed">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View Members</span>
                        </button>
                        <div uib-collapse="isCollapsed">
                            <hr>
                            <div class="col-xs-12">
                                <ul id="triple-list" class="members">
                                    <li class="members" ng-repeat="member in project.accessList track by $index">
                                        {{ '- ' + member.user.lastName + ' ' + member.user.firstName + ' (' + member.permissionView + ')' }}
                                    </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <my-tag-input my-label="Tags" my-model="tags" my-readonly="!isEditAllowed"
                                      my-label-vertical="true"></my-tag-input>
                        <my-input my-label="Project Keywords" my-label-vertical="true" my-readonly="!isEditAllowed"
                                  my-model="project.keywords"></my-input>
                        <my-input my-label="Literature References" my-label-vertical="true" my-readonly="!isEditAllowed"
                                  my-model="project.references"></my-input>
                        <label class="control-label">Description</label>
                        <my-text-editor my-model="project.description" my-readonly="!isEditAllowed"></my-text-editor>
                        <my-file-uploader entityid="project.id"
                                                 my-readonly="!isEditAllowed"></my-file-uploader>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-info pull-left" type="button"
                    ng-disabled="!isCreateChildAllowed || !project.id"
                    ui-sref="notebook.new({projectId:project.id})">Create Notebook
            </button>
            <button type="submit" ng-click="save()" form="createProjectForm"
                    ng-disabled="!isEditAllowed || createProjectForm.$invalid || isSaving"
                    class="btn btn-info">Save
            </button>
            <button type="button" class="btn btn-default" onclick="window.history.back()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
            </button>
        </div>
    </div>