<div>
    <div class="panel panel-default projects" ng-class="{'project-create': project.id==null}"
         cg-busy="{promise:loading, minDuration:700}">
        <div class="panel-heading">
            Create or edit a Project
        </div>
        <div class="panel-body">
            <form id="createProjectForm" name="createProjectForm" role="form" novalidate ng-submit="save()"
                  class="form-horizontal" autocomplete="off">
                <div class="row">
                    <div class="col-xs-12">
                        <my-input my-label="Project Name"
                                  my-readonly="editDisabled"
                                  my-name="projectName"
                                  my-type="text"
                                  my-label-vertical="true"
                                  my-model="project.name"
                                  my-validation-obj="createProjectForm.projectName"
                                  my-validation-required="!project.name.trim()"></my-input>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-xs-6">
                        <label class="control-label">Project Members&nbsp;</label>
                        <button type="submit"
                                ui-sref="project.permissions({id:project.id})"
                                class="btn btn-primary "
                                ng-disabled="editDisabled">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br/>
                        <ul id="triple-list" class="members">
                            <li class="members" ng-repeat="member in project.accessList">
                            {{ '- ' + member.user.lastName + ' ' + member.user.firstName + ' (' + member.permissionView + ')' }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <my-tag-input my-label="Tags" my-model="tags" my-readonly="editDisabled"
                                      my-label-vertical="true"></my-tag-input>
                        <my-input my-label="Project Keywords" my-label-vertical="true" my-readonly="editDisabled"
                                      my-model="project.keywords"></my-input>
                        <my-input my-label="Literature References" my-label-vertical="true" my-readonly="editDisabled"
                                  my-model="project.references"></my-input>
                        <label class="control-label">Description</label>
                        <my-text-editor content="project.description"></my-text-editor>
                        <my-file-uploader-result ng-if="project.id" entityid="project.id"></my-file-uploader-result>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-info pull-left" type="button" ng-disabled="!project.id"
                    ui-sref="notebook.new({projectId:project.id})"
                    has-any-authority="{{NOTEBOOK_CREATORS}}">Create Notebook</button>
            <button type="submit" form="createProjectForm" ng-disabled="createProjectForm.$invalid || isSaving" class="btn btn-primary">
                Save
            </button>
            <button type="button" class="btn btn-default" onclick="window.history.back()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
            </button>
        </div>
    </div>
</div>