<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="editable-text">
                <h2 editable-text="project.name" ng-class="{disabled: editDisabled}" e-form="namefield" ng-click="show(namefield)">{{ project.name }}</h2>
            </div>

            <h4>Project Participants</h4>
            <div class="editable-users">
                <ul>
                    <li ng-repeat="user in project.users">{{user.login}}</li>
                </ul>
            </div>

            <!--<button class="btn btn-primary" type="button" ng-click="addUser()">Manage Users</button>-->

            <h4>Tags</h4>
            <tags-input ng-model="tags" ng-disabled="editDisabled"></tags-input>
            
            <h4>Keywords</h4>
            <div>
                <a ng-class="{disabled: editDisabled}" e-form="keyfield" ng-click="show(keyfield)"  editable-textarea="keywords" e-rows="3" e-cols="60">
                    <pre>{{ keywords || 'no keywords' }}</pre>
                </a>
            </div>

            <h4>Literature References</h4>

            <div>
                <a ng-class="{disabled: editDisabled}" e-form="refsfield" ng-click="show(refsfield)" editable-textarea="project.references" e-rows="3" e-cols="60">
                    <pre>{{ project.references || 'no literature references' }}</pre>
                </a>
            </div>

            <!--<button ng-click="editDisabled=!editDisabled">disable all / enable all</button>-->

            <h4>Description</h4>
            <textarea autofocus my-text-editor ng-model="project.description"></textarea>

            <!-- Attach files-->
            <my-file-uploader-result entityid="project.id"></my-file-uploader-result>


        </div>
    </div>
    <div style="margin-top: 30px;">
        <button class="btn btn-success" style="margin: 5px;" type="button" ng-click="save()">Save</button>
        <button class="btn btn-info" style="margin: 5px;" type="button" ng-click="newNotebook($event)">Create Notebook</button>
    </div>
</div>