<div class="tab-content-pad role-management">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <div class="row m-b20">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="vm.create()">
                <em class="fa fa-plus" aria-hidden="true"></em>
                <span class="m-l5">Create new Role</span>
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <div class="search-field m-t5">
                <em class="fa fa-search"></em>
                <input type="search" class="uui-search" placeholder="Search" ng-change="vm.search()" id="searchRole" ng-model="vm.searchText">
            </div>
        </div>
    </div>
    <div ng-if="vm.role" class="panel panel-info edit-form animated">
        <div class="panel-heading">Create/Update Role</div>
        <div class="panel-body ">
            <form id="editForm" name="editForm" role="form" novalidate ng-submit="vm.save()" autocomplete="off">

                <div class="row">
                    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                    <input class="hidden" type="text" name="fakeusernameremembered"/>
                    <input class="hidden" type="password" name="fakepasswordremembered"/>
                    <div class="col-xs-6">
                        <indigo-input
                                indigo-label="Name"
                                indigo-name="name"
                                indigo-type="text"
                                indigo-model="vm.role.name"
                                indigo-validation-required="true"
                                indigo-validation-maxlength="50"
                        ></indigo-input>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Authorities</label>
                        <div class="row">
                            <div class="col-xs-3" ng-repeat="authority in vm.authorities track by $index">
                                <div>
                                    <indigo-checkbox
                                            indigo-label="{{authority.description}}"
                                            indigo-disabled="authority.readonly"
                                            indigo-model="authority.checked"
                                            indigo-change="vm.updateAuthoritySelection(authority)"
                                            indigo-tooltip="{{authority.tooltip}}"
                                            indigo-tooltip-placement="right"
                                    ></indigo-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <em class="fa fa-ban"></em><span class="m-l5">Cancel</span>
            </button>
            <button type="button" class="btn btn-default m-l5" data-dismiss="modal" ng-click="vm.resetAuthorities()">Reset</button>
            <button type="submit" form="editForm" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary m-l5">
                <em class="fa fa-save"></em><span class="m-l5">Save</span>
            </button>
        </div>
    </div>
    <div class="table-responsive container-fluid">
            <div class="row">
                <div class="wrapper-authorities-col">
                    <table class="table table-striped authorities-table authorities-column">
                        <thead>
                            <tr>
                                <th><p>Role name</p></th>
                            </tr>
                        <tbody>
                            <tr ng-repeat="role in vm.roles track by role.id">
                                <td><div class="role-name" uib-tooltip="{{role.name}}">{{role.name}}</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div indigo-scroller="x">
                    <table class="table table-striped authorities-table">
                        <thead>
                        <tr>
                            <!--<th><p>Role name</p></th>-->
                            <th ng-repeat="authority in vm.authorities track by $index" uib-tooltip="{{authority.tooltip}}" tooltip-placement="top" tooltip-append-to-body="true"><p>{{authority.description}}</p></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="role in vm.roles track by role.id">
                            <!--<td><div class="role-name" uib-tooltip="{{role.name}}">{{role.name}}</div></td>-->
                            <td ng-repeat="authority in vm.authorities track by $index">
                                <span ng-class="{'glyphicon glyphicon-ok-sign': vm.hasAuthority(role, authority)}"
                                             class="role-check-icon"></span>
                            </td>
                            <td>
                                <button type="submit"
                                        ng-click="vm.edit(role)"
                                        ng-show="!role.system"
                                        class="btn btn-info btn-small">
                                    <em class="fa fa-pencil"></em>
                                    <span class="m-l5">Edit</span>
                                </button>
                                <button type="submit"
                                        ui-sref="entities.role-management.delete({id:role.id})"
                                        ng-show="!role.system"
                                        class="btn btn-info btn-small">
                                    <em class="fa fa-trash"></em>
                                    <span class="m-l5">delete</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>