<div class="tab-content-pad role-management">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <div class="row m-b20">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="create()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="m-l5">Create a new Role</span>
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <div class="search-field m-t5">
                <i class="fa fa-search"></i>
                <input type="search" class="uui-search" placeholder="Search" ng-change="search()" id="searchRole" ng-model="searchText">
            </div>
        </div>
    </div>
    <div ng-if="role" class="panel panel-info edit-form animated">
        <div class="panel-heading">Create/Update Role</div>
        <div class="panel-body ">
            <form id="editForm" name="editForm" role="form" novalidate ng-submit="save()" autocomplete="off">

                <div class="row">
                    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                    <input style="display:none" type="text" name="fakeusernameremembered"/>
                    <input style="display:none" type="password" name="fakepasswordremembered"/>
                    <div class="col-xs-6">
                        <my-input
                                my-label="Name"
                                my-name="name"
                                my-type="text"
                                my-model="role.name"
                                my-validation-required="true"
                                my-validation-maxlength="50"
                        ></my-input>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Authorities</label>
                        <div class="row">
                            <div class="col-xs-3" ng-repeat="authority in authorities track by $index">
                                <div>
                                    <my-checkbox
                                            my-label="{{authority.description}}"
                                            my-disabled="authority.readonly"
                                            my-model="authority.checked"
                                            my-change="updateAuthoritySelection(authority)"
                                            my-tooltip="{{authority.tooltip}}"
                                            my-tooltip-placement="right"
                                    ></my-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
            </button>
            <button type="button" class="btn btn-default m-l5" data-dismiss="modal" ng-click="resetAuthorities()">Reset</button>
            <button type="submit" form="editForm" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary m-l5">
                <i class="fa fa-save"></i><span class="m-l5">Save</span>
            </button>
        </div>
    </div>
    <div class="table-responsive" my-scroller="x">
        <table class="table table-striped authoritiesTable">
            <thead>
            <tr>
                <th><p>Role name</p></th>
                <th ng-repeat="authority in authorities track by $index"><p>{{authority.description}}</p></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in roles track by role.id">
                <td>{{role.name}}</td>
                <td ng-repeat="authority in authorities track by $index">
                    <span ng-class="{'glyphicon glyphicon-ok-sign': hasAuthority(role, authority)}"
                          class="role-check-icon"></span>
                </td>
                <td>
                    <button type="submit"
                            ng-click="edit(role)"
                            ng-show="!role.system"
                            class="btn btn-info btn-small">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="entities.role-management.delete({id:role.id})"
                            ng-show="!role.system"
                            class="btn btn-info btn-small">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>