<form name="saveForm" ng-submit="confirmSave()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h5 class="modal-title">Confirm save operation</h5>
    </div>
    <div class="modal-body">
        <p>You are trying to save Role without Authority, which allows you edit roles.<br/>
            You will lose access to this page after removal this Authority.<br/>
            Are you sure, you want to continue?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
        </button>
        <button type="submit" ng-disabled="saveForm.$invalid" class="btn btn-info">
            <i class="fa fa-save"></i><span class="m-l5">Save</span>
        </button>
    </div>
</form>
