<md-toolbar class="md-menu-toolbar">
  <div layout="row">
    <div>
      <md-menu-bar>
        <md-menu>
          <button ng-click="$mdOpenMenu()">
            New
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="newExperiment()">
                New Experiment
              </md-button>
            </md-menu-item>
          </md-menu-content>            
        </md-menu>
        <md-menu>
          <button ng-click="$mdOpenMenu()">
            Find
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="">
                Find experiment
              </md-button>
            </md-menu-item>
          </md-menu-content>            
        </md-menu>
        <md-menu>
          <button ng-click="$mdOpenMenu()">
            About
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="">
                Help Me!
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="">
                Awesome About
              </md-button>
            </md-menu-item>
          </md-menu-content>            
        </md-menu>
      </md-menu-bar>
    </div>
  </div>
</md-toolbar>