<div class="panel panel-info component" indigo-collapsible-component>
    <div class="panel-heading">
        Product Batch Details
    </div>
    <div class="panel-body collapsible">
        <div class="form-inline form-batch-details">
            <label>Notebook Batch #: <span ng-bind="vm.selectedBatch.fullNbkImmutablePart"></span></label>
            <indigo-select
                    indigo-model="vm.selectedBatch"
                    indigo-items="vm.batches"
                    indigo-change="vm.selectBatch(vm.selectedBatch)"
                    indigo-item-prop="nbkBatch"
                    indigo-control="vm.selectControl"
                    class="select-inline"
            ></indigo-select>
            <indigo-checkbox
                    indigo-model="vm.showSummary"
                    indigo-label="Show summary table"
            ></indigo-checkbox>
        </div>
        <indigo-batch-summary ng-if="vm.showSummary"
                              my-tab-support="true"
                              model="vm.model"
                              save-experiment-fn="vm.saveExperimentFn()"
                              is-hide-column-settings="true"
                              batches="vm.batches"
                              selected-batch="vm.selectedBatch"
                              selected-batch-trigger="vm.selectedBatchTrigger"
                              is-readonly="vm.isReadonly"
                              on-added-batch="vm.onAddedBatch({batch: batch})"
                              batch-operation="vm.batchOperation"
                              on-select-batch="vm.onSelectBatch({batch: batch})"
                              on-remove-batches="vm.onRemoveBatches({batches: batches})"
        ></indigo-batch-summary>
        <indigo-table ng-if="!vm.showSummary"
                      indigo-id="product-detail-table"
                      indigo-columns="vm.productTableColumns"
                      is-readonly="vm.isReadonly"
                      indigo-rows="vm.detailTable"
                      selected-batch="vm.selectedBatch"
                      selected-batch-trigger="vm.selectedBatchTrigger"
                      on-changed="vm.onChange()"
                      class="my-table-wrapper table-batch-details">

            <div class="action-panel m-b20">
                <div class="action-panel__left">
                    <span class="txt-small bold m-r5">Batches:</span>

                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-small" ng-click="vm.addNewBatch()">
                            <em class="fa fa-plus"></em>
                            <span class="m-l5">Add</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small"
                                ng-disabled="vm.isEditDisabled"
                                ng-click="vm.duplicateBatch()">
                            <em class="fa fa-clone"></em>
                            <span class="m-l5">Duplicate</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small"
                                ng-disabled="vm.isEditDisabled"
                                ng-click="vm.deleteBatch()">
                            <em class="fa fa-trash"></em>
                            <span class="m-l5">Delete</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small"
                                ng-disabled="vm.isReadonly || vm.isIntendedSynced()"
                                ng-click="vm.syncWithIntendedProducts()">
                            <em class="fa fa-refresh"></em>
                            <span class="m-l5">Sync</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small" disabled>VnV</button>
                        <button type="button" class="btn btn-info btn-small"
                                ng-disabled="vm.isEditDisabled"
                                ng-click="vm.registerBatch()">
                            <em class="fa fa-floppy-o"></em>
                            <span class="m-l5">Register</span>
                        </button>
                        <indigo-inline-loader promise="vm.batchOperation" class="product-batch-details__loader" on-status-changed="vm.onBatchOperationChanged(completed)"></indigo-inline-loader>
                        <div class="product-batch-details__radio">
                            <input type="radio"
                                   name="batchDetailsRadio"
                                   id="batchDetailsRadioIntermediate"
                                   ng-disabled="vm.isEditDisabled || vm.selectedBatch.batchType == 'Intermediate'"
                                   ng-click="vm.selectedBatch.batchType = 'Intermediate'; vm.onChanged()"
                                   ng-checked="vm.selectedBatch.batchType == 'Intermediate'"
                                   class="product-batch-details__input">
                            <label for="batchDetailsRadioIntermediate"
                                   class="product-batch-details__label">Intermediate</label>
                        </div>
                        <div class="product-batch-details__radio">
                            <input type="radio"
                                   name="batchDetailsRadio"
                                   id="batchDetailsRadioTest"
                                   ng-disabled="vm.isEditDisabled ||vm.selectedBatch.batchType == 'Test Compound'"
                                   ng-click="vm.selectedBatch.batchType = 'Test Compound'; vm.onChanged()"
                                   ng-checked="vm.selectedBatch.batchType =='Test Compound'"
                                   class="product-batch-details__input">
                            <label for="batchDetailsRadioTest"
                                   class="product-batch-details__label">Test Compound</label>
                        </div>
                    </div>
                </div>
                <div class="action-panel__right">
                    <span class="txt-small bold m-r5">SD File:</span>

                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-info btn-small  btn-can-loading {{(vm.importLoading) ? 'btn-loading' : ''}}"
                                ng-click="vm.importSDFile()" ng-disabled="vm.isReadonly || vm.isBatchLoading">
                            <em class="fa fa-cloud-download"></em>
                            <span class="m-l5">Import</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small" ng-click="vm.exportSDFile()"
                                ng-disabled="vm.isEditDisabled">
                            <em class="fa fa-cloud-upload"></em>
                            <span class="m-l5">Export</span>
                        </button>
                    </div>
                </div>
            </div>
        </indigo-table>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <indigo-select indigo-label="Status"
                               indigo-label-vertical="true"
                               indigo-model="vm.selectedBatch.regStatus"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-input indigo-label="Conversational Batch number"
                              indigo-model="vm.selectedBatch.conversationalBatchNumber"
                              indigo-label-vertical="true"
                              indigo-readonly="true"
                ></indigo-input>
                <indigo-input indigo-label="Virtual Compound Id"
                              indigo-model="vm.selectedBatch.virtualCompoundId"
                              indigo-label-vertical="true"
                              indigo-readonly="vm.isEditDisabled"
                ></indigo-input>
                <indigo-select indigo-label="Source"
                               indigo-label-vertical="true"
                               indigo-model="vm.selectedBatch.source"
                               indigo-dictionary="Source"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <!--Source detail block-->
                <indigo-select indigo-label="Source Detail"
                               indigo-label-vertical="true"
                               indigo-model="vm.selectedBatch.sourceDetail"
                               indigo-dictionary="Source Details"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <!--End block-->
                <indigo-select indigo-label="Stereoisomer Code"
                               indigo-label-vertical="true"
                               indigo-dictionary="Stereoisomer Code"
                               indigo-item-prop="name,description"
                               indigo-model="vm.selectedBatch.stereoisomer"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-simple-text indigo-label="Calculated Batch MW"
                                    indigo-model="vm.selectedBatch.molWeight.value | round"
                                    indigo-empty-text="none"
                ></indigo-simple-text>
                <indigo-simple-text indigo-label="Calculated Batch MF"
                                    indigo-model="vm.selectedBatch.formula"
                                    indigo-empty-text="none">
                </indigo-simple-text>
                <indigo-select indigo-label="Salt Code & Name"
                               indigo-label-vertical="true"
                               indigo-items="vm.saltCodeValues"
                               indigo-model="vm.selectedBatch.saltCode"
                               indigo-change="vm.recalculateSalt(vm.selectedBatch)"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-input indigo-label="Salt Equivalent"
                              indigo-model="vm.selectedBatch.saltEq.value"
                              indigo-change="vm.recalculateSalt(vm.selectedBatch)"
                              indigo-type="number"
                              indigo-label-vertical="true"
                              indigo-readonly="vm.isEditDisabled || !vm.canEditSaltEq()"
                ></indigo-input>
                <indigo-text-area indigo-label="Structure comments"
                                  indigo-model="vm.selectedBatch.structureComments"
                                  indigo-label-vertical="true"
                                  indigo-readonly="vm.isEditDisabled"
                ></indigo-text-area>
            </div>
            <div class="col-md-4 col-sm-6">
                <indigo-select indigo-label="Compound State"
                               indigo-label-vertical="true"
                               indigo-dictionary="Compound State"
                               indigo-model="vm.selectedBatch.compoundState"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-input indigo-label="Precursor/Reactant IDs"
                              indigo-model="vm.selectedBatch.precursors"
                              indigo-label-vertical="true"
                              indigo-readonly="vm.isEditDisabled || vm.isExistStoichTable"
                ></indigo-input>
                <indigo-input indigo-label="Purity"
                              indigo-model="vm.selectedBatch.purity.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.purity.asString">
                    <button class="btn btn-info" type="button" ng-click="vm.editPurity()"
                            ng-disabled="vm.isEditDisabled">
                        Edit
                    </button>
                </indigo-input>
                <indigo-input indigo-label="Melting Point"
                              indigo-model="vm.selectedBatch.meltingPoint.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.meltingPoint.asString"
                >
                    <button class="btn btn-info" type="button" ng-click="vm.editMeltingPoint()"
                            ng-disabled="vm.isEditDisabled">Edit
                    </button>
                </indigo-input>
                <indigo-input indigo-label="Residual Solvents"
                              indigo-model="vm.selectedBatch.residualSolvents.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.residualSolvents.asString"
                >
                    <button class="btn btn-info" ng-click="vm.editResidualSolvents()" type="button"
                            ng-disabled="vm.isEditDisabled">Edit
                    </button>
                </indigo-input>
                <indigo-input indigo-label="Solubility in Solvents"
                              indigo-model="vm.selectedBatch.solubility.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.solubility.asString"
                >
                    <button class="btn btn-info" ng-click="vm.editSolubility()" type="button"
                            ng-disabled="vm.isEditDisabled">
                        Edit
                    </button>
                </indigo-input>
                <indigo-input indigo-label="External Supplier"
                              indigo-model="vm.selectedBatch.externalSupplier.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.externalSupplier.asString"
                >
                    <button class="btn btn-info" ng-click="vm.editExternalSupplier()" type="button"
                            ng-disabled="vm.isEditDisabled">Edit
                    </button>
                </indigo-input>
            </div>
            <div class="col-md-4 col-sm-6">
                <indigo-select indigo-label="Compound Protection"
                               indigo-model="vm.selectedBatch.compoundProtection"
                               indigo-label-vertical="true"
                               indigo-dictionary="Compound Protection"
                               indigo-readonly="vm.isEditDisabled"
                ></indigo-select>
                <indigo-input indigo-label="Health Hazards"
                              indigo-model="vm.selectedBatch.healthHazards.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.healthHazards.asString"
                >
                    <button class="btn btn-info" type="button" ng-click="vm.editHealthHazards()"
                            ng-disabled="vm.isEditDisabled">Edit
                    </button>
                </indigo-input>
                <indigo-input indigo-label="Handling Precautions"
                              indigo-model="vm.selectedBatch.handlingPrecautions.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.handlingPrecautions.asString"
                >
                    <button class="btn btn-info" type="button" ng-click="vm.editHandlingPrecautions()"
                            ng-disabled="vm.isEditDisabled">Edit
                    </button>
                </indigo-input>
                <indigo-input indigo-label="Storage Instructions"
                              indigo-model="vm.selectedBatch.storageInstructions.asString"
                              indigo-label-vertical="true"
                              indigo-input-group="append"
                              indigo-readonly="true"
                              indigo-tooltip="vm.selectedBatch.storageInstructions.asString"
                >
                    <button class="btn btn-info" type="button" ng-click="vm.editStorageInstructions()"
                            ng-disabled="vm.isEditDisabled">Edit
                    </button>
                </indigo-input>
                <indigo-text-area indigo-label="Batch Comments"
                                  indigo-model="vm.selectedBatch.comments"
                                  indigo-label-vertical="true"
                                  indigo-readonly="vm.isEditDisabled"
                ></indigo-text-area>
            </div>
        </div>
    </div>
</div>