<div class="modal-header">
    <h5 class="modal-title">Reactant Structure Search</h5>
</div>
<div class="modal-body">
    <div class="well well-sm">


        <div class="row analyze-rxn-row">
            <div class="col-xs-12">
                <div>
                    <label>Reactants: </label>
                    <span ng-repeat="reactant in model.reactants">{{reactant}}<span ng-if="!$last">, </span></span>
                </div>
            </div>
        </div>
        <my-checklist my-items="model.databases" my-label="Choose catalog to search in"></my-checklist>
    </div>
    <div>
        <button class="btn btn-primary"
                type="button"
                ng-click="search()">Search
        </button>
    </div>
    <br>
    <div ng-if="isSearchCompleted" class="search-result-container">
        <div class="row">
            <div class="col-xs-3 reagent-search-collapse" ng-init="$$isSelectedReactantsCollapsed=true">
                <a ng-click="$$isSelectedReactantsCollapsed = !$$isSelectedReactantsCollapsed">
                        <span ng-class="{'glyphicon glyphicon-triangle-right':$$isSelectedReactantsCollapsed,
                             'glyphicon glyphicon-triangle-bottom':!$$isSelectedReactantsCollapsed}"></span>
                    Selected reactants ({{model.selectedReactants.length}})
                </a>
            </div>
            <button class="col-xs-2 btn btn-default btn-sm search-button"
                    type="button"
                    ng-click="addToStoichTable(searchResult)"
                    ng-disabled="!model.selectedReactants.length">
                <span class="glyphicon glyphicon-plus"></span> Add to Stoich. Table
            </button>
        </div>
        <div uib-collapse="$$isSelectedReactantsCollapsed" class="analyze-rxn-selected-reactants">
            <div ng-repeat="reactant in model.selectedReactants"><span class="glyphicon glyphicon-ok">&nbsp;</span>{{reactant.molFormula}}
            </div>
        </div>
        <uib-tabset active="activeForm">
            <uib-tab ng-repeat="tab in tabs" heading="{{tab.formula}} ({{tab.searchResult.length}} results)"
                     active="tab.active">
                <div class="search-tab-content">
                    <strong>{{tab.searchResult.length}} results found</strong>
                    <div class="row">
                        <div class="col-xs-12">
                            <search-result-table my-table-content="tab.searchResult"
                                                 my-editable-info="false"
                                                 my-single-item-per-tab="true"
                                                 my-selected-items-per-tab="model.selectedReactants"
                                                 my-tab="tab"></search-result-table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>


</div>
<div class="modal-footer text-right">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
