$sidebar-width: 250px;
$sidebar-collapsed-width: 60px;
$sidebar-padding: 5px 1em;
$sidebar-collapsed-padding: 5px;
$mobile-height: 60px;
$text-color: var(--neutral-1000);
$active-color: var(--primary-400);
$hover-color: var(--primary-alpha-10);

#sidebar {
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--neutral-200);
  background: var(--neutral);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  width: $sidebar-width;
  padding: $sidebar-padding;
  background-color: var(--neutral);
  overflow-y: auto;
  text-wrap: nowrap;
  transition: 300ms ease-in-out;

  em {
    font-size: 24px;
  }

  &.collapsed {
    width: $sidebar-collapsed-width;
    padding: $sidebar-collapsed-padding;

    & + .page-content {
      padding-left: calc($sidebar-collapsed-width + 32px);
    }
  }

  ul {
    list-style: none;

    > li:first-child {
      border-top: none;
      cursor: pointer;
      .logo {
        font-weight: 600;
      }
    }

    li.active a {
      em {
        color: $active-color;
      }
      background-color: $hover-color;
      svg {
        fill: $active-color;
      }
    }
  }

  a,
  .logo {
    border-radius: 0.5em;
    padding: 0.85em;
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  svg {
    flex-shrink: 0;
    fill: $text-color;
  }

  a span {
    flex-grow: 1;
  }

  a:hover {
    background-color: $hover-color;
  }
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;

  svg {
    transition: 200ms ease;
  }
}

.rotate svg:last-child {
  rotate: 180deg;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }

  &:hover {
    background-color: $hover-color;
  }
}
