simple-checkbox {
  .simple-checkbox {
    background-color: #fff;
    border-color: #ddd;
    color: #3f51b5;
    padding: 1px 3px 1px 5px;
    font: 10px 'Oswald Regular', sans-serif;
    margin-right: 5px;
    margin-top: -3px;
  }
}