<div class="controls-row">
    <ul class="controls-list">
        <li ng-if="!vm.isDashboard" ui-sref="experiment">
            <a>
                <span class="fa fa-home"></span>
                <span class="tooltip-icon-header">Home</span>
            </a>
        </li>
        <li uib-dropdown on-toggle="toggled(open)" id="new-entity-dropdown" uib-dropdown-toggle>
            <a>
                <span class="fa fa-file-o"></span>
                <span class="tooltip-icon-header">New Entity</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="new-entity-dropdown"
                indigo-has-any-authority="{{vm.ENTITY_CREATORS}}">
                <li indigo-has-any-authority="{{vm.PROJECT_CREATORS}}">
                    <a ui-sref="entities.project-new">New Project</a>
                </li>
                <li indigo-has-any-authority="{{vm.NOTEBOOK_CREATORS}}">
                    <a ng-click="vm.createNotebook()">New Notebook</a>
                </li>
                <li indigo-has-any-authority="{{vm.EXPERIMENT_CREATORS}}">
                    <a ng-click="vm.createExperiment()">New Experiment</a>
                </li>
            </ul>
        </li>
        <li indigo-toggle-class-child="open-menu" ng-hide="true">
            <a>
                <span class="fa fa-arrow-circle-o-up"></span>
                <span class="tooltip-icon-header">Fake Tooltip</span>
            </a>
        </li>
        <li uib-dropdown on-toggle="toggled(open)" id="opened-entities-dropdown" uib-dropdown-toggle>
            <a ng-class="{'disabled' : vm.isDashboard &&  !vm.entities.length}">
                <span class="fa fa-th-large"></span>
                <span class="tooltip-icon-header">Opened Entities</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="opened-entities-dropdown">
                <li ng-if="!vm.isDashboard" ng-click="vm.onCloseAllTabs()">
                    <a>Close All</a>
                </li>
                <li ng-if="!vm.isDashboard" ng-click="vm.onCloseNonActiveTabs()">
                    <a>Close All Except Active Entity</a>
                </li>

                <li ng-repeat="entity in vm.entities">
                    <a>
                        <span class="capitalized d-flex" ng-click="vm.onTabClick(entity)" ng-class="{'active' : entity.tabKey === vm.activeTab.tabKey}">
                            <span ng-bind="entity.name + ' '+ entity.$$title"></span>&nbsp;
                        <span class="glyphicon glyphicon-remove text-muted pull-right clickable experiment-tab-close top-3"
                            ng-click="vm.onCloseTabClick($event, entity);"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-click="vm.openSearch()" indigo-has-authority="{{vm.GLOBAL_SEARCH}}">
            <a>
                <span class="fa fa-search"></span>
                <span class="tooltip-icon-header">Search</span>
            </a>
        </li>
        <li>
            <a class="item-null-link"></a>
        </li>
        <li ng-if="!vm.isDashboard">
            <a ng-click="vm.save()" ng-class="{'disabled' : !vm.canSave() }">
                <span class="fa fa-floppy-o"></span>
                <span class="tooltip-icon-header">Save</span>
            </a>
        </li>
        <li ng-if="!vm.isDashboard">
            <a ng-click="vm.duplicate()" ng-class="{'disabled' : !vm.canDuplicate() }">
                <span class="fa fa-files-o"></span>
                <span class="tooltip-icon-header">Duplicate</span>
            </a>
        </li>
        <li ng-if="false">
            <a ng-disabled="vm.canUndo()" ng-click="vm.onUndo()">
                <span class="fa fa-mail-reply"></span>
                <span class="tooltip-icon-header">Undo</span>
            </a>
        </li>
        <li ng-if="false">
            <a ng-disabled="vm.canRedo()" ng-click="vm.onRedo()">
                <span class="fa fa-mail-forward"></span>
                <span class="tooltip-icon-header">Redo</span>
            </a>
        </li>
        <li ng-if="false">
            <a>
                <span class="fa fa-inbox"></span>
                <span class="tooltip-icon-header">Fake Tooltip</span>
            </a>
        </li>
        <li ng-if="false">
            <a>
                <span class="fa fa-folder-open"></span>
                <span class="tooltip-icon-header">Fake Tooltip</span>
            </a>
        </li>
        <li ng-if="!vm.isDashboard">
            <a ng-click="vm.print()" ng-class="{'disabled' : !vm.canPrint() }">
                <span class="fa fa-print"></span>
                <span class="tooltip-icon-header">Print</span>
            </a>
        </li>
        <li ng-if="!vm.isDashboard">
            <a class="item-null-link"></a>
        </li>
        <li indigo-toggle-class-child="open-menu">
            <a>
                <span class="fa fa-cog"></span>
                <span class="tooltip-icon-header">Fake Tooltip</span>
            </a>
        </li>
        <li indigo-toggle-class-child="open-menu">
            <a>
                <span class="fa fa-question-circle"></span>
                <span class="tooltip-icon-header">Fake Tooltip</span>
            </a>
        </li>
    </ul>
</div>
