<div class="panel panel-info panel-main-wrapper notebooks" ng-class="{'notebook-create': !notebook.id}"
     cg-busy="{promise:loading, minDuration:700}">
    <!--<div class="panel-heading" ng-show="newNotebook">-->
        <!--<span>New Notebook</span>-->
    <!--</div>-->
    <div class="panel-body" my-scroller="y" my-scroller-theme="indigo-thick">
        <form id="createNotebookForm" name="createNotebookForm" role="form" novalidate ng-submit="save()"
              class="form-horizontal" autocomplete="off">
            <div class="row">

                <div class="col-xs-12">
                    <my-input my-label="Notebook Name"
                              my-name="notebookName"
                              my-model="notebook.name"
                              my-readonly="!isEditAllowed"
                              my-label-vertical="true"
                              my-validation-pattern="/^\d{8}$/"
                              my-validation-pattern-text="Only 8 digits possible in this field. Example : 01234567"
                              my-validation-required="true"></my-input>
                </div>
            </div>
            <div class="row">
                <div  class="col-xs-12">
                    <label class="control-label">Notebook Members&nbsp;</label>
                    <button type="submit"
                            ui-sref="entities.notebook-new.permissions({projectId:projectId})"
                            ng-if="!notebook.id"
                            class="btn btn-default btn-small"
                            ng-disabled="!isEditAllowed">
                        <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="entities.notebook-detail.permissions({projectId:projectId, notebookId:notebook.id})"
                            ng-if="notebook.id"
                            class="btn btn-default btn-small"
                            ng-disabled="!isEditAllowed">
                        <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                    </button>
                    <button type="button" class="btn btn-default btn-small" ng-click="isCollapsed = !isCollapsed">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View Members</span>
                    </button>
                    <div uib-collapse="isCollapsed">
                        <hr>
                        <div class="col-xs-12">
                            <ul id="triple-list" class="members">
                                <li class="members" ng-repeat="member in notebook.accessList track by $index">
                                    {{ '- ' + member.user.lastName + ' ' + member.user.firstName + ' (' + member.permissionView
                                    + ')' }}
                                </li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label">Notebook Description</label>
                    <my-text-editor my-name="notebookDescription"
                                    my-model="notebook.description"
                                    my-readonly="!isEditAllowed"></my-text-editor>
                </div>
            </div>
            <div class="panel panel-default" style="margin:8px;">
                <div class="panel-heading">Contents for Notebook {{notebook.name}}</div>
                <table class="main-table table table-striped table-condensed">
                    <thead class="main-table__header">
                    <tr class="table-list">
                        <th style="width:15%" class="table-list__item table-list__item_header">Notebook - Experiment
                        </th>
                        <th style="width:35%" class="table-list__item table-list__item_header">Experiment Details</th>
                        <th style="width:35%" class="table-list__item table-list__item_header">Reaction Scheme</th>
                        <th style="width:15%" class="table-list__item table-list__item_header">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="main-table__body">
                    <tr class="table-list" ng-repeat="exp in experiments track by $index">
                        <!--<td class="table-list__item">-->
                        <!--<a ui-sref="entities.experiment-detail({projectId: exp.projectId, notebookId: exp.notebookId, experimentId: exp.experimentId})">{{exp.id}}</a>-->
                        <!--</td>-->
                        <td class="table-list__item">{{notebook.name + '-' + exp.name}}</td>
                        <td class="table-list__item">
                            <p>Creation date: {{exp.creationDate | date:'MMM dd yyyy'}}</p>
                            <p>Subject/Title: {{exp.reactionDetails.title || exp.conceptDetails.title}}</p>
                            <p>Author: {{exp.author.firstName + ' ' + exp.author.lastName}}</p>
                            <p>Experiment Status: {{exp.status}}</p>
                        </td>
                        <td class="table-list__item">
                            <img style="padding: 10px; background-color: white; "
                                 class="img-responsive center-block"
                                 ng-src="data:image/svg+xml;base64,{{exp.components.reaction.image}}"
                                 alt="Image is unavailable.">
                        </td>
                        <td class="table-list__item">
                            <a ui-sref="entities.experiment-detail({projectId: projectId, notebookId: notebook.id, experimentId: exp.id})">OPEN</a><span>, </span>
                            <a ui-sref="experiment-print({projectId: projectId, notebookId: notebook.id, experimentId: exp.id})">PRINT</a><span>, </span>
                            <a ng-click="repeatExperiment(exp, {projectId: projectId, notebookId: notebook.id, experimentId: exp.id})">REPEAT</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-info pull-left" type="button"
                ng-disabled="!isCreateChildAllowed || !notebook.id"
                ui-sref="experiment.new({projectId:projectId, notebookId:notebook.id})">Create Experiment
        </button>
        <button type="submit" form="createNotebookForm"
                ng-disabled="!isEditAllowed || createNotebookForm.$invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span> Save</span>
        </button>
        <button type="button" class="btn btn-default" onclick="window.history.back()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span> Cancel</span>
        </button>
    </div>
</div>