@import 'variables.less';
@import 'mixin.less';
@import 'helper.less';

/******************DIALOGS STYLE*********************/

.modal-dialog {
  .modal-header {
    //background-color: #CFD8DC;

    .modal-title{
      font-size: 16pt;
      font-family: 'Oswald Regular', sans-serif;
      color: #616161;
      text-transform: uppercase;
    }
  }
  .modal-footer {
    padding: 10px 20px;
  }
}