@import 'variables.less';
@import 'mixin.less';
@import 'helper.less';

/******************DIALOGS STYLE*********************/

.modal-dialog {

  .modal-title{
    font-size: @modal-title-size;

    .glyphicon, .fa {
      margin-right: 5px;
    }
  }

  .modal-footer {
    border: 0 none;
  }
}

.countdown-dialog {
  position: relative;

  span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
  }
}
