@import 'variables.less';
@import 'mixin.less';
@import 'helper.less';

/******************HEADER*********************/

.uui-header {
  min-width: 1020px;
  .position-fixed-top-left(0, 0);
  width: 100%;
  z-index: 1000;

  &-tools {
    float: right;
    margin-right: 20px;

    > * {
      float: left;
    }
  }
}

.navbar {
  background-color: @navbar-bg;
  border: 0 none;
  color: @navbar-color;
}

//Logo

.logo {
  background: url("../images/logo_new.png") 0 0 no-repeat;
  .h-w(37px, 117px);
  float: left;
  margin: 13px 0 0 20px;
}

//Toggle Button

.uui-toggle-box {
  background-color: @uui-toggle-box-bg;
  cursor: pointer;
  float: left;
  .h-w(@uui-toggle-box-height, @uui-toggle-box-width);
  padding-top: 22px;
  position: relative;

  > * {
    background: @uui-toggle-box-color;
    display: block;
    .h-w(@uui-toggle-box-span-height, @uui-toggle-box-span-width);
    margin: 0 auto;

    + * {
      margin-top: 5px;
    }
  }
}

//Header tools

.profile {
  padding: @profile-pad;

  &-photo {
    .border-radius(50%);
    display: block;
    .h-w(@profile-photo-size, @profile-photo-size);
    overflow: hidden;
  }

  .dropdown-menu {
    border: 0 none;
    min-width: 0;
    margin: 0;
    top: 60px;

    > li a {
      background-color: @profile-dropdown-item-bg;
      color: @profile-dropdown-item-color;
      font: @profile-dropdown-item-size @profile-dropdown-item-family;
      padding: @profile-dropdown-item-pad;
      text-transform: uppercase;

      &:hover, &:focus, &:active {
        background-color: @profile-dropdown-item-hover-bg;
      }
    }
  }

  &.open {
    background-color: @profile-open-bg;
  }
}

.search-field {
  &.active {
    .form-control-search {
      background: @white url("../images/icon-search-active.png") left+10px center no-repeat;
      color: @form-control-search-active-color;
      .placeholder(@form-control-search-active-color);
      width: 350px;
    }
  }
}

.form-control-search {
  background: @form-control-search-bg url("../images/icon-search.png") left+10px center no-repeat;
  border-color: transparent;
  .border-radius(@form-control-search-radius);
  color: @form-control-search-color;
  width: @form-control-search-width;
  .placeholder(@form-control-placeholder-color);
  .placeholder-size(@form-control-search-size);
  padding-left: 35px;
  .transition(all, 0.3s, linear);
}
