.cg-notify-message {
  position: absolute;
  min-width: 100%;
  font-family: Arial;
  color: white;
}
#page-content {
  position: relative;
}
.cg-notify-close {
  font-size: 30px;
  top: 17px;
  right: 17px;
}
.success-notify {
    background-color: #A3C644;
}

.danger-notify {
    background-color: #E4445F;
}

.warning-notify {
    background-color: #FFF290;
}