.cg-notify-message {
    position: absolute;
    min-width: 100%;
    font-family: Arial;
}

#page-content {
    position: relative;
}

.cg-notify-close {
  font-size: 30px;
  top: 17px;
  right: 17px;
}