@import 'variables.less';
@import 'mixin.less';
@import 'helper.less';

/******************TYPE*********************/

a {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald Regular',Arial,sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

hr {
  &.hr-top {
    margin-top: 5px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fa, .glyphicon {
  cursor: pointer;
}

