@import "../../bower_components/bootstrap/less/variables.less";
//Brand Colors

@bg-white: #fff;
@bg-dark: #37474f;
@bg-gray: #90a4ae;
@bg-gray-l1: #cfd8dc;
@bg-gray-l2: #eceff1;
@bg-gray-l3: #d1dade;
@bg-gray-d1: #607d8b;
@bg-gray-d2: #546e7a;
@bg-gray-d3: #9fb0b9;
@bg-blue: #b2ebf2;
@bg-blue-l1: #b2ebf2;
@bg-blue-l2: #e0f7fa;
//text color
@link-color: darken(#428bca, 6.5%);
@link-color-blue: @bg-blue;
@link-color-black: @bg-dark;
@link-color-black-d1: @bg-gray-d1;
@link-color-gray: @bg-gray;
@link-color-gray-d1: #6b8693;

//border color

@br-gray-l1: @bg-gray-l1;
@br-blue: @bg-blue;
@br-gray-d1: #607d8b;

@padding-base-vertical: 3px;
@padding-base-horizontal: 3px;
@input-height-base: 28px;
@input-color: #87888b;
//@input-border: #87e0eb;
//@line-height-base:  1.4;

@btn-info-color: #23aabb;
@btn-info-bg: #b2ebf2;
@btn-info-border: #23aabb;

@btn-default-color: #80878a;
@btn-default-bg: #cfd8dc;
@btn-default-border: #80878a;

@gray-dark: #80878a;

@brand-danger: #efbdd1;
@btn-danger-color: #c97f9d;
@btn-danger-border: #c97f9d;
//@btn-info-bg: #cfd8dc;
//@btn-info-border: #7f8589;
//@brand-primary: #4ed0e1;
//@panel-primary-text: @gray-base;




@bg1: #fff;
@bg2: #37474f;
@bg3: #90a4ae;
@bg4: #cfd8dc;
@bg5: #eceff1;
@bg6: #d1dade;
@bg7: #dae1e4;
@bg8: #607d8b;
@bg9: #546e7a;
@bg10: #9fb0b9;
@bg11: #4dd0e1;
@bg12: #b2ebf2;
@bg13: #e0f7fa;

//border color

@br1: @bg4;
@br2: @bg11;
@br3: @bg8;

//text color

@link-color1: @bg11;
@link-color2: @bg2;
@link-color3: @bg8;
@link-color4: @bg3;
@link-color5: #6b8693;
@link-color6: #687f8b;


@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-sourcesanspro/sourcesanspro-regular.woff') format('woff'),
  url('../fonts/font-sourcesanspro/sourcesanspro-regular.ttf') format('truetype'),
  url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-sourcesanspro/sourcesanspro-bold.woff') format('woff'),
  url('../fonts/font-sourcesanspro/sourcesanspro-bold.ttf') format('truetype'),
  url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-sourcesanspro/sourcesanspro-semibold.woff') format('woff'),
  url('../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf') format('truetype'),
  url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-sourcesanspro/sourcesanspro-light.woff') format('woff'),
  url('../fonts/font-sourcesanspro/sourcesanspro-light.ttf') format('truetype'),
  url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-sourcesanspro/sourcesanspro-it.woff') format('woff'),
  url('../fonts/font-sourcesanspro/sourcesanspro-it.ttf') format('truetype'),
  url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/font-oswald/oswald-regular.eot');
  src: url('../fonts/font-oswald/oswald-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-oswald/oswald-regular.woff') format('woff'),
  url('../fonts/font-oswald/oswald-regular.ttf') format('truetype'),
  url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/font-oswald/oswald-bold.eot');
  src: url('../fonts/font-oswald/oswald-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-oswald/oswald-bold.woff') format('woff'),
  url('../fonts/font-oswald/oswald-bold.ttf') format('truetype'),
  url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/font-oswald/oswald-light.eot');
  src: url('../fonts/font-oswald/oswald-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-oswald/oswald-light.woff') format('woff'),
  url('../fonts/font-oswald/oswald-light.ttf') format('truetype'),
  url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

//Colors

@brand1:                              #283593; //dark blue
@brand2:                              #3f51b5; // blue
@brand3:                              #84d5fb; //lighter blue (button bg)
@brand4:                              #edf9fe; //light blue


@brand5:                              #ffdc19; //yellow
@brand6:                              #ff9b19; //orange
@brand7:                              #f2f2f2; //light grey

//Gray color

@black:                               #000;
@darkest-gray:                        #212121;
@darker-gray:                         #424242;
@dark-gray:                           #7d7d7d;
@gray:                                #616161; //text-color
@gray-lighter:                        #ededed; //bg content gray (body bg)
@gray-light:                          #fafafa;
@white:                               #fff;

@larger-size:                         20px;
@large-size:                          16px;
@border-color:                        #d1d0d0;


//Buttons

@btn-bg:                              @brand4;
@btn-color:                           @white;
@btn-pad:                             7px 18px;
@btn-size:                            14px;
@btn-family:                          'Oswald Regular', sans-serif;

@btn-info-border-color:               @brand3;
@btn-info-focus-border-color:         #25a4b8;
@btn-small-size:                      12px;
@btn-small-pad:                       2px 12px;

@btn-default-border-color:            @border-color;
@btn-primary-border-color:            @brand2;

//Navbar

@navbar-bg:                           @brand2;
@navbar-color:                        @white;

@uui-toggle-box-bg:                   @darker-gray;
@uui-toggle-box-color:                @white;
@uui-toggle-box-height:               60px;
@uui-toggle-box-width:                54px;
@uui-toggle-box-span-height:          2px;
@uui-toggle-box-span-width:           18px;

@profile-pad:                         11px 13px;
@profile-open-bg:                     @brand1;
@profile-photo-size:                  38px;

@profile-dropdown-item-bg:            @profile-open-bg;
@profile-dropdown-item-color:         @white;
@profile-dropdown-item-pad:           10px 8.9px 10px 8px;
@profile-dropdown-item-size:          @large-size;
@profile-dropdown-item-family:        'Oswald Regular', sans-serif;
@profile-dropdown-item-hover-bg:      @brand2;

@form-control-search-bg:              @brand1;
@form-control-search-radius:          25px;
@form-control-search-color:           @white;
@form-control-search-size:            @large-size;
@form-control-placeholder-color:      #5c6bc0;
@form-control-search-width:           192px;
@form-control-search-active-color:    @darker-gray;

//sidebar

@sidebar-bg:                          @darker-gray;
@sidebar-width:                       250px;
@sidebar-item-open-bg:                @darkest-gray;
@sidebar-link-color:                  #ccc;
@sidebar-link-pad:                    14px 18px;
@sidebar-link-size:                   18px;
@sidebar-link-family:                 'Oswald Light', sans-serif;
@sidebar-link-hover-color:            @white;
@sidebar-link-first-color:            @white;
@sidebar-link-first-size:             16px;
@sidebar-link-first-family:           'Oswald Regular', sans-serif;
@sidebar-link-first-hover-bg:         @brand3;
@sidebar-link-first-icon-size:        @larger-size;
@sidebar-link-first-icon-width:       24px;

//main controls

@controls-row-bg:                     @gray-lighter;
@controls-list-border:                1px solid @border-color;
@controls-list-item-color:            @dark-gray;
@controls-list-item-size:             @larger-size;
@controls-list-item-height:           39px;
@controls-list-item-width:            44px;
@controls-list-item-hover-bg:         @dark-gray;
@controls-list-item-hover-color:      @white;

@tooltip-color:                       @white;
@tooltip-size:                        14px;
@tooltip-family:                      'Source Sans Pro Semibold', sans-serif;;

//Main tabs

@tabs-link-color:                     @gray;
@tabs-link-family:                    'Oswald Regular', sans-serif;
@tabs-link-pad:                       14px 15px 13px;
@tabs-link-hover-color:               @brand2;




