.status-badge-v2 {
  display: inline-flex;
  align-items: center;
  min-height: 24px;
  height: 24px;
  border-radius: 6px;
  background: #fff;
  color: var(--COLORS-Neutral-1000, #242424);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0;
  padding: 2px 8px;
  gap: 2px;
  box-sizing: border-box;

  .status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 0;
    display: inline-block;
    background: #555;
  }
}
.status-badge-v2.status-open {
  background: var(--COLORS-Blue-10, #3f50b51a);
  border: 1px solid var(--COLORS-Blue-400, #3f50b5);
  .status-dot {
    background: var(--COLORS-Blue-400, #3f50b5);
  }
}
.status-badge-v2.status-waiting-for-signature {
  background: var(--COLORS-Yellow-10, #ffdb431a);
  border: 1px solid var(--COLORS-Yellow-300, #ccaf36);
  .status-dot {
    background: var(--COLORS-Yellow-300, #ccaf36);
  }
}
.status-badge-v2.status-completed {
  background: var(--COLORS-Green-10, #1fc16b1a);
  border: 1px solid var(--COLORS-Green-200, #1fc16b);
  .status-dot {
    background: var(--COLORS-Green-200, #1fc16b);
  }
}
.status-badge-v2.status-rejected {
  background: var(--COLORS-Red-10, #fb37481a);
  border: 1px solid var(--COLORS-Red-200, #fb3748);
  .status-dot {
    background: var(--COLORS-Red-200, #fb3748);
  }
}
