<div class="panel panel-info product-batch-summary" indigo-collapsible-component
     cg-busy="{promise:syncingIntendedProducts, minDuration:700}">
    <div class="panel-heading">
        Preferred Compound Summary
    </div>
    <div class="panel-body collapsible">
        <div ng-show="vm.isStructure" class="stucture-size">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-xs-2">
                        Structure size:
                    </div>
                    <div class="col-xs-10">
                        <!--TODO testOptions.value???-->
                        <slider ng-model="vm.structureSize" min="0.3" step="0.01" max="4"
                                value="testOptions.value"></slider>
                    </div>
                </div>
            </div>
        </div>

        <!--TODO isVisible???-->
        <indigo-compound-summary model="vm.model"
                                 experiment-name="vm.experiment.name"
                                 on-show-structure="vm.showStructure(isVisible)"
                                 structure-size="vm.structureSize"
                                 is-readonly="vm.isReadonly"
                                 selected-batch="vm.selectedBatch"
                                 selected-batch-trigger="vm.selectedBatchTrigger"
                                 on-select-batch="vm.onSelectBatch({batch: batch})">
        </indigo-compound-summary>
    </div>
</div>