<div class="modal-header">
    <h5 class="modal-title" ng-bind="vm.title"></h5>
</div>
<div class="modal-body long-content-popup">
    <p ng-bind-html="vm.message"></p>
</div>
<div class="modal-footer">
    <button class="btn" ng-class="::vm.getBtnClass()"
            type="button"
            ng-click="vm.ok()"
            ng-bind="vm.okText">
    </button>
    <button class="btn btn-info"
            type="button"
            ng-click="vm.no()"
            ng-if="vm.hasNoCallback"
            ng-bind="vm.noText">
    </button>
    <button class="btn btn-default"
            type="button"
            ng-if="vm.cancelVisible"
            ng-click="vm.cancel()">
        <i class="icon icon-stop"></i><span class="m-l5" i-translate="CANCEL"></span>
    </button>
</div>
