<div>
    <indigo-table indigo-id="product-batch-summary"
                  indigo-tab-support="true"
                  indigo-columns="vm.columns"
                  indigo-rows="vm.batches"
                  indigo-draggable-columns="true"
                  indigo-search-columns="['nbkBatch']"
                  is-readonly="vm.isReadonly"
                  indigo-editable="vm.isEditable"
                  on-select-row="vm.onRowSelected(row)"
                  indigo-hide-column-settings="vm.isHideColumnSettings"
                  selected-batch="vm.selectedBatch"
                  selected-batch-trigger="vm.selectedBatchTrigger"
                  on-changed="vm.onChange()"
              ng-class="{'product-batch-register': vm.isReadonly || !vm.isHasCheckedRows()}">
        <div class="row m-b20">
            <div class="col-lg-8 m-bt-lg">
                <span class="txt-small bold m-r5">Batches:</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-small"
                            ng-disabled="vm.isReadonly"
                            ng-click="vm.addNewBatch()">
                        <i class="fa fa-plus"></i>
                        <span class="m-l5">Add</span>
                    </button>
                    <button type="button" class="btn btn-info btn-small"
                            ng-disabled="vm.isReadonly || !vm.isHasCheckedRows()"
                            ng-click="vm.duplicateBatches()">
                        <i class="fa fa-clone"></i>
                        <span class="m-l5">Duplicate</span>
                    </button>
                    <button type="button" class="btn btn-info btn-small"
                            ng-disabled="vm.isReadonly || !vm.isHasCheckedRows()"
                            ng-click="vm.deleteBatches()">
                        <i class="fa fa-trash"></i>
                        <span class="m-l5">Delete</span>
                    </button>
                    <button type="button" class="btn btn-info btn-small"
                            ng-disabled="vm.isReadonly || vm.isIntendedSynced()"
                            ng-click="vm.syncWithIntendedProducts()">
                        <i class="fa fa-refresh"></i>
                        <span class="m-l5">Sync</span>
                    </button>
                    <button type="button" class="btn btn-info btn-small" disabled>VnV</button>
                    <button type="button" class="btn btn-info btn-small"
                            ng-disabled="vm.isReadonly || !vm.isHasCheckedRows()" ng-show="vm.isHasRegService"
                            ng-click="vm.registerBatches()">
                        <i class="fa fa-floppy-o"></i>
                        <span class="m-l5">Register</span>
                    </button>
                    <indigo-inline-loader promise="vm.batchOperation" on-status-changed="vm.onBatchOperationChanged(completed)"></indigo-inline-loader>
                </div>
            </div>
            <div class="col-lg-4 text-align-lg">
                <span class="txt-small bold m-r5">SD File:</span>
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-info btn-small btn-can-loading}}"
                            ng-class="{'btn-loading': importLoading}"
                            ng-click="vm.importSDFile()" ng-disabled="vm.isReadonly || vm.isBatchLoading">
                        <i class="fa fa-cloud-download"></i>
                        <span class="m-l5">Import</span>
                    </button>
                    <button type="button" class="btn btn-info btn-small" ng-click="vm.exportSDFile()"
                            ng-disabled="vm.isReadonly || !vm.isHasCheckedRows()">
                        <i class="fa fa-cloud-upload"></i>
                        <span class="m-l5">Export</span>
                    </button>
                </div>
            </div>
        </div>
    </indigo-table>
</div>