<div class="tab-content-pad templates">
    <div class="m-b20">
        <button class="btn btn-primary" ui-sref="entities.template-new">
            <em class="fa fa-plus" aria-hidden="true"></em>
            <span class="m-l5">Create a new Template</span>
        </button>
    </div>
    <div class="table-responsive" indigo-scroller="x">
        <table class="table table-striped">
            <thead>
            <tr indigo-sort="vm.predicate" ascending="vm.reverse" callback="vm.loadAll()">
                <th indigo-sort-by="name"><span>Template name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span>Created By</span></th>
                <th><span>Creation date</span></th>
                <th><span>Last Edit Date</span></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="template in vm.templates track by template.id">
                <td ng-bind="template.name"></td>
                <td ng-bind="template.author.login"></td>
                <td ng-bind="template.creationDate | date:'MMM DD, YYYY HH:mm:ss z'"></td>
                <td ng-bind="template.lastEditDate | date:'MMM DD, YYYY HH:mm:ss z'"></td>
                <td>
                    <div class="btn-group">
                        <button type="submit"
                                ui-sref="entities.template-detail({id:template.id})"
                                class="btn btn-info btn-small">
                            <em class="fa fa-eye"></em>
                            <span class="m-l5">View</span>
                        </button>
                        <button type="submit"
                                ui-sref="entities.template-edit({id:template.id})"
                                class="btn btn-info btn-small">
                            <em class="fa fa-pencil"></em>
                            <span class="m-l5">Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="entities.template.delete({id:template.id})"
                                class="btn btn-info btn-small">
                            <em class="fa fa-trash"></em>
                            <span class="m-l5">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems"
                        items-per-page="vm.itemsPerPage"
                        ng-model="vm.page"
                        ng-change="vm.loadAll()"></uib-pagination>
    </div>
</div>
