<div class="flex justify-center items-center min-h-[80vh]">
  <mat-card class="w-full max-w-md p-6 shadow-lg">
    <mat-card-title class="text-2xl font-bold text-center mb-6"
      >Login</mat-card-title
    >
    <mat-card-content>
      <div *ngIf="!isAuthenticated" class="flex flex-col items-center">
        <p class="text-gray-600 mb-6 text-center">
          Please click the button below to sign in with your account.
        </p>
        <div class="mt-4">
          <button
            mat-raised-button
            color="primary"
            (click)="login()"
            class="w-full min-w-[200px] py-2"
          >
            Sign in with Cognito
          </button>
        </div>
      </div>

      <div *ngIf="isAuthenticated" class="flex flex-col items-center">
        <p class="text-gray-600 mb-6 text-center">You are already logged in.</p>
        <div class="mt-4">
          <button
            mat-raised-button
            color="warn"
            (click)="logout()"
            class="w-full min-w-[200px] py-2"
          >
            Logout
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
