.newtemplate {
	width : 100px;
	height : 100px;
	float: left;
	list-style: none;
    text-align: center;
}

.newtemplate .glyphicon {
    font-size: 24px;
}

.newtemplate .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.newtemplate:hover {
	cursor: pointer;
	color: #fff;
    background-color: #563d7c;
}

.newtemplate.selected {
    cursor: pointer;
    color: #fff;
    background-color: #563d7c;
}

.block {
	display: inline-block;
}