.countdown-dialog {
    position: relative;
}

.countdown-dialog span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.user-selected {
    background: lightblue !important;
}

.user-block {
    background: whitesmoke;
    left: 50%;
    margin-top: 15px;
    height: 300px;
    width: 250px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset 1px 1px 0 white;
    max-height: 300px;
    overflow-y: auto;
}

.userList_ul {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
}

.userList_li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1px 1px 1px 10px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
}

#userFilter {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#user-block #userFilter:focus {
    border: 1px solid #FFD32E;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
    outline: none;
}

.newtemplate {
    width: 100px;
    height: 100px;
    float: left;
    list-style: none;
    text-align: center;
}

.newtemplate .glyphicon {
    font-size: 24px;
}

.newtemplate .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.newtemplate:hover {
    cursor: pointer;
    color: #fff;
    background-color: #563d7c;
}

.newtemplate.selected {
    cursor: pointer;
    color: #fff;
    background-color: #563d7c;
}

.block {
    display: inline-block;
}

[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

.user-management .edit-form.ng-hide-add {
    animation: fadeOutUp 0.3s;
}

.user-management .edit-form.ng-hide-remove {
    animation: fadeInDown 0.3s;
}

.user-management .pagination, .templates .pagination {
    margin: 0;
}

.role-management .edit-form.ng-hide-add {
    animation: fadeOutUp 0.3s;
}

.role-management .edit-form.ng-hide-remove {
    animation: fadeInDown 0.3s;
}

.table.authoritiesTable thead tr th {
    line-height: 14px;
}

.authoritiesTable th {
    height: 90px;
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /* IE */
    writing-mode: tb-rl;
}

.authoritiesTable th:first-child, .authoritiesTable th:last-child {
    -webkit-transform: inherit;
    -o-transform: inherit;
    /* IE */
    writing-mode: inherit;
}

.authoritiesTable td {
    text-align: center;
}

.authoritiesTable td:first-child {
    text-align: inherit;
}

.authoritiesTable td:last-child, .authoritiesTable th:last-child {
    width: 90px;
}

.user-management, .user-management .edit-form,
.role-management, .role-management .edit-form,
.templates {
    margin-top: 20px;
}

.login-form {
    margin-top: 50px;
}

.login-form .panel-info.has-error-add,
.login-form .panel-info.has-error-remove {
    animation: shake 0.7s;
}

.main-container__sidebar ul .ng-enter {
    animation: fadeInLeft 0.5s;
}

/* file uploader*/
.my-drop-zone {
    border: dotted 3px lightgray !important;
    text-align: center;
    height: 150px;
}

.nv-file-over {
    border: dotted 3px #4dd0e1 !important;
}

/* editable checklist*/
.editable-checklist label {
    display: block;
}

.fb-component, .fb-form-object-editable {
    padding: 0 !important;
}

.components .component > .panel-body {
    display: none;
}

/* editable text fields */
.editable, .editable:hover {
    cursor: pointer !important;
    text-decoration: none;
    color: #428bca;
    border-bottom: dashed 1px #428bca;
}

.disabled, .disabled:hover {
    color: black;
    text-decoration: none;
    cursor: default !important;
    border-bottom: none;
}

.main-container__content-page > .content.ng-enter {
    animation: fadeIn 0.7s;
}

.templates-holder {
    min-height: 200px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.nav-tabs > li > a {
    color: gray;
}

.structure-editor-modal .modal-dialog {
    width: min-content;
}

.img-fill {
    height: 100%;
    width: 100%;
}

.select-structure {
    border: 0px;
    outline: 0px;
    background-color: transparent;
    font-weight: bold;
}

.textarea-structure {
    resize: vertical;
}

.clear-elem {
    clear: left;
    display: block;
}

.members ul {
    overflow: hidden;
    list-style-type: circle;
}

.members li {
    line-height: 2em;
    float: left;
    display: inline;
}

#double-list li {
    width: 50%;
}

#triple-list li {
    width: 33.333%;
}

.members .list-group-item {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.templates .list-group {
    margin-bottom: 0;
}

.templates .tab.ng-enter {
    animation: fadeInDown 0.5s;
}

.templates .tab.ng-leave {
    animation: fadeOutDown 0.5s;
}

.templates .component.ng-enter {
    animation: fadeInLeft 0.5s;
}

.templates .component.ng-leave {
    animation: fadeOutDown 0.5s;
}

.palette .draggable-component.ng-leave {
    animation: fadeOut 0.5s;
}

.palette .draggable-component.ng-enter {
    animation: fadeIn 0.5s;
}

.notebook-create, .project-create {
    margin-top: 30px;
}

.experiment-tab-name:first-letter {
    text-transform: capitalize;
}

.experiment-tab-close {
    margin-left: 10px;
    color: #337ab7
}

.active .experiment-tab-close {
    color: #37474f;
    margin-left: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #37474f;
    background-color: #b2ebf2;
}