body {
    font-family: 'Roboto', sans-serif;
}
.countdown-dialog {
    position: relative;
}

.countdown-dialog span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}


.newtemplate {
    width: 100px;
    height: 100px;
    float: left;
    list-style: none;
    text-align: center;
}

[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

.user-management .edit-form.ng-leave {
    animation: fadeOutUp 0.3s;
}

.user-management .edit-form.ng-enter {
    animation: fadeInDown 0.3s;
}

.user-management .pagination, .templates .pagination {
    margin: 0;
}

.role-management .edit-form.ng-hide-add {
    animation: fadeOutUp 0.3s;
}

.role-management .edit-form.ng-hide-remove {
    animation: fadeInDown 0.3s;
}

.table.authoritiesTable thead tr th p {
    line-height: 17px;
    word-spacing: 90px;
}

.authoritiesTable th {
    height: 90px;
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /* IE */
    writing-mode: tb-rl;
}

.authoritiesTable th:first-child, .authoritiesTable th:last-child {
    -webkit-transform: inherit;
    -o-transform: inherit;
    /* IE */
    writing-mode: inherit;
}

.authoritiesTable td {
    text-align: center;
}

.authoritiesTable td:first-child {
    text-align: inherit;
}

.authoritiesTable td:last-child, .authoritiesTable th:last-child {
    width: 90px;
}

.login-form {
    margin-top: 50px;
}

.login-form .panel-info.has-error-add,
.login-form .panel-info.has-error-remove {
    animation: shake 0.7s;
}

#sidebar-wrapper ul .ng-enter {
    animation: fadeInLeft 0.5s;
}

/* file uploader*/
.my-drop-zone {
    border: dotted 3px lightgray !important;
    text-align: center;
    height: 150px;
}

.nv-file-over {
    border: dotted 3px #4dd0e1 !important;
}

/* editable checklist*/
.editable-checklist label {
    display: block;
}

/* editable text fields */
.editable, .editable:hover {
    cursor: pointer !important;
    text-decoration: none;
    color: #428bca;
    border-bottom: dashed 1px #428bca;
}

.disabled, .disabled:hover {
    color: black;
    text-decoration: none;
    cursor: default !important;
    border-bottom: none;
}

.page-content.ng-enter {
    animation: fadeIn 0.7s;
}

.templates-holder {
    min-height: 200px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.nav-tabs > li > a {
    color: gray;
}

.structure-editor-modal .modal-dialog {
    width: min-content;
}

.img-fill {
    height: 100%;
    width: 100%;
}

.sizable-panel-body {
    height: 130px;
    box-sizing: content-box;
}

.select-structure {
    border: 0px;
    outline: 0px;
    background-color: transparent;
    font-weight: bold;
}

.textarea-structure {
    resize: vertical;
}

.clear-elem {
    clear: left;
    display: block;
}

.members ul {
    overflow: hidden;
    list-style-type: circle;
}

.members li {
    line-height: 2em;
    float: left;
    display: inline;
}

#triple-list li {
    width: 33.333%;
}

.members .list-group-item {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.templates .list-group {
    margin-bottom: 0;
}

.templates .tab.ng-enter {
    animation: fadeInDown 0.5s;
}

.templates .tab.ng-leave {
    animation: fadeOutDown 0.5s;
}

.templates .component.ng-enter {
    animation: fadeInLeft 0.5s;
}

.templates .component.ng-leave {
    animation: fadeOutDown 0.5s;
}

.palette .draggable-component.ng-leave {
    animation: fadeOut 0.5s;
}

.palette .draggable-component.ng-enter {
    animation: fadeIn 0.5s;
}

.experiment-tab-name:first-letter {
    text-transform: capitalize;
}

.experiment-tab-close {
    margin-left: 10px;
    color: #337ab7
}

.dictionary-col-width {
    max-width: 200px;
}

.dictionary-col-elipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}

.active .experiment-tab-close {
    color: #37474f;
    margin-left: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #37474f;
    background-color: #b2ebf2;
}

#page-wrapper {
    padding-left: 40px;
    padding-top: 70px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.main-container .table {
    border-collapse: separate;
    border-spacing: 3px;
    border: none;
}

.main-container .table thead {
    background: #e0f7fa;
}

.main-container .table thead tr th {
    border: none;
    font: 14px/34px segoeui;
    padding: 0;
    vertical-align: inherit;
    text-align: center;
}

.main-container .table tbody tr td {
    vertical-align: middle;
}

.slider-handle {
    background: #b2ebf2 none;
}

.slider.slider-horizontal .slider-track {
    height: 3px;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-top: -8px;
}
a {
    cursor: pointer;
}

table {
    page-break-inside:auto
}

tr {
    page-break-inside:avoid; page-break-after:auto
}

.print-header {
    color: grey;
    margin-top: 20px;
    border-color: grey !important;
}

.print-header, .print-table, .print-table-simple, .print-box {
    width: 100%;
    margin-bottom: 50px;
    border: 1px black solid;
}

.print-header td, .print-header th, .print-table-simple td, .print-table-simple th {
    padding: 5px;
    border: none;
}

.print-table th {
    text-align: center;
}

.print-table th, .print-table td {
    border: 1px black solid;
    border-collapse: collapse;
    margin-bottom: 50px;
    padding: 8px;
    vertical-align: top;
}

.print-table-inner td {
    border: none;
}

#print-form {
    font-family:"Times New Roman",Georgia,Serif;
}

.need-to-print .checkbox label:before {
    content: initial;
}

.need-to-print .checkbox label {
    font-size: 14px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.my-table.table-responsive th {
    background-color: #b2ebf2;
}

.my-table.table-responsive th .btn {
    background-color: transparent !important;
    border-color: transparent !important;
}

.my-table.table-responsive th .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.my-table.table-responsive .form-group {
    margin-bottom: 0;
}

.my-table.table-responsive td {
    padding: 0;
}

.my-table.table-responsive .input-group {
    border-spacing: 0;
}

.my-table.table-responsive .form-group .col-xs-12 {
    padding: 0;
}

.reagent-search-tab {
    margin-top: 20px;
}

.reagent-search-container {
    margin: 10px;
}

.reagent-search-row {
    position: relative;
}

.reagent-search-row p {
    position: absolute;
    top: 8px;
}

.reagent-search-hint {
    font-size: 12px;
    top: -10px;
    left: 10px;
}

.reagent-search-well {
    margin-left: 12px;
}

.reagent-search-advanced {
    position:relative
}

.reagent-search-advanced a {
    position:absolute;
    top: 32px;
    font-size: 16px;
    text-decoration: none;
}

.reagent-search-collapse {
    margin: 7px;
}

.reagent-search-collapse a {
    text-decoration: none;
}

.reagent-search-row strong {
    position:absolute;
    top:15px;
    left: 10px;
}

.reagent-search-row .info-col {
     margin-bottom: 25px;
}

.reagent-search-row div {
    margin-bottom: 2px;
}

.search-button {
    margin: 2px 7px;
}

.search-table-row-highlight {
    background-color: rgba(153, 204, 255, 0.5);
}

.search-table-head {
    background-color: rgba(191, 191, 191, 0.28);
}

#search-result-table, #my-reagent-list-table {
    table-layout: fixed;
    width: 100%;
}

#search-result-table td, #my-reagent-list-table td {
    vertical-align: middle;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

div.enlarge {
    display:inline-block;
    position: relative;
    z-index: 0;
    margin:2px 8px 0 4px;
}
div.enlarge img {
    width: 550px;
    height: 400px;
    background-color: white;
    padding: 3px;
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
}
div.enlarge span{
    position:absolute;
    left: -9999px;
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
}
div.enlarge:hover{
    z-index: 50;
    cursor:pointer;
}
div.enlarge span img{
    padding:2px;
    background: white;
}
div.enlarge:hover span{
    top: -290px;
    left: -600px;
}
.analyze-rxn-row div {
    margin-bottom: 0;
}

.analyze-rxn-selected-reactants {
    margin-left: 20px;
}

.search-tab-content {
    margin: 10px;
}

.search-structure-scheme .panel-heading {
    background-color: #f3f3f3;
    border-color: #d1d1d1;
}

.search-structure-scheme.panel-info {
    border-color: #d1d1d1;
}