@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-light.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-light.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-it.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-it.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/font-oswald/oswald-regular.eot');
  src: url('../fonts/font-oswald/oswald-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-regular.woff') format('woff'), url('../fonts/font-oswald/oswald-regular.ttf') format('truetype'), url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/font-oswald/oswald-bold.eot');
  src: url('../fonts/font-oswald/oswald-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-bold.woff') format('woff'), url('../fonts/font-oswald/oswald-bold.ttf') format('truetype'), url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/font-oswald/oswald-light.eot');
  src: url('../fonts/font-oswald/oswald-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-light.woff') format('woff'), url('../fonts/font-oswald/oswald-light.ttf') format('truetype'), url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.flex-row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.flex-start-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
  justify-content: flex-start;
}
.flex-center-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
  justify-content: center;
}
.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.h-100 {
  height: 100%;
}
.full-img {
  width: 100%;
}
.max-img {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.block {
  display: block !important;
}
.hidden {
  display: none;
}
.up {
  text-transform: uppercase;
}
.top-3 {
  top: 3px;
}
.m-auto {
  margin: 0 auto;
}
.d-table {
  display: table;
  height: 100%;
  width: 100%;
}
.d-inline {
  display: inline-block;
  vertical-align: middle;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
  -webkit-box-align: justify;
}
.w-space {
  white-space: nowrap;
}
.bold {
  font-family: 'Source Sans Pro Bold', sans-serif;
}
.semi-b {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}
.awesome-b {
  font-family: FontAwesome;
}
.txt-larger {
  font-size: 16px;
}
.txt-small {
  font-size: 12px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.clickable {
  cursor: pointer;
}
.capitalized {
  text-transform: capitalize;
}
.m-t20 {
  margin-top: 20px;
}
.m-t10 {
  margin-top: 10px;
}
.m-t5 {
  margin-top: 5px;
}
.m-b20 {
  margin-bottom: 20px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-b15 {
  margin-bottom: 15px;
}
.m-b5 {
  margin-bottom: 5px;
}
.m-l10 {
  margin-left: 10px;
}
.m-l5 {
  margin-left: 5px;
}
.m-r10 {
  margin-right: 10px;
}
.m-r5 {
  margin-right: 5px;
}
.nomarg {
  margin-bottom: 0 !important;
}
.m-r30-imp {
  margin-right: 30px !important;
}
.m-l15-imp {
  margin-left: 15px !important;
}
.p-t14 {
  padding-top: 14px;
}
.p-l-r-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.p-l1-all-0 {
  padding: 0 0 0 1px;
}
/******************SIDEBAR*********************/
.main-container #sidebar-wrapper,
.main-container .uui-side-bar {
  background-color: #424242;
  height: 100%;
  width: 250px;
  left: -250px;
  position: fixed;
  top: 60px;
}
.sidebar-menu > li {
  -webkit-box-shadow: inset 0 -1px #3d3d3d;
  box-shadow: inset 0 -1px #3d3d3d;
}
.sidebar-menu > li a {
  color: #ccc;
  display: block;
  letter-spacing: .15px;
  padding: 14px 20px;
}
.sidebar-menu > li a:hover,
.sidebar-menu > li a:focus {
  color: #fff;
  text-decoration: none;
}
.sidebar-menu > li a .arrow {
  float: right;
  font-size: 12px;
  margin: 6px 0 0;
  min-width: 0;
}
.sidebar-menu > li a i {
  font-size: 20px;
  margin-right: 6px;
  min-width: 24px;
}
.sidebar-menu > li > a {
  color: #fff;
  font: 16px 'Oswald Regular', sans-serif;
  text-transform: uppercase;
}
.sidebar-menu > li > a:hover,
.sidebar-menu > li > a:focus {
  background-color: #84d5fb;
}
.sidebar-menu > li .sub-menu li.activ > a:first-child {
  color: #fff;
}
.sidebar-menu > li .sub-menu li.activ.open {
  background-color: #212121;
  box-shadow: none;
}
.sidebar-menu > li .sub-menu li a {
  font: 18px 'Oswald Light', sans-serif;
  padding-left: 52px;
}
.sidebar-menu > li .sub-menu li > ul > li a {
  padding-left: 67px;
  display: flex;
  justify-content: space-between;
}
.sidebar-menu > li .sub-menu li > ul > li a em {
  padding-top: 5px;
  font-size: 15px;
}
.sidebar-menu > li .sub-menu li > ul > li > ul > li a {
  padding-left: 82px;
}
.sidebar-menu > li.open {
  background-color: #212121;
  box-shadow: none;
}
.wrapper-list-experiment {
  height: 100%;
}
.wrapper-list-experiment.my-scroller-axis-y .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.wrapper-list-experiment .mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger_bar,
.wrapper-list-experiment .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent !important;
}
.sidebar-popover-basis {
  max-width: none;
}
.sidebar-popover {
  color: #999;
}
.sidebar-popover .sidebar-popover-number {
  text-transform: uppercase;
  font-family: 'Oswald Regular', sans-serif;
}
.sidebar-popover-sheme {
  display: block;
  height: 100px;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 20px;
}
