@font-face {
  font-family: FontAwesome;
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}
/****sitebar landing-page****/
.main-container .inner-menu-toggle-button {
  background: #cfd8dc;
  right: 7px;
  position: absolute;
  top: 7px;
  transition: right 0.3s ease-out;
  z-index: 500;
}
.main-container .inner-menu-toggle-button__btn-icon {
  background: transparent;
  border: none;
  border-radius: 0;
  color: #90a4ae;
  cursor: pointer;
  display: inline-block;
  font: 17px/26px FontAwesome;
  height: inherit;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 26px;
  box-sizing: content-box;
  vertical-align: inherit;
  transition: all 0.5s ease-out;
}
.main-container .inner-menu-toggle-button__btn-icon .fa:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  color: #fff;
}
.main-container.hide-menu .inner-menu-toggle-button__btn-icon {
  transform: rotate(-180deg);
}
.main-container .unit-navigation-page ul {
  list-style-type: none;
  padding: 0;
}
.main-container .unit-navigation-page ul li {
  cursor: pointer;
}
.main-container .unit-navigation-page ul li:last-child {
  border-bottom: none !important;
}
.main-container .unit-navigation-page ul li span {
  vertical-align: middle;
  font: 14px/34px segoeui;
}
.main-container__sidebar {
  padding-top: 40px;
  transition: left 0.5s;
  width: 220px;
}
#sidebar-wrapper {
  margin-left: inherit;
  left: -210px;
  background: #90a4ae;
}
#page-wrapper.open #sidebar-wrapper {
  left: 0;
}
.unit-navigation-page .level-one {
  margin: 0;
  border-bottom: 1px solid #cfd8dc;
}
.unit-navigation-page .level-one > li {
  background: #546e7a;
  color: #4dd0e1;
  font: 14px/34px segoeui;
  position: relative;
  text-align: center;
  z-index: 100;
}
.unit-navigation-page .level-one > li:first-child {
  border-bottom: none;
}
.unit-navigation-page .level-one > li span {
  user-select: none;
  -webkit-user-select: none;
}
.unit-navigation-page .level-one > li .level-two {
  background: #90a4ae;
}
.unit-navigation-page .level-one > li .level-two > li {
  background: #90a4ae;
  color: #37474f;
  font: 14px/34px segoeui;
  position: relative;
  text-align: left;
  z-index: 100;
  border-bottom: 1px solid #cfd8dc;
}
.unit-navigation-page .level-one > li .level-two > li .type-of-experiment {
  padding-left: 24px;
  display: block;
}
.unit-navigation-page .level-one > li .level-two > li .type-of-experiment:hover {
  background: #738c98;
}
.unit-navigation-page .level-one > li .level-two > li .type-of-experiment:active,
.unit-navigation-page .level-one > li .level-two > li .type-of-experiment.active {
  background: #4dd0e1;
}
.unit-navigation-page .level-one > li .level-two > li .level-three {
  background: #cfd8dc;
  padding-left: 29px;
  position: relative;
}
.unit-navigation-page .level-one > li .level-two > li .level-three:before {
  background: #4dd0e1;
  border: none;
  content: "";
  position: absolute;
  z-index: 100;
  height: calc(100% - 36px);
  left: 38px;
  top: 28px;
  width: 1px;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li {
  background: transparent;
  color: #37474f;
  font: 14px/34px segoeui;
  position: relative;
  text-align: left;
  z-index: 100;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li span {
  padding-left: 0;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li .level-four > li span:hover {
  text-decoration: underline;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li .level-four > li span.activ,
.unit-navigation-page .level-one > li .level-two > li .level-three > li .level-four > li span:active {
  color: #4dd0e1;
  text-decoration: underline;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul {
  padding-left: 17px;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four {
  position: relative;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four:before {
  background: #9fb0b9;
  border: none;
  content: "";
  position: absolute;
  z-index: 100;
  height: calc(100% - 42px);
  left: 26px;
  top: 25px;
  width: 1px;
  z-index: 200;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li {
  background: #cfd8dc;
  color: #37474f;
  font: 14px/34px segoeui;
  position: relative;
  z-index: 100;
  text-align: left;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li:after {
  background: #4dd0e1;
  border: none;
  content: "";
  position: absolute;
  z-index: 100;
  height: 1px;
  left: -8px;
  top: 19px;
  width: 6px;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .fa {
  color: #9fb0b9;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li span:after {
  content: "";
  color: #4dd0e1;
  font-family: fontawesome;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .icon-bg-round {
  background: #9fb0b9;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li:hover .experiment-status,
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li:hover span {
  text-decoration: underline;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li:hover .experiment-status {
  text-decoration: none;
  color: #51646e;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li.activ span,
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li:active span,
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li.activ .icon-bg-round,
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li:active .icon-bg-round {
  background: #4dd0e1;
  color: #4dd0e1;
  text-decoration: underline;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li.activ span,
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li:active span {
  background: inherit;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five li:after {
  background: #9fb0b9;
  border: none;
  content: "";
  position: absolute;
  z-index: 100;
}
.unit-navigation-page .level-one > li .level-two > li .level-three > li ul.level-four li .level-five:before {
  background: #9fb0b9;
  border: none;
  content: "";
  position: absolute;
  z-index: 100;
  display: none;
}
.hide-menu .inner-menu-toggle-button {
  transition: right 0.3s ease-out;
}
.hide-menu .wrapper-list-experiment {
  margin-right: 50px;
  transition: right 0.3s ease-out;
}
.open .wrapper-list-experiment {
  overflow-x: visible;
  overflow-y: auto;
  height: calc(100% - 17px);
}
.table-list__item {
  border: none !important;
}
