.clearfix:after {
  content: "";
  display: table-row;
  clear: both;
}
html,
body,
.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
}
h2,
h3,
button,
span,
a {
  font: 14px/30px segoeui !important;
}
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}
.open-menu {
  display: block !important;
}
.element {
  font: normal 16px/20px open-sans-regular;
  position: absolute;
  top: 5px;
  right: inherit;
  left: 20px;
  bottom: inherit;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.main-container__head {
  background: #607d8b;
  box-shadow: 0 0 15px 2px black;
  flex-grow: 10;
  height: 70px;
  z-index: 1;
  width: 100%;
}
.main-container__sitebar {
  background: #90a4ae;
  height: calc(100% - 70px);
  width: 220px;
}
.accordion-toggle {
  color: #607d8b;
  display: block;
  position: relative;
  padding-left: 5px;
  text-decoration: none;
  width: 100%;
}
.accordion-toggle:before {
  content: "\f077";
  color: #4dd0e1;
  font-family: fontawesome;
  position: absolute;
  top: 0;
  right: 5px;
}
.accordion-toggle:before:hover {
  color: #44cee0;
}
.accordion-toggle:hover,
.accordion-toggle:focus {
  text-decoration: none;
  color: #5c7885;
  outline: none;
}
.accordion-toggle.collapsed:before {
  content: "\f078";
}
.ruling-uui-element {
  display: block;
  min-height: 30px;
  width: 260px;
  margin-right: 10px;
}
.ruling-uui-element__checkbox {
  float: right;
}
.ruling-controls {
  float: right;
  text-align: right;
  width: 100%;
}
.ruling-controls__btn {
  background: #cfd8dc;
  border: none;
  padding: 1px 10px;
  outline: none;
  margin: 5px;
}
.ruling-controls__btn:hover {
  background: #c9d3d8;
}
.head-controls-list {
  float: left;
  margin: 25px 20px 0 20px;
  padding: 0;
}
.head-controls-list__item {
  background: #546e7a;
  border-radius: 26px;
  border: 1px solid #546e7a;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  list-style-type: none;
  margin-right: 8px;
  height: 36px;
  text-align: center;
  width: 36px;
  position: relative;
}
.head-controls-list__item:hover {
  border: 1px solid #4dd0e1;
}
.head-controls-list__item .fa {
  font-size: 20px;
  margin-top: 7px;
}
.head-controls-list__item_dark-color {
  background: #37474f;
}
.menu-item {
  background: #546e7a;
  border-width: 0 1px 1px 0;
  border-color: #cfd8dc;
  box-sizing: border-box;
  color: #fff;
  height: 34px;
}
.sitebar-inner-menu {
  padding: 0;
}
.sitebar-inner-menu__item {
  background: #546e7a;
  box-sizing: border-box;
  border-color: #cfd8dc;
  border-style: solid;
  border-width: 0 1px 1px 0;
  color: #4dd0e1;
  cursor: pointer;
  padding-top: 12px;
  text-align: center;
}
.sitebar-inner-menu__item:hover {
  background: #506974;
}
.main-container__content-page {
  padding: 5px;
  width: calc(100% - 220px);
}
.accordion-table-page {
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}
.accordion-table-page__header {
  background: #b2ebf2;
  position: relative;
}
.accordion-table-page__header .fa {
  color: #4dd0e1;
  position: absolute;
  right: 5px;
  top: 5px;
}
.accordion-table-page__header span {
  color: #607d8b;
  padding: 5px;
}
.main-container .unit-navigation-page ul {
  list-style-type: none;
  padding: 0;
}
.main-container .unit-navigation-page ul li {
  border-bottom: 1px solid #cfd8dc;
  cursor: pointer;
}
.main-container .unit-navigation-page ul li span {
  font: 14px/34px segoeui;
}
.main-container .unit-navigation-page > ul {
  margin-top: 29px;
}
.main-container .unit-navigation-page > ul > li {
  background: #546e7a;
  color: #4dd0e1;
  font: 14px/34px segoeui;
  text-align: center;
  position: relative;
  z-index: 5;
}
.main-container .unit-navigation-page > ul > li:last-child ul:last-child {
  border-bottom: 1px solid #cfd8dc;
}
.main-container .unit-navigation-page > ul > li > ul {
  background: #90a4ae;
  display: none;
}
.main-container .unit-navigation-page > ul > li > ul > li {
  background: #90a4ae;
  color: #37474f;
  position: relative;
  text-align: left;
  z-index: 5;
}
.main-container .unit-navigation-page > ul > li > ul > li:last-child {
  border: none;
}
.main-container .unit-navigation-page > ul > li > ul > li span {
  padding-left: 24px;
}
.main-container .unit-navigation-page > ul > li > ul > li ul {
  background: #cfd8dc;
  padding-left: 29px;
  position: relative;
  display: none;
}
.main-container .unit-navigation-page > ul > li > ul > li ul:before {
  background: #4dd0e1;
  content: "";
  display: block;
  height: calc(100% - 49px);
  position: absolute;
  width: 1px;
  top: 28px;
  left: 30px;
  z-index: 1;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li {
  background: #cfd8dc;
  z-index: 0;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li .fa {
  color: #4dd0e1;
  font-size: 20px;
  margin-left: -7px;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li span {
  padding-left: 0;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul {
  display: none;
  padding-left: 20px;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul:before {
  content: "";
  left: 20px;
  background: #9fb0b9;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul li {
  background: #cfd8dc;
  position: relative;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul li:after {
  background: #4dd0e1;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 9px;
  top: 14px;
  left: -19px;
  z-index: 1;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul li .fa {
  color: #90a4ae;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul li span:after {
  content: "";
  color: #4dd0e1;
  font-family: fontawesome;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul li ul {
  display: none;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul li ul:before {
  content: "";
  display: none;
}
.main-container .unit-navigation-page > ul > li > ul > li ul > li ul li ul li:after {
  background: #90a4ae;
  content: "";
}
.main-container .unit-navigation-page > ul > li:last-child {
  border: none;
}
.main-container .unit-navigation-page > ul:last-child {
  border: none;
}
input[type=checkbox].uui-form-element.blue:checked + label:before {
  background-color: #4dd0e1;
  border-color: #4dd0e1;
}
.ind-accordion-item {
  box-shadow: none !important;
  margin-bottom: 0!important;
}
.ind-accordion-item__header {
  background: #b2ebf2;
  position: relative;
}
.main-table {
  border-collapse: separate;
  border-spacing: 3px;
  border: none;
}
.table-list .table-list__item {
  border: none;
  padding: 8px;
}
.table-list .table-list__item_header {
  text-align: center;
  background-color: #e0f7fa;
  padding: 12px;
}
.table-list__item {
  font: 14px/34px segoeui;
  color: #607d8b;
  vertical-align: inherit;
}
.table-list:nth-of-type(odd) {
  background-color: #f3f5f6 !important;
}
.head-controls-list-submenu {
  position: absolute;
  display: none;
  background: #fff;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  color: black;
  min-width: 150px;
  top: 44px;
  left: 0;
}
.head-controls-list-submenu.open-menu {
  display: block;
}
