/* CONTENTS

______________________________________________________________________


|_Mixins & Custom file
|
|_Fonts
|
|_layout
|	|_header
|	|_sidebar
|   |_content-page
|
|_Header-Page
|	|_head-controls-list
|      |_head-controls-list-submenu
|
|_Sidebar
|   |_list-navigation-page(cascade-styles.less)
|
|_content
|   |_accordion
|      |_slider
|      |_checkbox
|      |_button
|      |_grid
|
|_footer


_____________________________________________________________________*/
@import 'mixins.css';
@import 'cascade-styles.css';
html,
body,
.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/segoeui.ttf);
}
/*****layout*****/
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.main-container__head {
  background: #607d8b;
  box-shadow: 0 0 15px 2px black;
  flex-grow: 10;
  height: 70px;
  min-width: 720px;
  width: 100%;
  z-index: 1;
}

.main-container__sidebar {
  background: #90a4ae;
  min-height: calc(100% - 70px);
  transition: margin-left 500ms;
  width: 220px;
}

.main-container__content-page {
  padding: 5px 25px;
  width: calc(100% - 220px);
  transition: width 500ms;
}

.main-container.hide-menu .main-container__sidebar {
  margin-left: -198px;
}

.main-container.hide-menu .main-container__content-page {
  width: calc(100% - 22px);
}
/****header page****/
.head-controls-list, .head-controls-list_right {
  float: left;
  margin: 25px 20px 0 20px;
  padding: 0;
}

.head-controls-list__item, .head-controls-list__item_user {
  background: #546e7a;
  border-radius: 26px;
  border: 1px solid #546e7a;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  list-style-type: none;
  margin-right: 8px;
  position: relative;
  text-align: center;
  width: 36px;
}

.head-controls-list__item:hover {
  border: 1px solid #4dd0e1;
}

.head-controls-list__item .fa, .head-controls-list__item_user .fa {
  font-size: 20px;
  margin-top: 7px;
}

.head-controls-list_right {
  float: right;
}

.head-controls-list__item_user {
  cursor: default;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.head-controls-list__item_dark-color {
  background: #37474f;
}

.head-controls-list-submenu {
  background: #fff;
  border: 1px solid #607d8b;
  display: none;
  list-style-type: none;
  left: -14px;
  max-width: 300px;
  min-width: 150px;
  position: absolute;
  padding: 0;
  top: 44px;
  z-index: 5;
}

.head-controls-list-submenu:before {
  content: "\f0d8";
  font: 42px fontawesome;
  left: 19px;
  position: absolute;
  top: -24px;
}

.head-controls-list-submenu__item a {
  color: #6b8693;
  display: block;
  line-height: 15px;
  font: 14px/30px segoeui;
  padding: 5px;
  text-align: left;
  text-decoration: none;
}

.head-controls-list-submenu__item a:focus,
.head-controls-list-submenu__item a:hover {
  color: #495b64;
  text-decoration: none;
}

.head-controls-list-submenu__item a:active {
  color: #263035;
}

/****accordion****/
.main-container .ind-accordion-item {
  margin: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-container .ind-accordion-item__header {
  background: #b2ebf2;
  position: relative;
}

.accordion-toggle {
  color: #607d8b;
  display: block;
  font: 14px/30px segoeui;
  position: relative;
  padding-left: 5px;
  text-decoration: none;
  width: 100%;
}

.accordion-toggle:before {
  content: "\f077";
  color: #4dd0e1;
  font-family: fontawesome;
  position: absolute;
  right: 5px;
  top: 0;
}

.accordion-toggle:before:hover {
  color: #44cee0;
}

.accordion-toggle:hover,
.accordion-toggle:focus {
  color: #5c7885;
  outline: none;
  text-decoration: none;
}

.accordion-toggle.collapsed:before {
  content: "\f078";
}

.accordion-table-page {
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}

.accordion-table-page__header {
  background: #b2ebf2;
  position: relative;
}

.accordion-table-page__header .fa {
  color: #4dd0e1;
  position: absolute;
  right: 5px;
  top: 5px;
}

.accordion-table-page__header span {
  color: #607d8b;
  padding: 5px;
}

/***slider***/
.ruling-slider {
  float: left;
  padding: 0 15px;
}

.ruling-slider__uui-element {
  width: 240px;
}

.unit-uui-element > div.unit-uui-element__i-slider {
  background: #d1dade;
  border-radius: 0;
  border: none;
  float: left;
  height: 2px;
  margin-top: 6px;
  width: 140px;
}

.unit-uui-element > div.unit-uui-element__i-slider a.ui-slider-handle {
  background: #4dd0e1;
  border: 1px solid #4dd0e1;
  border-radius: 9px;
  height: 1.3em;
  outline: none;
  top: -0.5em;
  width: 1.3em;
}

.unit-uui-element > div.unit-uui-element__i-slider a.ui-slider-handle:hover,
.unit-uui-element > div.unit-uui-element__i-slider a.ui-slider-handle :focus {
  border: 1px solid #4dd0e1;
}

.unit-uui-element__ind-checkbox {
  display: block;
  margin-left: 170px;
}

/***checkbox ***/
/*.checkbox label:before {*/
/*border: none;*/
/*border-radius: 0;*/
/*content: "";*/
/*}*/

/***accordion-table-page***/
.main-container .table {
  border-collapse: separate;
  border-spacing: 3px;
  border: none;
}

.main-container .table thead {
  background: #e0f7fa;
}

.main-container .table thead tr th {
  border: none;
  font: 14px/34px segoeui;
  padding: 0;
  vertical-align: inherit;
  text-align: center;
}

.main-container .table tbody tr td {
  vertical-align: middle;
}
/*
.sidebar-inner-menu {
  padding: 0;
  &__item {
    background: @bg-gray-d2;
    box-sizing: border-box;
    border-color: @br-gray-l1;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: @link-color-blue;
    cursor: pointer;
    padding-top: 12px;
    text-align: center;
    &:hover {
      background: darken(@bg-gray-d2, 2%);
    }
  }
}
*/
.ruling-uui-element {
  display: block;
  min-height: 30px;
  width: 260px;
  margin-right: 10px;
}

.ruling-uui-element__checkbox {
  float: right;
}

.ruling-controls {
  display: block;
  height: 48px;
  text-align: right;
  width: 100%;
}

.ruling-controls__btn {
  background: #cfd8dc;
  border: none;
  font: 14px/30px segoeui;
  padding: 1px 10px;
  outline: none;
  margin: 5px;
}

.ruling-controls__btn:hover {
  background: #c9d3d8;
}

.ruling-controls__btn:active {
  background: #c3ced3;
}

.main-container .inner-menu-toggle-button {
  background: #cfd8dc;
  border: 1px solid #fff;
  box-sizing: content-box;
  cursor: pointer;
  position: absolute;
  top: 90px;
  transition: left 0.5s, border 1s ease-out;
  text-align: center;
  left: 198px;
  height: 20px;
  width: 20px;
  z-index: 66;
}

.main-container .inner-menu-toggle-button .fa {
  color: #90a4ae;
  transition: all 0.5s ease-in-out;
}

.main-container.hide-menu .inner-menu-toggle-button {
  border: 1px solid #90a4ae;
  left: 0;
}

.main-container.hide-menu .inner-menu-toggle-button .fa {
  color: #90a4ae;
  transform: rotate(-180deg);
}
/*

.menu-item {
  background: @bg-gray-d2;
  border-width: 0 1px 1px 0;
  border-color: @br-gray-l1;
  box-sizing: border-box;
  color: @bg-white;
  height: 34px;
}
*/
/*
.sidebar-inner-menu {
  padding: 0;
  &__item {
    background: @bg-gray-d2;
    box-sizing: border-box;
    border-color: @br-gray-l1;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: @link-color-blue;
    cursor: pointer;
    padding-top: 12px;
    text-align: center;
    &:hover {
      background: darken(@bg-gray-d2, 2%);
    }
  }
}
*/
/*


input[type=checkbox].uui-form-element.blue:checked+label:before {
  background-color: @bg-blue;
  border-color: @bg-blue;
}











.font-open-sans(@font-style: normal; @font-weight: normal; @font-size: 14px; @line-height: 20px; @font-family: open-sans-regular){
  font: @font-style @font-weight @font-size/@line-height @font-family;
}

.posabs(@t: inherit; @r: inherit; @l: inherit; @b: inherit) {
  position: absolute;
  top: @t;
  right: @r;
  left: @l;
  bottom: @b;
}


@os-bold: open-sans-regular;

.element {
  font: normal 16px/20px @os-bold;
  .posabs(@t: 5px; @l: 20px);
}
*/

.open-menu {
  display: block !important;
}
