@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-light.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-light.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-it.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-it.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/font-oswald/oswald-regular.eot');
  src: url('../fonts/font-oswald/oswald-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-regular.woff') format('woff'), url('../fonts/font-oswald/oswald-regular.ttf') format('truetype'), url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/font-oswald/oswald-bold.eot');
  src: url('../fonts/font-oswald/oswald-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-bold.woff') format('woff'), url('../fonts/font-oswald/oswald-bold.ttf') format('truetype'), url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/font-oswald/oswald-light.eot');
  src: url('../fonts/font-oswald/oswald-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-light.woff') format('woff'), url('../fonts/font-oswald/oswald-light.ttf') format('truetype'), url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.h-100 {
  height: 100%;
}
.full-img {
  width: 100%;
}
.max-img {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.block {
  display: block !important;
}
.hidden {
  display: none;
}
.up {
  text-transform: uppercase;
}
.top-3 {
  top: 3px;
}
.m-auto {
  margin: 0 auto;
}
.d-table {
  display: table;
  height: 100%;
  width: 100%;
}
.d-inline {
  display: inline-block;
  vertical-align: middle;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
  -webkit-box-align: justify;
}
.w-space {
  white-space: nowrap;
}
.bold {
  font-family: 'Source Sans Pro Bold', sans-serif;
}
.semi-b {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}
.awesome-b {
  font-family: FontAwesome;
}
.txt-larger {
  font-size: 16px;
}
.txt-small {
  font-size: 12px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.clickable {
  cursor: pointer;
}
.capitalized {
  text-transform: capitalize;
}
.m-t20 {
  margin-top: 20px;
}
.m-t10 {
  margin-top: 10px;
}
.m-t5 {
  margin-top: 5px;
}
.m-b20 {
  margin-bottom: 20px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-b15 {
  margin-bottom: 15px;
}
.m-b5 {
  margin-bottom: 5px;
}
.m-l10 {
  margin-left: 10px;
}
.m-l5 {
  margin-left: 5px;
}
.m-r10 {
  margin-right: 10px;
}
.m-r5 {
  margin-right: 5px;
}
.nomarg {
  margin-bottom: 0 !important;
}
.m-r30-imp {
  margin-right: 30px !important;
}
.m-l15-imp {
  margin-left: 15px !important;
}
.p-t14 {
  padding-top: 14px;
}
.p-l-r-0 {
  padding-left: 0px;
  padding-right: 0px;
}
/******************TABLES*********************/
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
.table {
  border: 1px solid #ddd;
}
.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  color: #666;
  font-family: 'Source Sans Pro Semibold', sans-serif;
  font-weight: normal;
}
.table > thead > tr > th > p {
  margin: 0;
}
.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 8px 16px;
  white-space: nowrap;
}
.table > thead > tr > th.td-40p,
.table > tbody > tr > td.td-40p {
  width: 40%;
}
.table > thead > tr > th .btn + .btn,
.table > tbody > tr > td .btn + .btn {
  margin-left: 5px;
}
.table > thead > tr > th > .form-group,
.table > tbody > tr > td > .form-group {
  margin-bottom: 0;
}
.table > tbody > tr > td {
  border: 0 none;
  vertical-align: middle;
}
.table.authoritiesTable > tbody > tr > td {
  text-align: center;
}
.table.product .btn {
  color: #666;
  font: 14px 'Source Sans Pro Semibold', sans-serif;
  padding: 0;
}
.table.product .my-checkbox-wrapper {
  margin: 0;
}
.table.product .my-checkbox-wrapper .checkbox {
  margin: 0;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #edf9fe;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d5f1fd;
}
