<ul class="head-controls-list head-controls-list_main">
    <li class="head-controls-list__item head-controls-list__item" toggle-class-child="open-menu">
        <i class="icon-header-control-list fa fa-arrow-circle-o-up"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ng-click="newProject($event)" href="#">Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item" toggle-class-child="open-menu">
        <i class="icon-header-control-list fa fa-cog"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project">New Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <i class="icon-header-control-list fa fa-th-large"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project">New Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <i class="icon-header-control-list fa fa-question-circle"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project.new">New Project</a></li>-->
        <!--</ul>-->
    </li>
</ul>
<ul class="head-controls-list">
    <li class="head-controls-list__item" ui-sref="experiment">
        <i class="icon-header-control-list fa fa-home"></i>
    </li>
    <li class="head-controls-list__item" uib-dropdown on-toggle="toggled(open)" id="new-entity-dropdown" uib-dropdown-toggle>
        <i class="icon-header-control-list fa fa-file-o"></i>
        <ul class="head-controls-list-submenu" uib-dropdown-menu aria-labelledby="new-entity-dropdown">
            <li class="head-controls-list-submenu__item" has-any-authority="{{PROJECT_CREATORS}}"><a
                    ui-sref="project.new">New Project</a></li>
            <li class="head-controls-list-submenu__item" has-any-authority="{{NOTEBOOK_CREATORS}}"><a
                    ui-sref="notebook.select-project">New Notebook</a></li>
            <li class="head-controls-list-submenu__item" has-any-authority="{{EXPERIMENT_CREATORS}}"><a
                    ui-sref="experiment.select-notebook">New Experiment</a></li>
        </ul>
    </li>
    <li class="head-controls-list__item">
        <i class="icon-header-control-list fa fa-files-o"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="icon-header-control-list fa fa-inbox"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="icon-header-control-list fa fa-folder-open"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="icon-header-control-list fa fa-floppy-o"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="icon-header-control-list fa fa-print"></i>
    </li>
    <li class="head-controls-list__item">
        <i class=" icon-header-control-list fa fa-search"></i>
    </li>
</ul>
<ul class="head-controls-list head-controls-list_right">
    <li class="head-controls-list__item">
        <i class="icon-header-control-list icon-header-control-list_user fa fa-user"><span>{{Principal.getIdentity().login}}</span></i>
    </li>
    <a ng-click="logout()">
        <li class="head-controls-list__item" title="Log out">
            <i class="icon-header-control-list fa fa-sign-out"></i>
        </li>
    </a>
</ul>

