<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <!--<span class="sr-only">Toggle navigation</span>-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="experiment">IndigoELN</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div style="overflow: hidden" class="collapse navbar-collapse" ng-init="isCollapsed = true"
         uib-collapse="isCollapsed">
        <ul class="nav navbar-nav">
            <li><a ui-sref="experiment"><i class="fa fa-home"></i> Home</a></li>
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i
                        class="fa fa-file-o"></i> Create <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li has-any-authority="{{PROJECT_CREATORS}}"><a
                            ui-sref="project.new">Project</a></li>
                    <li has-any-authority="{{NOTEBOOK_CREATORS}}"><a ui-sref="notebook.select-project">Notebook</a></li>
                    <li has-any-authority="{{EXPERIMENT_CREATORS}}"><a
                            ui-sref="experiment.select-notebook">Experiment</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href=""><i class="fa fa-user"></i> {{Principal.getIdentity().login}}</a></li>
            <li>
                <a href="" ng-click="logout()" title="Log out"><i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</div>

