  <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
     <md-tab label="Welcome">
      <md-content class="md-padding">
        <h1 class="md-display-2">Welcome</h1>
        <p>Create new experiment</p>
        <p>Find experiments</p>
      </md-content>
    </md-tab>
    <md-tab ng-repeat="experiment in experiments" label="{{experiment.name}}">
      <md-content class="md-padding">
        <h1 class="md-display-2">{{experiment.name}}</h1>
        <p>Some content</p>
      </md-content>
    </md-tab>
  </md-tabs>
