<app-card
  [classList]="'p-4 cursor-pointer'"
  [routerLink]="['/projects', project.id]"
>
  <div class="flex flex-col w-full">
    <div class="flex justify-between items-center mb-3 w-full">
      <h3
        class="flex items-center gap-x-2 font-semibold text-neutral-1000 text-base"
      >
        <em class="text-primary-400 text-xl indicon-briefcase"></em>
        {{ project.name }}
      </h3>
      <div class="right-0">
        <button
          class="flex items-center hover:bg-neutral-200 rounded-full cursor-pointer"
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="menu"
          aria-label="Project options menu"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>visibility</mat-icon>
            <span>Action</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div [ngClass]="variant === 'grid' ? 'space-y-2' : 'w-full'">
      <div
        class="w-full"
        [ngClass]="{
          'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6':
            variant === 'list',
          'space-y-2': variant === 'grid',
        }"
      >
        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-800 text-sm">Notebook</div>
          <div
            class="font-semibold text-h4"
            [ngClass]="{ 'ml-auto': variant === 'grid' }"
          >
            12
          </div>
        </div>

        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-800 text-sm">Experiments</div>
          <div
            class="flex items-center"
            [ngClass]="{ 'ml-auto': variant === 'grid' }"
          >
            @if (project.experimentCount.OPEN) {
              <span class="font-semibold text-h4 text-primary-400">{{
                project.experimentCount.OPEN
              }}</span>
            }
            @if (project.experimentCount.WAITING_FOR_SIGNATURE) {
              <i class="text-neutral-500">/</i>
              <span class="font-semibold text-h4 text-orange-200">{{
                project.experimentCount.WAITING_FOR_SIGNATURE
              }}</span>
            }
            @if (project.experimentCount.COMPLETED) {
              <i class="text-neutral-500">/</i>
              <span class="font-semibold text-green-200 text-h4">{{
                project.experimentCount.COMPLETED
              }}</span>
            }
            @if (project.experimentCount.REJECTED) {
              <i class="text-neutral-500">/</i>
              <span class="font-semibold text-h4 text-red-200">{{
                project.experimentCount.REJECTED
              }}</span>
            }
            <span class="mx-3 font-thin text-neutral-500">|</span>
            <!-- TODO -->
            <span class="font-semibold text-h4 text-neutral-1000">145</span>
          </div>
        </div>

        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
          *ngIf="variant === 'list'"
        >
          <div class="text-neutral-800 text-sm">Members</div>
          <div class="flex items-center">
            <div class="flex -space-x-2">
              @for (user of mock_users.slice(0, 3); track user) {
                <app-avatar classList="w-6 h-6" [img]="user" />
              }
              @if (mock_users.length > 3) {
                <span
                  class="flex justify-center items-center bg-primary-400 rounded-full w-6 h-6 text-white text-xs"
                >
                  +{{ mock_users.length - 3 }}
                </span>
              }
            </div>
          </div>
        </div>

        <div
          class="flex flex-col text-sm"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-800 text-sm">Last Edited</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ project.modifiedAt | date: 'dd MMM yyyy' }} by
            {{ project.modifiedBy.displayName }}
          </div>
        </div>

        <div
          class="flex flex-col text-sm"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-800">Created</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ project.createdAt | date: 'dd MMM yyyy' }} by
            {{ project.createdBy.displayName }}
          </div>
        </div>
      </div>
    </div>

    @if (variant === 'grid') {
      <div
        class="flex items-center mt-2 pt-3 border-t border-t-neutral-300 w-full"
      >
        <div class="flex -space-x-2">
          @for (user of mock_users.slice(0, 3); track user) {
            <app-avatar classList="w-6 h-6" [img]="user" />
          }
          @if (mock_users.length > 3) {
            <span
              class="flex justify-center items-center bg-primary-400 rounded-full w-6 h-6 text-white text-xs"
            >
              +{{ mock_users.length - 3 }}
            </span>
          }
        </div>
        <span class="ml-2 text-b2 text-neutral-800"
          >{{ mock_users.length }} Members</span
        >
      </div>
    }
  </div>
</app-card>
