<app-card [classList]="'p-4'">
  <div
    class="project-item grid gap-y-2 text-neutral-800 text-[.875rem]"
    [ngClass]="{
      'list-view': variant === 'list',
      'grid-view': variant === 'grid',
    }"
  >
    <h3
      class="[grid-area:projectTitle] font-semibold text-[1rem] text-neutral-1000 flex items-center gap-x-2"
    >
      <em class="indicon-briefcase text-primary-400 text-[1.25rem]"></em
      >{{ project.name }}
    </h3>
    <div class="[grid-area:clickMore] flex ml-auto">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class=""
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
    <div class="[grid-area:notebookLabel]">Notebook</div>
    <div
      [ngClass]="{
        'ml-auto': variant === 'grid',
      }"
      class="[grid-area:notebookValue] text-h4 font-semibold"
    >
      12
    </div>
    <div class="[grid-area:experimentLabel]">Experiments</div>
    <div
      [ngClass]="{
        'ml-auto': variant === 'grid',
        flex: variant === 'list',
      }"
      class="[grid-area:experimentValue] text-h4 [&_span]:font-semibold [&_i]:text-neutral-500"
    >
      <span class="text-primary-400">2</span>
      <i class="text-b2">/</i>
      <span class="text-orange-200">11</span>
      <i class="text-b2">/</i>
      <span class="text-green-200">1</span>
      <i class="text-b2">/</i>
      <span class="text-red-200">0</span>
      <span class="text-neutral-500 mx-3 font-thin!">|</span>
      <span class="text-neutral-1000 text-h4 font-semibold">145</span>
    </div>
    <div class="[grid-area:lastEditedLabel]">Last Edited</div>
    <div
      class="[grid-area:lastEditedValue]"
      [ngClass]="{
        'ml-auto': variant === 'grid',
      }"
    >
      14 Oct 2024 by Emmy Cooper
    </div>
    <div class="[grid-area:createdLabel]">Created</div>
    <div
      class="[grid-area:createdValue]"
      [ngClass]="{
        'ml-auto': variant === 'grid',
      }"
    >
      08 Oct 2024 by John Doe
    </div>

    @if (variant === 'grid') {
      <div
        class="[grid-area:members] flex items-center border-t-neutral-300 border-t w-full pt-3"
      >
        <div class="[grid-area:membersLabel] flex -space-x-2">
          @for (user of project.users.slice(0, 3); track user) {
            <app-avatar classList="w-6 h-6" [img]="user" />
          }
          @if (project.users.length > 3) {
            <span
              class="w-6 h-6 rounded-full bg-primary-400 text-white text-xs flex items-center justify-center"
              >+{{ project.users.length - 3 }}</span
            >
          }
        </div>
        <span class="ml-2 text-b2 text-neutral-800"
          >{{ project.users.length }} Members</span
        >
      </div>
    } @else {
      <div class="[grid-area:membersLabel]">
        <span class="text-b2 text-neutral-800"> Members</span>
      </div>
      <div class="[grid-area:membersValue] flex items-center">
        <div class="flex -space-x-2">
          @for (user of project.users.slice(0, 3); track user) {
            <app-avatar classList="w-6 h-6" [img]="user" />
          }
          @if (project.users.length > 3) {
            <span
              class="w-6 h-6 rounded-full bg-primary-400 text-white text-xs flex items-center justify-center"
              >+{{ project.users.length - 3 }}</span
            >
          }
        </div>
      </div>
    }
  </div>
</app-card>
