<div class="panel panel-info templates">
    <div class="panel-heading">Create or edit a Template</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Template Builder</h3>
                    </div>
                    <div class="panel-body">
                        <div fb-builder="default" class="builder"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Batches</h3>
                    </div>
                    <div class="panel-body">
                        <div fb-components></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" onclick="window.history.back()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</div>