<div class="panel panel-info templates">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <button class="btn btn-info" ui-sref="template.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Template</span>
                </button>
            </div>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr my-sort="predicate" ascending="reverse" callback="loadAll()">
            <!--<th my-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
            <th my-sort-by="name"><span>Template name</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th><span>Created By</span></th>
            <th><span>Creation date</span></th>
            <th><span>Last Edit Date</span></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="template in templates track by template.id">
            <!--<td><a ui-sref="template.detail({id:template.id})">{{template.id}}</a></td>-->
            <td>{{template.name}}</td>
            <td>{{template.author.login}}</td>
            <td>{{template.creationDate | date:'MMM DD, YYYY HH:mm:ss z'}}</td>
            <td>{{template.lastEditDate | date:'MMM DD, YYYY HH:mm:ss z'}}</td>
            <td>
                <button type="submit"
                        ui-sref="template.detail({id:template.id})"
                        class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                </button>
                <button type="submit"
                        ui-sref="template.edit({id:template.id})"
                        class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                </button>
                <button type="submit"
                        ui-sref="template.delete({id:template.id})"
                        class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
