<div>
    <div class="panel panel-info templates">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <my-input my-label="Name" my-model="template.name"></my-input>
                    </div>
                </div>
            </form>
            <br/>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Components
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       ng-model="search.$"
                                       placeholder="Search by name or description">
                                <span class="input-group-addon"><em class="fa fa-search"></em></span>
                            </div>
                            <br/>
                            <div class="list-group templates-holder palette animated" dragula='"components"'
                                 dragula-model='components'>
                                <a class="list-group-item draggable-component"
                                   ng-repeat="component in components | filter:search track by $index">
                                    <h5 class="list-group-item-heading draggable-component">{{component.name}}</h5>
                                    <p class="list-group-item-text draggable-component">{{component.desc}} </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Template Builder <span class="btn-group pull-right">
                                <em class="fa fa-plus" title="Add tab" ng-click="addTab()"
                                    style="cursor: pointer"></em></span>
                        </div>
                        <div class="panel-body" dragula='"tabs"' dragula-model='template.templateContent'
                             style="padding-bottom: 0">
                            <div class="text-center no-draggable" style="margin-top: 35px; margin-bottom: 35px"
                                 ng-if="!template.templateContent.length">
                                <h3 class="no-draggable text-muted">Please add tabs</h3>
                            </div>
                            <div class="panel panel-info tab animated"
                                 ng-repeat="tab in template.templateContent track by $index">
                                <div class="panel-heading">
                                        <span editable-text="tab.name"
                                              e-form="tabName"
                                              ng-click="tabName.$show()">
                                                {{ tab.name }}
                                        </span>
                                    <em class="fa fa-remove pull-right text-muted" style="cursor: pointer"
                                        title="Remove"
                                        ng-click="removeTab(tab)"></em>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group"
                                         ng-class="{'components-holder-empty':!tab.components.length}"
                                         dragula='"components"' dragula-model='tab.components'
                                         style="min-height: 100px">
                                        <a class="list-group-item draggable-component component animated"
                                           ng-repeat="component in tab.components track by $index">
                                            <h5 class="list-group-item-heading draggable-component">
                                                {{component.name}} <em class="fa fa-remove pull-right text-muted"
                                                                       style="cursor: pointer" title="Remove"
                                                                       ng-click="removeComponent(tab, component)"></em>
                                            </h5>
                                            <p class="list-group-item-text draggable-component">{{component.desc}} </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" onclick="window.history.back()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
            </button>
            <button ng-click="save()" class="btn btn-info">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="cursor: pointer" ng-init="showPreview = false"
                 ng-click="showPreview = !showPreview">
                Show Preview
            </div>
            <div class="panel-body" ng-if="showPreview && template.templateContent.length">
                <my-components my-template="template.templateContent"
                               my-disabled="true"
                               my-model="{}"
                ></my-components>
            </div>
        </div>
    </div>
</div>