<indigo-table indigo-id="preferred-compound-summary"
              indigo-columns="vm.columns"
              indigo-rows="vm.batches"
              indigo-draggable-columns="true"
              is-readonly="vm.isReadonly"
              selected-batch="vm.selectedBatch"
              selected-batch-trigger="vm.selectedBatchTrigger"
              on-select-row="vm.onSelectBatch({batch: row})"
              indigo-hide-column-settings="vm.isHideColumnSettings"
              on-changed="vm.onChange()"
              on-changed-visible-column="vm.onChangedVisibleColumn(column, isVisible)"
              on-close-cell="vm.onClose(column, data)">
    <div class="m-b20 action-panel">
        <div class="btn-toolbar action-panel__left">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info btn-small"
                        ng-disabled="true"
                        ng-click="vm.registerVC()">
                    <span class="fa fa-fl oppy-o"></span>
                    <span class="m-l5" i-translate="REGISTER_VC"></span>
                </button>
                <button type="button" class="btn btn-info btn-small"
                        ng-disabled="true"
                        ng-click="vm.vnv()" i-translate="VNV">
                </button>
            </div>
            <div class="btn-group list-component-buttons" role="group">
                <add-new-batch batch-operation="vm.batchOperation"
                               on-added-batch="vm.onAddedBatch({batch: batch})"
                               on-select-batch="vm.onSelectBatch({batch: batch})"
                               is-readonly="vm.isReadonly">
                </add-new-batch>
                <delete-batches is-readonly="vm.isReadonly || !vm.hasCheckedRows(vm.batches)"
                                batches="vm.batches"
                                on-remove-batches="vm.onRemoveBatches({batches: batches})">
                </delete-batches>
                <duplicate-batches is-readonly="vm.isReadonly || !vm.hasCheckedRows(vm.batches)"
                                   batches="vm.batches">
                </duplicate-batches>
                <indigo-inline-loader promise="vm.batchOperation"></indigo-inline-loader>
            </div>
        </div>
        <div class="action-panel__right">
            <span class="txt-small bold m-r5" i-translate="SD_FILE" i-end=":"></span>
            <div class="btn-group" role="group">
                <import-sdf-file is-readonly="vm.isReadonly"></import-sdf-file>
                <export-sdf-file is-readonly="!vm.hasCheckedRows(vm.batches)"></export-sdf-file>
            </div>
        </div>
    </div>
</indigo-table>
