<indigo-entities-controls on-close-tab="vm.onCloseTabClick($event, tab)"
                          on-close-all-tabs="vm.onCloseAllTabs(exceptCurrent)"></indigo-entities-controls>
<div class="main-tabs" indigo-tab-scroller>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="tab in vm.tabs  track by tab.tabKey"
            ng-class="{'active' : tab.tabKey === vm.activeTab.tabKey}" class="experiment-tab">
            <a ng-click="vm.onTabClick($event, tab)">
                <i class="fa fa-remove pull-right clickable" ng-click="vm.onCloseTabClick($event, tab);"></i>
                {{tab.name}} {{tab.$$title}}
                <i class="fa fa-asterisk entity-changed" aria-hidden="true" ng-if="tab.dirty"></i>
            </a>
        </li>
    </ul>
</div>
<div class="entities-content tab-content animated">
    <div class="tab-pane active">
        <div ui-view="tabContent" class="tab-content animated"></div>
    </div>
</div>

