<div my-tab-scroller class="experiment-tabs">
    <ul class="nav nav-pills">
        <li role="presentation"  ng-class="{'active' : tab.tabKey === activeTab.tabKey}"
            ng-repeat="tab in tabs  track by tab.tabKey" class="experiment-tab">
            <a class="capitalized" ng-click="$event.stopPropagation(); onTabClick(tab)">
               {{tab.name}} {{tab.$$title}}<em
                    class="glyphicon glyphicon-remove text-muted pull-right clickable experiment-tab-close"
                    ng-click="$event.stopPropagation(); onCloseTabClick(tab);"></em>
                <i class="fa fa-asterisk entity-changed" aria-hidden="true" ng-if="tab.dirty"></i>
            </a>
        </li>
    </ul>
</div>
<div class="entities-content tab-content animated">
    <div class="tab-pane active">
        <div ui-view="tabContent" class="tab-content animated"></div>
    </div>
</div>

