<ul class="nav nav-tabs nav-justified" style="margin-top: 30px">
    <li role="presentation" ng-class="{'active' : entity.fullId===entityId}"
        ng-repeat="entity in entities track by entity.fullId">
        <a class="tab-name" ng-click="$event.stopPropagation(); onTabClick(entity.fullId)">
            {{getKind(entity.fullId)}} {{entity.title}} <span
                ng-click="$event.stopPropagation(); onCloseTabClick(entity.fullId, entityId);"><i
                class="glyphicon glyphicon-remove text-muted pull-right"
                style="cursor: pointer"
                ng-if="entities.length>1"></i></span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active">
        <div ui-view="tabContent"></div>
    </div>
</div>
