<div class="panel panel-info component" indigo-collapsible-component>
    <div class="panel-heading">
        {{vm.title}}
                <span ng-disabled="vm.readonly" class="fa fa-save btn action-panel-btn pull-right m-r30-imp" 
                      title="Export {{vm.title}}"
                      ng-click="vm.exportStructure($event)"></span>
                <span ng-disabled="vm.readonly" class="fa  fa-folder-open-o btn action-panel-btn pull-right"
                      title="Import {{vm.title}}"
                      ng-click="vm.importStructure($event)"></span>
                <span ng-disabled="vm.readonly" class="fa fa-edit btn action-panel-btn  panel-btn-reaction-scheme pull-right"
                      title="Edit/Add {{vm.title}}" ng-click="vm.openEditor($event)"></span>
    </div>
    <div indigo-resizable max-height="300" min-height="50" ng-dblclick="vm.openEditor($event)"
         class="panel-body text-center structure-scheme__img" ng-class="{'sizable-panel-body': image}">
        <div ng-if="vm.model[vm.structureType].image" class="h-100" >
            <img  class="img-responsive center-block h-100"
            ng-src="data:image/svg+xml;base64,{{vm.model[vm.structureType].image}}" alt="Image is unavailable.">
            <span class="glyphicon glyphicon-option-horizontal structure-scheme__option"></span>
        </div>
        <h3 ng-if="!vm.model[vm.structureType].image" class="text-muted">empty</h3>
    </div>
</div>
