<div class="modal-header">
    <h5 class="modal-title" ng-bind="vm.title"></h5>
</div>

<div class="modal-body long-content-popup">
    <p ng-bind="vm.message"></p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="vm.resolve()"
            ng-if="::vm.isVisibleYes"
            ng-bind="::vm.resolveText">
    </button>
    <button class="btn btn-info"
            type="button"
            ng-click="vm.reject()"
            ng-if="::vm.isVisibleNo"
            ng-bind="::vm.rejectText">

    </button>
    <button class="btn btn-default"
            type="button"
            ng-if="::vm.isVisibleCancel"
            ng-click="vm.cancel()">
        <i class="fa fa-ban"></i>
        <span class="m-l5" ng-bind="::vm.cancelText"></span>
    </button>
</div>