<label class="flex flex-col gap-2">
  <span
    class="text-sm font-medium"
    [class]="{
      'text-red-200': hasError(),
    }"
  >
    {{ label() }}
  </span>
  @if (required()) {
    <span class="text-red-200">*</span>
  }

  <div class="relative flex items-center">
    <input
      [class]="
        {
          'relative inline-flex w-full items-center gap-2 rounded-sm border px-3 py-2 transition-colors duration-200 border-neutral-300 outline-none placeholder:text-neutral-600 text-sm': true,
          'focus:border-primary-400 focus:text-black': !disabled(),
          'cursor-not-allowed bg-neutral-100 border-neutral-300': disabled(),
          'hover:border-primary-400 active:border-primary-400':
            !disabled() && !hasError(),
          'border-red-200 text-red-200': hasError(),
        } | classPicker
      "
      type="text"
      [placeholder]="getPlaceholder()"
      [value]="value()"
      (input)="onInput($event)"
      [disabled]="disabled()"
    />

    @if (value() && !disabled()) {
      <em
        class="chip-icon indicon-close text-lg cursor-pointer absolute z-50 right-2"
        (click)="clearValue()"
      ></em>
    }
  </div>
</label>
