@import 'variables.less';
@import 'mixin.less';
@import 'helper.less';

/******************TABS*********************/

.nav-tabs {

  > li {

    > a {
      border-top: 0 none;
      color: @tabs-link-color;
      font-family: @tabs-link-family;
      margin-right: 0;
      padding: @tabs-link-pad;
      text-transform: uppercase;

      &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        color: @tabs-link-hover-color;
      }
      .fa-remove {
        margin-top: 2px;
        margin-left: 13px;
      }
    }

    &.active {
      > a {
        &,
        &:hover,
        &:focus {
          border-top-color: transparent;
        }
      }
    }
  }
}

//Main tabs

.main-tabs {
  white-space: nowrap;

  .nav-tabs {

    > li {
      display: inline-block;
      float: none;
    }
  }

  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 18px;
  }
}

.tab-content {

  &.entities-content {
    height: ~"calc(100vh - 156px)";
    overflow-y: auto;
    padding: @pad-space 0;
  }

  &-pad {
    padding: 0 @pad-space;
  }
}

//Inner panel tabs

.inner-tabs {

  .nav-tabs {
    padding: 0 @pad-space;

    > li {

      > a {
        border-width: 0 0 @inner-tabs-link-border-width;
        border-bottom: @inner-tabs-link-border-width solid transparent;
        font: @inner-tabs-link-size @inner-tabs-link-family;
        padding: @inner-tabs-link-pad;

        &:hover, &:focus {
          border-bottom-color: @inner-tabs-link-hover-border-color;
        }
      }

      &.active {
        > a {
          border-width: 0 0 @inner-tabs-link-border-width;
          &,
          &:hover,
          &:focus {
            border-bottom-color: @inner-tabs-link-hover-border-color;
          }
        }
      }
    }
  }

  .tab-content {
    background-color: @gray-lighter;
    border: 1px solid @border-color;
    border-top: 0 none;
    padding: @pad-space;
  }
}