entity-tree {
  //display: flex;
  font: @sidebar-link-size @sidebar-link-family;

  > ul > .simple-node {
    padding-left: 35px;
  }
  .simple-node {
    display: flex;
    flex-direction: column;

    &.active {
      > .name-wrapper {
        a {
          color: @white;
        }
      }
    }

    .type-of-experiment {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
    }

    .experiment-status {
      font-size: 15px;
    }

    .name-wrapper {
      display: flex;
    }
  }
  ul {
    //display: flex;
    //flex-direction: column;
    //flex-grow: 1;
    padding-left: 15px;
    //overflow-y: auto;
    //max-height: 100%;
  }

  > ul {
    overflow-y: auto;
  }
}