<eln-card classList="px-4 sm:px-2 md:px-4 shadow-md pb-0">
    <div class="flex items-center justify-between flex-wrap gap-4">
        <div class="font-semibold text-lg pl-1">Notebook: {{ notebook?.name }}</div>
        <div class="flex items-center gap-2 ml-auto">
            <eln-button [disabled]="true" classList="mr-2 opacity-50">Add experiment</eln-button>
            <eln-button [disabled]="true" classList="opacity-50">...</eln-button>
        </div>
    </div>

    <div class="flex items-center mt-6 overflow-x-auto">
        <eln-project-tab-button label="Notebook Info" [routerLink]="infoUrl" />
        <eln-project-tab-button label="Experiments" [routerLink]="experimentsUrl" />
    </div>
</eln-card>

<router-outlet />