//Brand Colors

@bg-white: #fff;
@bg-dark: #37474f;
@bg-gray: #90a4ae;
@bg-gray-l1: #cfd8dc;
@bg-gray-l2: #eceff1;
@bg-gray-l3: #d1dade;
@bg-gray-d1: #607d8b;
@bg-gray-d2: #546e7a;
@bg-gray-d3: #9fb0b9;
@bg-blue: #4dd0e1;
@bg-blue-l1: #b2ebf2;
@bg-blue-l2: #e0f7fa;
//text color

@link-color-blue: @bg-blue;
@link-color-black: @bg-dark;
@link-color-black-d1: @bg-gray-d1;
@link-color-gray: @bg-gray;
@link-color-gray-d1: #6b8693;

//border color

@br-gray-l1: @bg-gray-l1;
@br-blue: @bg-blue;
@br-gray-d1: #607d8b;