<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
</div>
<div class="modal-body">
    <div class="long-content-popup">
        <div class="select-from-dictionary" ng-repeat="item in dictionary.words track by item.name">
            <my-checkbox
                    my-model="selectedItemsFlags[$index]"
                    my-label="{{item.name}}"
                    my-change="selectItem($index, item.name)"
            ></my-checkbox>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-click="save()">
        <i class="fa fa-save"></i><span class="m-l5">Save</span>
    </button>
</div>
