<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
</div>
<div class="modal-body">
    <div class="long-content-popup">
        <div class="row select-from-dictionary" ng-repeat="item in dictionary.words track by item.name">
            <div class="col-xs-12">
                <my-checkbox
                        my-model="isSelected[$index]"
                        my-label="{{item.name}}"
                        my-change="selectItems($index, item.name)"
                ></my-checkbox>
            </div>
        </div>
    </div>
</div>

</div>
<div class="modal-footer text-right">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
