<div ng-controller="NewExperimentTabCtrl" ng-form="newexperiment">
    <div>
        <h3>Experiment name</h3>
        <form name="newexperiment">
        <input class="form-control" ng-model="experiment.name" required>
        </form>
    </div>
    <div class="block">
        <h3>Select template:</h3>
        <ul>
            <li ng-repeat="template in templates" class="newtemplate" 
                ng-click="select(template)" ng-class="{selected : template == selected}"> 
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> <span class="glyphicon-class">{{template.name}}</span> 
            </li>
        </ul>
    </div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="newexperiment.$invalid">OK</button>
	    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>