<div class="tab-content-pad scroll-full">
    <div class="reagent-search-tab" ng-show="!isSearchResultFound">
        <div class="panel panel-info">
            <div class="panel-heading">Search</div>
            <div class="panel-body">
                <div class="main-search-block">
                    <div class="row">
                        <div class="col-xs-9">
                            <form ng-submit="search()">
                                <my-input my-model="model.restrictions.searchQuery"
                                          my-label="Type in your search query"
                                          my-label-vertical="true"></my-input>
                            </form>
                        </div>
                        <div class="col-xs-3">
                            <a class="link-advanced-search" ng-click="$$isCollapsed = !$$isCollapsed">
                                Advanced search
                            <span ng-class="{'glyphicon glyphicon-chevron-down':$$isCollapsed,
                                                 'glyphicon glyphicon-chevron-up':!$$isCollapsed}"></span>
                            </a>
                        </div>
                    </div>
                    <div class="search-hint"></div>
                </div>
                <div uib-collapse="$$isCollapsed" class="collapse-content">
                    <div ng-show="!isSearchResultFound">
                        <div class="criteria-search-block">
                            <h5>Field Search Criteria:</h5>
                            <div class="row" ng-repeat="(key, obj) in model.restrictions.advancedSearch">
                                <div ng-if="!obj.$$skipList">
                                    <div class="col-xs-3"><label class="control-label" ng-bind="::obj.name"></label></div>
                                    <div class="col-xs-3">
                                        <my-select my-items="obj.$$conditionList"
                                                   my-model="obj.condition">
                                        </my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <form ng-submit="search()">
                                            <my-input my-model="obj.value"></my-input>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="criteria-search-block">
                            <h5>Entity Type Criteria:</h5>
                            <div class="row">
                                <div class="col-xs-2">
                                    <my-checkbox my-model="selectedEntitiesFlags['Project']"
                                                 my-change="selectEntity('Project')" my-label="Project"></my-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <my-checkbox my-model="selectedEntitiesFlags['Notebook']"
                                                 my-change="selectEntity('Notebook')" my-label="Notebook"></my-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <my-checkbox my-model="selectedEntitiesFlags['Experiment']"
                                                 my-change="selectEntity('Experiment')" my-label="Experiment"></my-checkbox>

                                </div>
                            </div>
                        </div>
                        <div class="criteria-search-block">
                            <h5>Entity Searching Domain:</h5>
                            <div class="row m-b15">
                                <div class="col-xs-2">
                                    <label class="radio-inline">
                                        <input checked="checked" name="domain" type="radio" value="OWN_ENTITY"  ng-change="changeDomain()" ng-model="domainModel">
                                        <span style="line-height: 1.5;">In My Own Entity</span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    <label class="radio-inline">
                                        <input  name="domain" type="radio" value="USERS_ENTITIES" ng-change="changeDomain()" ng-model="domainModel">
                                        <span style="line-height: 1.5;">In Entities of These Users</span>
                                    </label>
                                </div>
                            </div>
                            <my-select class="m-b20"
                                       my-label-vertical="true"
                                       my-readonly="myReadonly"
                                       my-items="users"
                                       my-change = "selectedUsersChange()"
                                       my-remove = "selectedUsersChange()"
                                       my-model="selectedUsers"
                                       my-multiple="true">
                            </my-select>
                        </div>
                        <div class="criteria-search-block">
                            <h5>Experiment Status Criteria:</h5>
                            <div class="row">

                                <div class="col-xs-2">
                                    <my-checkbox my-model="selectedItemsFlags['OPEN']"
                                                 my-change="selectItem('OPEN')" my-label="Open"></my-checkbox>

                                    <my-checkbox my-model="selectedItemsFlags['SINGING']"
                                                 my-change="selectItem('SINGING')"
                                                 my-label="Signing"></my-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <my-checkbox my-model="selectedItemsFlags['COMPLETED']"
                                                 my-change="selectItem('COMPLETED')"
                                                 my-label="Completed"></my-checkbox>

                                    <my-checkbox my-model="selectedItemsFlags['SUBMIT_FAIL']"
                                                 my-change="selectItem('SUBMIT_FAIL')"
                                                 my-label="Submit Fail"></my-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <my-checkbox my-model="selectedItemsFlags['SUBMITTED']"
                                                 my-change="selectItem('SUBMITTED')"
                                                 my-label="Submitted"></my-checkbox>

                                    <my-checkbox my-model="selectedItemsFlags['ARCHIVED']"
                                                 my-change="selectItem('ARCHIVED')"
                                                 my-label="Archived"></my-checkbox>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Structure/Reaction search Query</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <label class="control-label">Search</label>
                    </div>
                    <div class="col-xs-4">
                        <my-select my-items="structureTypes"
                                   my-model="model.restrictions.structure.type"></my-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <label class="control-label">Similarity criteria</label>
                    </div>
                    <div class="col-xs-4">
                        <my-select my-items="conditionSimilarity"
                                   my-model="model.restrictions.structure.similarityCriteria"></my-select>
                    </div>
                    <div ng-if="model.restrictions.structure.similarityCriteria.name == 'similarity'">
                        <my-input class="col-xs-1"
                                  my-name="similarityValue"
                                  my-validation-pattern="/^\d{1,2}(?!\d)|100$/"
                                  my-validation-max-length="3"
                                  my-validation-required="true"
                                  my-validation-pattern-text="Enter 1-100"
                                  my-model="model.restrictions.structure.similarityValue"></my-input>
                        <div style="position:relative">
                            <span style="position:absolute;top:7px;">%</span>
                        </div>
                    </div>
                </div>
                <div class="m-t5">
                    <structure-scheme class="search-structure-scheme" my-structure-type="molecule"
                                      my-title="Structure or reaction" my-model="scheme"
                                      my-autosave="false"
                                      ng-if="model.restrictions.structure.type.name == 'Product'"></structure-scheme>
                    <structure-scheme class="search-structure-scheme" my-structure-type="reaction"
                                      my-title="Structure or reaction" my-model="scheme"
                                      my-autosave="false"
                                      ng-if="model.restrictions.structure.type.name == 'Reaction'"></structure-scheme>
                </div>
            </div>
        </div>
        <div class="btn-bottom-block">
            <button class="btn btn-primary btn-can-loading {{(loading) ? 'btn-loading' : ''}}" type="button" ng-click="search()" ng-disabled="!model.restrictions.structure.image && !isAdvancedSearchFilled() &&
                    !model.restrictions.searchQuery">Search
            </button>
            <button class="btn btn-secondary" type="button" ng-click="clear()">Clear</button>
        </div>

        <my-table my-id="search-result-table" my-columns="columns" my-rows="searchResults"
                  my-draggable-columns="false"  my-search-columns="['name']"
                  my-readonly="true"  my-hide-column-settings="true">
        </my-table>
    </div>
</div>