<div class="tab-content-pad scroll-full">
    <div class="reagent-search-tab" ng-show="!isSearchResultFound">
        <div class="panel panel-info">
            <div class="panel-heading">Search</div>
            <div class="panel-body">
                <div class="main-search-block">
                    <div class="row">
                        <div class="col-xs-9">
                            <form ng-submit="search()">
                                <indigo-input indigo-model="model.restrictions.searchQuery"
                                              indigo-label="Type in your search query"
                                              indigo-label-vertical="true"></indigo-input>
                            </form>
                        </div>
                        <div class="col-xs-3">
                            <a class="link-advanced-search" ng-click="$$isCollapsed = !$$isCollapsed">
                                Advanced search
                            <span ng-class="{'glyphicon glyphicon-chevron-down':$$isCollapsed,
                                                 'glyphicon glyphicon-chevron-up':!$$isCollapsed}"></span>
                            </a>
                        </div>
                    </div>
                    <div class="search-hint"></div>
                </div>
                <div uib-collapse="$$isCollapsed" class="collapse-content">
                    <div ng-show="!isSearchResultFound">
                        <div class="criteria-search-block">
                            <h5>Field Search Criteria:</h5>
                            <div class="row" ng-repeat="(key, obj) in model.restrictions.advancedSearch">
                                <div ng-if="!obj.$$skipList">
                                    <div class="col-xs-3"><label class="control-label" ng-bind="::obj.name"></label></div>
                                    <div class="col-xs-3">
                                        <indigo-select indigo-items="obj.$$conditionList"
                                                       indigo-model="obj.condition">
                                        </indigo-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <form ng-submit="search()">
                                            <indigo-input indigo-model="obj.value"></indigo-input>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="criteria-search-block">
                            <h5>Entity Type Criteria:</h5>
                            <div class="row">
                                <div class="col-xs-2">
                                    <indigo-checkbox indigo-model="selectedEntitiesFlags['Project']"
                                                     indigo-change="selectEntity('Project')" indigo-label="Project"></indigo-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <indigo-checkbox indigo-model="selectedEntitiesFlags['Notebook']"
                                                     indigo-change="selectEntity('Notebook')" indigo-label="Notebook"></indigo-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <indigo-checkbox indigo-model="selectedEntitiesFlags['Experiment']"
                                                     indigo-change="selectEntity('Experiment')" indigo-label="Experiment"></indigo-checkbox>

                                </div>
                            </div>
                        </div>
                        <div class="criteria-search-block">
                            <h5>Entity Searching Domain:</h5>
                            <div class="row m-b15">
                                <div class="col-xs-2">
                                    <label class="radio-inline">
                                        <input checked="checked" name="domain" type="radio" value="OWN_ENTITY"  ng-change="changeDomain()" ng-model="domainModel">
                                        <span style="line-height: 1.5;">In My Own Entity</span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    <label class="radio-inline">
                                        <input  name="domain" type="radio" value="USERS_ENTITIES" ng-change="changeDomain()" ng-model="domainModel">
                                        <span style="line-height: 1.5;">In Entities of These Users</span>
                                    </label>
                                </div>
                            </div>
                            <indigo-select class="m-b20"
                                           indigo-label-vertical="true"
                                           indigo-readonly="myReadonly"
                                           indigo-items="users"
                                           indigo-change = "selectedUsersChange()"
                                           indigo-remove = "selectedUsersChange()"
                                           indigo-model="selectedUsers"
                                           indigo-multiple="true">
                            </indigo-select>
                        </div>
                        <div class="criteria-search-block">
                            <h5>Experiment Status Criteria:</h5>
                            <div class="row">

                                <div class="col-xs-2">
                                    <indigo-checkbox indigo-model="selectedItemsFlags['OPEN']"
                                                     indigo-change="selectItem('OPEN')" indigo-label="Open"></indigo-checkbox>

                                    <indigo-checkbox indigo-model="selectedItemsFlags['SINGING']"
                                                     indigo-change="selectItem('SINGING')"
                                                     indigo-label="Signing"></indigo-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <indigo-checkbox indigo-model="selectedItemsFlags['COMPLETED']"
                                                     indigo-change="selectItem('COMPLETED')"
                                                     indigo-label="Completed"></indigo-checkbox>

                                    <indigo-checkbox indigo-model="selectedItemsFlags['SUBMIT_FAIL']"
                                                     indigo-change="selectItem('SUBMIT_FAIL')"
                                                     indigo-label="Submit Fail"></indigo-checkbox>

                                </div>
                                <div class="col-xs-2">
                                    <indigo-checkbox indigo-model="selectedItemsFlags['SUBMITTED']"
                                                     indigo-change="selectItem('SUBMITTED')"
                                                     indigo-label="Submitted"></indigo-checkbox>

                                    <indigo-checkbox indigo-model="selectedItemsFlags['ARCHIVED']"
                                                     indigo-change="selectItem('ARCHIVED')"
                                                     indigo-label="Archived"></indigo-checkbox>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Structure/Reaction search Query</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <label class="control-label">Search</label>
                    </div>
                    <div class="col-xs-4">
                        <indigo-select indigo-items="structureTypes"
                                       indigo-model="model.restrictions.structure.type"></indigo-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <label class="control-label">Similarity criteria</label>
                    </div>
                    <div class="col-xs-4">
                        <indigo-select indigo-items="conditionSimilarity"
                                       indigo-model="model.restrictions.structure.similarityCriteria"></indigo-select>
                    </div>
                    <div ng-if="model.restrictions.structure.similarityCriteria.name == 'similarity'">
                        <indigo-input class="col-xs-1"
                                      indigo-name="similarityValue"
                                      indigo-validation-pattern="/^\d{1,2}(?!\d)|100$/"
                                      indigo-validation-max-length="3"
                                      indigo-validation-required="true"
                                      indigo-validation-pattern-text="Enter 1-100"
                                      indigo-model="model.restrictions.structure.similarityValue"></indigo-input>
                        <div style="position:relative">
                            <span style="position:absolute;top:7px;">%</span>
                        </div>
                    </div>
                </div>
                <div class="m-t5">
                    <indigo-structure-scheme class="search-structure-scheme" my-structure-type="molecule"
                                      my-title="Structure or reaction" my-model="scheme"
                                      my-autosave="false"
                                      ng-if="model.restrictions.structure.type.name == 'Product'"></indigo-structure-scheme>
                    <indigo-structure-scheme class="search-structure-scheme" my-structure-type="reaction"
                                      my-title="Structure or reaction" my-model="scheme"
                                      my-autosave="false"
                                      ng-if="model.restrictions.structure.type.name == 'Reaction'"></indigo-structure-scheme>
                </div>
            </div>
        </div>
        <div class="btn-bottom-block">
            <button class="btn btn-primary btn-can-loading {{(loading) ? 'btn-loading' : ''}}" type="button" ng-click="search()" ng-disabled="!model.restrictions.structure.image && !isAdvancedSearchFilled() &&
                    !model.restrictions.searchQuery">Search
            </button>
            <button class="btn btn-secondary" type="button" ng-click="clear()">Clear</button>
        </div>

        <indigo-table indigo-id="search-result-table" indigo-columns="columns" indigo-rows="searchResults"
                      indigo-draggable-columns="false"  indigo-search-columns="['name']"
                      indigo-readonly="true"  indigo-hide-column-settings="true">
        </indigo-table>
    </div>
</div>