<div ng-if="vm.isVisible" class="autorecovery">
    <span>
        <span class="message">
            <span ng-bind="vm.kind" class="capitalized"></span>
            <b ng-bind="vm.name"></b>
            was not saved. Do you want to restore changes?
        </span>
        <span class="autorecovery-buttons">
            <button class="btn btn-primary" ng-click="vm.restore()">
                YES
            </button>
            <button  class="btn btn-default" ng-click="vm.remove();">
                NO
            </button>
        </span>
    </span>
</div>