<div ng-if="!!indigoRestored" class="autorecovery">
    <span>
        <span class="message">
            <span ng-bind="indigoRestored.rec.rec.kind" class="capitalized"></span>
            <b ng-bind="indigoRestored.rec.entity.name"></b>
            was not saved. Do you want to restore changes?
        </span>
        <span class="autorecovery-buttons">
            <button ng-click="indigoRestored.resolve(false)" class="btn btn-default no">
                NO
            </button>
            <button class="btn btn-primary yes" ng-click="indigoRestored.resolve(true)">
                YES
            </button>
        </span>
    </span>
</div>