<div class="user-management">
    <div class="row m-b20">
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" ng-disabled="vm.indigoReadonly" ng-click="vm.upload()">
                <span class="glyphicon glyphicon-flash"></span>
                <span class="m-l5">Attach File</span>
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <div class="search-field m-t5">
                <i class="fa fa-search" ng-click="vm.search()"></i>
                <input type="search" class="uui-search" placeholder="File name" id="searchFile"
                       ng-model="vm.searchText" press-enter="vm.search()">
            </div>
        </div>
    </div>
    <div class="table-responsive" indigo-scroller="x">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>File Name</th>
                <th>Author</th>
                <th>Length (bytes)</th>
                <th>Upload Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in vm.files track by file.id">
                <td ng-bind="file.filename"></td>
                <td ng-bind="file.author.login  || file.author.firstName"></td>
                <td ng-bind="file.length | prettyBytes"></td>
                <td ng-bind="file.uploadDate | date:'d MMMM yyyy' : 'UTC'"></td>
                <td>
                    <a class="btn btn-info btn-small" href="api/project_files/{{file.id}}" target="_self">
                        <span class="glyphicon glyphicon-download"></span>
                        <span class="m-l5">Download</span>
                    </a>
                    <button type="button"
                            ng-disabled="vm.indigoReadonly"
                            ng-click="vm.deleteFile(file)"
                            class="btn btn-info btn-small">
                        <span class="fa fa-trash"></span>
                        <span class="m-l5">Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.loadAll()"></uib-pagination>
    </div>
</div>

