<div class="modal-header">
    <h5 class="modal-title">Melting Point Information</h5>
</div>
<div class="modal-body">
    <div class="row melting-point-info">
        <div class="col-xs-4"  style="position:relative">
            <strong style="position:absolute;top:33px;">Melting Point Range:</strong>
        </div>
        <div class="col-xs-2">
            <my-input my-model="meltingPoint.lower"
                      my-label="Lower"
                      my-type="number"
                      my-label-vertical="true"></my-input>
            <div style="position:relative">
                <span style="position:absolute;top:33px;">&deg;C</span>
            </div>
        </div>
        <div class="col-xs-2">
            <my-input my-model="meltingPoint.upper"
                      my-label="Upper"
                      my-type="number"
                      my-label-vertical="true"></my-input>
            <div style="position:relative">
                <span style="position:absolute;top:33px;">&deg;C</span>
            </div>
        </div>
        <div class="col-xs-4">
            <my-input my-model="meltingPoint.comments"
                my-columns-num="3"
                my-label="Comments"
                my-label-vertical="true"></my-input>
        </div>
    </div>
</div>

</div>
<div class="modal-footer text-right">
    <button class="btn btn-info" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
