<form name="saveForm" ng-submit="vm.confirmSave()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h5 class="modal-title" i-translate="CONFIRM_SAVE_OPERATION"></h5>
    </div>
    <div class="modal-body">
        <p i-translate="YOU_ARE_TRYING_TO_SAVE_ROLE_WITHOUT_AUTHORITY"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="fa fa-ban"></span><span class="m-l5" i-translate="CANCEL"></span>
        </button>
        <button type="submit" ng-disabled="saveForm.$invalid" class="btn btn-info">
            <span class="fa fa-save"></span><span class="m-l5" i-translate="SAVE"></span>
        </button>
    </div>
</form>
