<fieldset ng-disabled="vm.readonly">
    <uib-tabset class="inner-tabs">
        <uib-tab class="" heading="{{tab.name}}" ng-repeat="tab in vm.template track by tab.name">
            <indigo-component class="my-component" ng-repeat="component in tab.components"
                              component-id="{{component.id}}"
                              model="vm.model"
                              batches="vm.batches"
                              experiment="vm.experiment"
                              experiment-form="vm.experimentForm"
                              indigo-save-experiment-fn="vm.saveExperimentFn()"
                              readonly="vm.readonly"></indigo-component>
        </uib-tab>
    </uib-tabset>
</fieldset>