<fieldset>
    <uib-tabset class="inner-tabs"
                active="vm.activeTabIndex">
        <uib-tab heading="{{tab.name}}"
                 ng-click="vm.setActive($index)"
                 ng-repeat="tab in vm.template track by tab.name" ng-init="vm.wasOpen[$index] = false">
            <div ng-if="vm.wasOpen[$index] || vm.activeTabIndex === $index"
                 ng-init="vm.wasOpen[vm.activeTabIndex] = true"
                 class="tab-components"
                 custom-scroll="{{vm.userId + vm.experiment.fullId + $index + 'customScroll' + '.scrollPos'}}">
                <data-ng-include class="my-component"
                                 ng-repeat="component in tab.components track by component.id"
                                 src="component.id">
                </data-ng-include>
            </div>
        </uib-tab>
    </uib-tabset>
</fieldset>
