<mat-drawer-container hasBackdrop="false">
  <mat-drawer mode="over" position="end" class="dictionary-drawer" [opened]="isDrawerOpen" (closed)="closeDrawer()">
    @if (selectedDictionary) {
      <eln-dictionary-drawer [dictionary]="selectedDictionary" (closed)="closeDrawer()" />
    }
  </mat-drawer>

  <mat-drawer-content>
    <div class="font-semibold text-lg">Dictionaries</div>
    <eln-dictionary-list (selectDictionaryEvent)="onDictionarySelected($event)" />
  </mat-drawer-content>
</mat-drawer-container>
