<div>
    <div class="modal-header">
        <h5 class="modal-title">Structure Editor</h5>
    </div>
    <div class="modal-body">
        <indigo-editor indigo-structure="vm.structure" indigo-editor-name="{{vm.editor}}"></indigo-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">
            <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    </div>
</div>