<form id="productBatchSummarySetInputValueForm"
      name="productBatchSummarySetInputValueForm"
      ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h5 class="modal-title">Set value for {{vm.name}}</h5>
    </div>
    <div class="modal-body">
        <indigo-input indigo-type="text" indigo-model="vm.value"></indigo-input>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="fa fa-ban"></span><span class="m-l5">Cancel</span>
        </button>
        <button type="submit" ng-disabled="productBatchSummarySetInputValueForm.$invalid" class="btn btn-primary"
                form="productBatchSummarySetInputValueForm">
            <span class="fa fa-save"></span><span class="m-l5">Save</span>
        </button>
    </div>
</form>