<eln-list-header
  [sortOptions]="headerSortOptions"
  [currentSort]="getCurrentSort()"
  (viewChange)="onViewChange($event)"
  (searchChange)="onSearch($event)"
  (sortChange)="onSortChange($event)"
  (myEntitiesOnlyChange)="onMyEntitiesOnlyChange($event)"
/>
<div
  *ngIf="data$ | async as data"
  [@viewChange]="selectedView"
  [ngClass]="{
    'grid gap-x-4 mt-5 gap-y-4': true,
    'grid-cols-1': selectedView === 'list',
    'md:grid-cols-2 2xl:grid-cols-3': selectedView === 'grid',
  }"
>
  @for (notebook of data; track notebook.id) {
    <eln-notebook-item
      [notebook]="notebook"
      [variant]="selectedView"
      [projectId]="projectId"
    />
  }
  <eln-infinite-loader
    [classNames]="
      {
        'col-span-1': selectedView == 'list',
        '2xl:col-span-3 md:col-span-2': selectedView == 'grid',
      } | classPicker
    "
    (infiniteLoad)="infiniteLoad()"
  />
</div>

<eln-button
  *projectOverviewWidget="'button'"
  variant="blue"
  classList="flex items-center gap-2"
  (click)="openModal()"
>
  <em class="text-xl indicon-plus"></em>
  <span class="whitespace-nowrap">Add Notebook</span>
</eln-button>
