<div class="panel panel-info component">
    <div class="panel-heading">
        Stoichiometry Table
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Reactants, Reagents, Solvents
            </div>
            <div class="col-md-10">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-sm" role="group" style="margin-right: 4px;">
                        <button type="button" class="btn btn-default" disabled><i
                                class="glyphicon glyphicon-arrow-up"></i>
                        </button>
                        <button type="button" class="btn btn-default" disabled><i
                                class="glyphicon glyphicon-arrow-down"></i></button>
                    </div>
                    <div class="btn-group-vertical btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-block ellipsis">My Reagent List</button>
                        <button type="button" class="btn btn-default btn-block ellipsis">Add To My Reagent List</button>
                    </div>
                    <div class="btn-group-vertical btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-block ellipsis">Search DBs</button>
                        <button type="button" class="btn btn-default btn-block ellipsis">MSDS Search</button>
                    </div>
                    <div class="btn-group-vertical btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-block ellipsis" disabled>Analyze Rxn</button>
                        <button type="button" class="btn btn-default btn-block ellipsis" disabled>Create Rxn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <my-table my-columns="reactantsColumns" my-rows="[{}]"></my-table>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                Intended Reaction Products
            </div>
        </div>
    </div>
    <my-table my-columns="intendedColumns" my-rows="[{}]"></my-table>
</div>