<div class="panel panel-primary component">
    <div class="panel-heading">
        Concept Details
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-xs-8">
                    <my-input my-label="Concept Subject / Title" my-label-vertical="true"
                              my-model="model.conceptDetails.title"></my-input>
                    <my-select my-label="Therapeutic Area" my-label-vertical="true"></my-select>
                    <my-select my-label="Project Code & Name" my-label-vertical="true"></my-select>
                    <my-select my-label="Experiment creator" my-label-vertical="true"></my-select>
                </div>
                <div class="col-xs-4">
                    <my-input my-label="Creation Date" my-label-vertical="true"></my-input>
                    <my-input my-label="Linked Experiment" my-label-vertical="true"></my-input>
                    <my-text-area my-label="Designers" my-label-vertical="true"></my-text-area>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <my-text-area my-label="Concept Keywords" my-label-vertical="true"></my-text-area>
                </div>
            </div>
        </div>
    </div>
</div>