@if (isLoading) {
 <div class="flex items-center justify-center h-screen">
  Loading dictionaries...
</div>
}

@if (hasError) {
  <div class="text-center p-4">
    <p>Error loading dictionaries.</p>
  </div>
}

@if (!isLoading && !hasError && dictionaries.length > 0) {
  <div class="flex flex-col gap-4 py-4">
    @for (dictionary of dictionaries; track dictionary.id) {
      <div
        class="hover:cursor-pointer rounded-2xl overflow-hidden shadow hover:shadow-lg transition-shadow"
      >
        <eln-card (click)="selectDictionary(dictionary)" classList="p-4">
          <div class="flex gap-2 items-center">
            <em class="indicon-book" [style.color]="'var(--color-primary-400)'"></em>
            <h2 class="font-semibold text-base">{{ dictionary.name }}</h2>
          </div>

          <div class="flex justify-between gap-8 pt-4 text-sm">

            <div class="flex-1">
              <h3 class="text-neutral-800 mb-2">Description</h3>
              <p class="text-neutral-1000">{{ dictionary.description }}</p>
            </div>

            <div class="flex-1">
              <h3 class="text-neutral-800 mb-2 whitespace-nowrap">
                Last Edited on
              </h3>
              <p class="text-neutral-1000 whitespace-nowrap">
                {{ dictionary.modifiedAt | date: 'dd MMMM yyyy' }}
              </p>
            </div>


            <div class="flex-1">
              <h3 class="text-neutral-800 mb-2 whitespace-nowrap">
                Last Edited by
              </h3>
              <p class="text-neutral-1000">
                {{ dictionary.modifiedBy.displayName }}
              </p>
            </div>

          </div>
        </eln-card>
      </div>
    }
  </div>
} @else if (!isLoading) {
  <div class="text-center p-4">
    <p>No dictionaries available.</p>
  </div>
}
