<eln-card [classList]="'cursor-pointer'">
  <div class="flex flex-col w-full px-4">
    <div class="flex justify-between items-center mb-3 w-full">
      <h3 class="flex items-center gap-x-2 font-semibold text-neutral-1000 text-base">
        <em class="text-primary-400 text-xl indicon-briefcase"></em>
        {{ document.name }}
      </h3>
      <div class="relative -right-1">
        <button
          class="flex items-center hover:bg-neutral-200 rounded-full cursor-pointer"
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="menu"
          aria-label="Project options menu"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>visibility</mat-icon>
            <span>Action</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div [ngClass]="variant === 'grid' ? 'space-y-2' : 'w-full'">
      <div
        class="w-full"
        [ngClass]="{
          'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6': variant === 'list',
          'space-y-2': variant === 'grid',
        }"
      >
        <div class="grid grid-cols-8 gap-4 place-items-start">
          <div class="col-span-6 font-semibold">Signatures:</div>
          <div class="col-span-2">
            <button class="text-sm text-blue-600 hover:underline cursor-pointer" (click)="download()">
              Download Report
            </button>
          </div>
          @for (signature of document.signatures; track signature.user.username) {
            <div class="col-start-2">{{ signature.user.displayName }} ({{ signature.reason.toLowerCase() }})</div>
            @if (signature.status === 'APPROVED') {
              <span>Approved</span>
            } @else if (signature.status === 'REJECTED') {
              <span class="text-red">Rejected</span>
            } @else if (signature.canSignOrReject) {
              <button class="text-sm text-blue-600 hover:underline cursor-pointer" (click)="approve()">Approve</button>
              &emsp;
              <button class="text-sm text-blue-600 hover:underline cursor-pointer" (click)="reject()">Reject</button>
            } @else {
              <div class="text-gray-500">Pending</div>
            }
          }
        </div>

        <div class="flex flex-col text-sm" [ngClass]="{ 'flex-col space-y-2': variant == 'list' }">
          <div class="text-neutral-1000 text-sm">Last Edited</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ document.lastModifiedDate | date: 'dd MMM yyyy' }}
          </div>
        </div>

        <div class="flex flex-col text-sm" [ngClass]="{ 'flex-col space-y-2': variant == 'list' }">
          <div class="text-neutral-1000">Created</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ document.createdDate | date: 'dd MMM yyyy' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</eln-card>
