<div ui-view="navbar" class="main-container__head" ng-cloak></div>
<div id="page-wrapper" ng-class="{'open': toggle, 'hide-menu':!toggle}">
    <div class="inner-menu-toggle-button" ng-click="toggle=!toggle">
        <i class="fa fa-chevron-left"></i>
    </div>
    <div ui-view="sidebar" id="sidebar-wrapper" ng-cloak
         msd-wheel="onMouseWheel($event, $delta, $deltaX, $deltaY)"></div>
    <div id="content-wrapper">
        <div class="page-content" ui-view="content" ng-cloak>
        </div>
    </div>
</div>