<form id="createNotebookDialog" name="createNotebookDialog" role="form" novalidate ng-submit="ok()"
	  autocomplete="off">
    <div>
		<div class="modal-header">
			<h3 class="modal-title">New Notebook</h3>
		</div>
		<div class="modal-body">
            <input name="notebookName" ng-model="notebookName" required
                   class="form-control"  ng-pattern="/^\d{8}$/" ng-minlength="8" maxlength="8" ng-maxlength="8"/>
            <div class="" ng-show="createNotebookDialog.notebookName.$invalid">
                <p class="help-block" ng-show="createNotebookDialog.notebookName.$error.required"> This field is required. </p>
                <p class="help-block ng-binding ng-hide" ng-show="createNotebookDialog.notebookName.$error.pattern">Only 8 digits possible in this field. Example : 01234567</p>
            </div>

		</div>
		<div class="modal-footer">
			<button type="submit" form="createNotebookDialog" ng-disabled="createNotebookDialog.$invalid || isSaving" class="btn btn-primary">
				Create
			</button>
			<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancel()">
				Cancel
			</button>
		</div>
	</div>
</form>