<div class="panel panel-default notebooks" style="margin-top: 30px" cg-busy="{promise:loading, minDuration:700}">
    <div class="panel-heading">
        Create or edit a Notebook
    </div>
    <div class="panel-body">
        <form id="createNotebookForm" name="createNotebookForm" role="form" novalidate ng-submit="save()"
              show-validation
              class="form-horizontal" autocomplete="off">
            <div class="row">

                <div class="col-xs-12">
                    <my-input my-label="Notebook Name"
                              my-name="notebookName"
                              my-model="notebook.name"
                              my-validation-obj="createNotebookForm.notebookName"
                              my-validation-pattern="/^\d{8}$/"
                              my-validation-pattern-text="Only 8 digits possible in this field. Example : 01234567"
                              my-validation-required="true"></my-input>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label">Notebook Members&nbsp;</label>
                    <button type="submit"
                            ui-sref="notebook.permissions({id:notebook.id})"
                            class="btn btn-primary "
                            ng-disabled="editDisabled">
                        <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br/>
                    <ul id="triple-list" class="members">
                        <li class="members" ng-repeat="member in notebook.accessList">
                            {{ '- ' + member.user.lastName + ' ' + member.user.firstName + ' (' + member.permissionView
                            + ')' }}
                        </li>
                    </ul>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label">Description</label>
                    <my-text-editor content="notebook.description"></my-text-editor>
                    <my-file-uploader-result ng-if="notebook.id" entityid="notebook.id"></my-file-uploader-result>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-info pull-left" type="button" ng-disabled="!notebook.id"
                ui-sref="experiment.new({projectId:projectId, notebookId:notebook.id})">Create Experiment
        </button>
        <button type="submit" form="createNotebookForm" ng-disabled="createNotebookForm.$invalid || isSaving"
                class="btn btn-primary">
            Save
        </button>
        <button type="button" class="btn btn-default" onclick="window.history.back()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
    </div>
</div>