<div class="panel panel-default notebooks" ng-class="{'notebook-create': !notebook.id}"
     cg-busy="{promise:loading, minDuration:700}">
    <div class="panel-body">
        <form id="createNotebookForm" name="createNotebookForm" role="form" novalidate ng-submit="save()"
              class="form-horizontal" autocomplete="off">
            <div class="row">

                <div class="col-xs-12">
                    <my-input my-label="Notebook Name"
                              my-name="notebookName"
                              my-model="notebook.name"
                              my-readonly="!isEditAllowed"
                              my-label-vertical="true"
                              my-validation-obj="createNotebookForm.notebookName"
                              my-validation-pattern="/^\d{8}$/"
                              my-validation-pattern-text="Only 8 digits possible in this field. Example : 01234567"
                              my-validation-required="true"></my-input>
                </div>
            </div>
            <div class="row">
                <div  class="col-xs-12">
                    <label class="control-label">Notebook Members&nbsp;</label>
                    <button type="submit"
                            ui-sref="notebook.new.permissions({projectId:projectId})"
                            ng-if="!notebook.id"
                            class="btn btn-info "
                            ng-disabled="!isEditAllowed">
                        <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="entities.notebook-detail.permissions({projectId:projectId, notebookId:notebook.id})"
                            ng-if="notebook.id"
                            class="btn btn-info "
                            ng-disabled="!isEditAllowed">
                        <span class="glyphicon glyphicon-book"></span>&nbsp;<span> Edit</span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View Members</span>
                    </button>
                    <div uib-collapse="isCollapsed">
                        <hr>
                        <div class="col-xs-12">
                            <ul id="triple-list" class="members">
                                <li class="members" ng-repeat="member in notebook.accessList">
                                    {{ '- ' + member.user.lastName + ' ' + member.user.firstName + ' (' + member.permissionView
                                    + ')' }}
                                </li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label">Description</label>
                    <my-text-editor my-model="notebook.description" my-readonly="!isEditAllowed"></my-text-editor>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-info pull-left" type="button"
                ng-disabled="!isCreateChildAllowed || !notebook.id"
                ui-sref="experiment.new({projectId:projectId, notebookId:notebook.id})">Create Experiment
        </button>
        <button type="submit" form="createNotebookForm"
                ng-disabled="!isEditAllowed || createNotebookForm.$invalid || isSaving"
                class="btn btn-info">
            Save
        </button>
        <button type="button" class="btn btn-default" onclick="window.history.back()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
    </div>
</div>