<div class="flex items-center justify-between my-4">
  <app-toggle label="My Entities" />
  <app-button-toggle
    [(ngModel)]="selectedView"
    [options]="viewOptions"
    variant="alpha"
  />
</div>
<div
  *ngIf="dataList$ | async as data"
  [@viewChange]="selectedView"
  [ngClass]="{
    'grid gap-x-4 mt-5 gap-y-4': true,
    'grid-cols-1': selectedView === 'list',
    'md:grid-cols-2 lg:grid-cols-3': selectedView === 'grid',
  }"
>
  @for (project of data.items; track project.id) {
    <app-project-item [project]="project" [variant]="selectedView" />
  }
</div>
