@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-light.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-light.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-it.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-it.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/font-oswald/oswald-regular.eot');
  src: url('../fonts/font-oswald/oswald-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-regular.woff') format('woff'), url('../fonts/font-oswald/oswald-regular.ttf') format('truetype'), url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/font-oswald/oswald-bold.eot');
  src: url('../fonts/font-oswald/oswald-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-bold.woff') format('woff'), url('../fonts/font-oswald/oswald-bold.ttf') format('truetype'), url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/font-oswald/oswald-light.eot');
  src: url('../fonts/font-oswald/oswald-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-light.woff') format('woff'), url('../fonts/font-oswald/oswald-light.ttf') format('truetype'), url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.h-100 {
  height: 100%;
}
.full-img {
  width: 100%;
}
.max-img {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.block {
  display: block !important;
}
.hidden {
  display: none;
}
.up {
  text-transform: uppercase;
}
.top-3 {
  top: 3px;
}
.m-auto {
  margin: 0 auto;
}
.d-table {
  display: table;
  height: 100%;
  width: 100%;
}
.d-inline {
  display: inline-block;
  vertical-align: middle;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
  -webkit-box-align: justify;
}
.w-space {
  white-space: nowrap;
}
.bold {
  font-family: 'Source Sans Pro Bold', sans-serif;
}
.semi-b {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}
.awesome-b {
  font-family: FontAwesome;
}
.txt-larger {
  font-size: 16px;
}
.txt-small {
  font-size: 12px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.clickable {
  cursor: pointer;
}
.capitalized {
  text-transform: capitalize;
}
.m-t20 {
  margin-top: 20px;
}
.m-t10 {
  margin-top: 10px;
}
.m-t5 {
  margin-top: 5px;
}
.m-b20 {
  margin-bottom: 20px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-b15 {
  margin-bottom: 15px;
}
.m-b5 {
  margin-bottom: 5px;
}
.m-l10 {
  margin-left: 10px;
}
.m-l5 {
  margin-left: 5px;
}
.m-r10 {
  margin-right: 10px;
}
.m-r5 {
  margin-right: 5px;
}
.nomarg {
  margin-bottom: 0 !important;
}
.m-r30-imp {
  margin-right: 30px !important;
}
.m-l15-imp {
  margin-left: 15px !important;
}
.p-t14 {
  padding-top: 14px;
}
.p-l-r-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.p-l1-all-0 {
  padding: 0 0 0 1px;
}
/******************FORMS STYLE*********************/
label {
  color: #9e9e9e;
  font-weight: normal;
}
.control-label {
  padding-top: 7px;
}
.help-block {
  color: red !important;
  font-size: 12px;
}
.form-control {
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.form-control:focus {
  border-color: #3f51b5;
  box-shadow: none;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
textarea,
.textarea-structure {
  resize: none;
}
.ui-select-container .ui-select-match .btn {
  border-color: #ddd;
  font: 14px 'Source Sans Pro Regular', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}
.ui-select-container .ui-select-match .btn .ui-select-match-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96%;
}
.ui-select-container.open .ui-select-match .btn {
  background-color: transparent;
  border-color: #3f51b5;
  box-shadow: none;
}
.my-checkbox-wrapper {
  margin-right: 20px;
}
.my-checkbox-wrapper .my-checkbox {
  background-color: #fff !important;
  border-color: #ddd !important;
  color: #3f51b5 !important;
  padding: 1px 3px 1px 5px !important;
  font: 10px 'Oswald Regular', sans-serif !important;
  margin-right: 5px;
  margin-top: -3px;
}
.my-checkbox-wrapper label {
  padding-left: 0;
}
.input-group-btn .btn {
  height: 34px;
}
.input-group-btn .btn + .btn {
  margin-left: 7px;
}
.input-group-sm .input-group-btn .btn {
  height: 30px;
}
.input-right-txt {
  position: absolute;
  top: 33px;
  right: -2px;
}
.form-inline .select-inline {
  width: 30%;
}
.form-inline .select-inline .ui-select-container .ui-select-match .btn {
  width: 100%;
}
