@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-light.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-light.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-it.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-it.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/font-oswald/oswald-regular.eot');
  src: url('../fonts/font-oswald/oswald-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-regular.woff') format('woff'), url('../fonts/font-oswald/oswald-regular.ttf') format('truetype'), url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/font-oswald/oswald-bold.eot');
  src: url('../fonts/font-oswald/oswald-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-bold.woff') format('woff'), url('../fonts/font-oswald/oswald-bold.ttf') format('truetype'), url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/font-oswald/oswald-light.eot');
  src: url('../fonts/font-oswald/oswald-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-light.woff') format('woff'), url('../fonts/font-oswald/oswald-light.ttf') format('truetype'), url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.flex-row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.flex-start-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
  justify-content: flex-start;
}
.flex-center-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
  justify-content: center;
}
.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.h-100 {
  height: 100%;
}
.full-img {
  width: 100%;
}
.max-img {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.block {
  display: block !important;
}
.hidden {
  display: none;
}
.up {
  text-transform: uppercase;
}
.top-3 {
  top: 3px;
}
.m-auto {
  margin: 0 auto;
}
.d-table {
  display: table;
  height: 100%;
  width: 100%;
}
.d-inline {
  display: inline-block;
  vertical-align: middle;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
  -webkit-box-align: justify;
}
.w-space {
  white-space: nowrap;
}
.bold {
  font-family: 'Source Sans Pro Bold', sans-serif;
}
.semi-b {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}
.awesome-b {
  font-family: FontAwesome;
}
.txt-larger {
  font-size: 16px;
}
.txt-small {
  font-size: 12px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.clickable {
  cursor: pointer;
}
.capitalized {
  text-transform: capitalize;
}
.m-t20 {
  margin-top: 20px;
}
.m-t10 {
  margin-top: 10px;
}
.m-t5 {
  margin-top: 5px;
}
.m-b20 {
  margin-bottom: 20px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-b15 {
  margin-bottom: 15px;
}
.m-b5 {
  margin-bottom: 5px;
}
.m-l10 {
  margin-left: 10px;
}
.m-l5 {
  margin-left: 5px;
}
.m-r10 {
  margin-right: 10px;
}
.m-r5 {
  margin-right: 5px;
}
.nomarg {
  margin-bottom: 0 !important;
}
.m-r30-imp {
  margin-right: 30px !important;
}
.m-l15-imp {
  margin-left: 15px !important;
}
.p-t14 {
  padding-top: 14px;
}
.p-l-r-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.p-l1-all-0 {
  padding: 0 0 0 1px;
}
/******************CONTROLS*********************/
.controls-row {
  background-color: #ededed;
}
.controls-list {
  border-bottom: 1px solid #ddd;
}
.controls-list:before,
.controls-list:after {
  content: " ";
  display: table;
}
.controls-list:after {
  clear: both;
}
.controls-list > li {
  float: left;
  position: relative;
}
.controls-list > li > a {
  color: #7d7d7d;
  display: block;
  font-size: 20px;
  height: 39px;
  width: 44px;
  line-height: 39px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.controls-list > li > a:hover,
.controls-list > li > a:focus {
  background-color: #7d7d7d;
  color: #fff;
}
.controls-list > li > a:hover .tooltip-icon-header,
.controls-list > li > a:focus .tooltip-icon-header {
  display: block;
}
.controls-list > li.item-null a:hover,
.controls-list > li.item-null a:focus {
  background-color: transparent;
}
.controls-list > li + li {
  border-left: 1px solid #ddd;
}
.controls-list > li:last-child {
  border-right: 1px solid #ddd;
}
.tooltip-icon-header {
  color: #fff;
  font: 14px 'Source Sans Pro Semibold', sans-serif;
  display: none;
  left: 50%;
  position: absolute;
  top: -24px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 1000;
}
/******************TABS*********************/
.nav-tabs > li > a {
  border-top: 0 none;
  color: #616161;
  font-family: 'Oswald Regular', sans-serif;
  margin-right: 0;
  padding: 14px 20px 13px;
  text-transform: uppercase;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
  border-color: transparent;
  color: #3f51b5;
}
.nav-tabs > li > a .fa-remove {
  margin-top: 2px;
  margin-left: 13px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top-color: transparent;
}
.main-tabs {
  white-space: nowrap;
}
.main-tabs .nav-tabs > li {
  display: inline-block;
  float: none;
  opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}
.main-tabs .nav-tabs > li.active {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
}
.main-tabs .nav-tabs > li.active > a {
  color: #3f51b5;
}
.main-tabs .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 18px;
}
.tab-content-pad {
  padding: 0 20px;
}
.tab-content-pad.dictionary,
.tab-content-pad.role-management {
  height: calc(100vh - 170px);
  overflow-y: auto;
}
.inner-tabs .nav-tabs {
  padding: 0 20px;
}
.inner-tabs .nav-tabs > li > a {
  border-width: 0 0 3px;
  border-bottom: 3px solid transparent;
  font: 12px 'Source Sans Pro Semibold', sans-serif;
  padding: 8px 20px;
}
.inner-tabs .nav-tabs > li > a:hover,
.inner-tabs .nav-tabs > li > a:focus {
  border-bottom-color: #283593;
}
.inner-tabs .nav-tabs > li.active > a {
  border-width: 0 0 3px;
}
.inner-tabs .nav-tabs > li.active > a,
.inner-tabs .nav-tabs > li.active > a:hover,
.inner-tabs .nav-tabs > li.active > a:focus {
  border-bottom-color: #283593;
}
.inner-tabs .tab-content {
  background-color: #ededed;
  border: 1px solid #ddd;
  border-top: 0 none;
  padding: 20px;
  height: calc(100vh - 330px);
  overflow-y: auto;
  overflow-x: hidden;
}
.inner-tabs .simple-tab-content {
  border: 1px solid #ddd;
  padding: 20px;
  height: calc(100vh - 300px);
  overflow-y: auto;
}
.inner-tabs .admin-tab-content {
  border: 1px solid #ddd;
  padding: 20px;
  height: calc(100vh - 340px);
  overflow-y: auto;
}
.inner-tabs .admin-tab-content .preview-components .tab-content {
  overflow-y: hidden;
  height: inherit;
}
.inner-tabs .simditor .simditor-wrapper .simditor-body,
.inner-tabs .simditor .simditor-wrapper .simditor-placeholder {
  font-size: 14px;
  font-family: inherit;
}
.inner-tabs .simditor .simditor-wrapper .simditor-body p,
.inner-tabs .simditor .simditor-wrapper .simditor-placeholder p {
  color: #616161;
}
/******************BUTTONS*********************/
.btn {
  font-family: 'Oswald Regular', sans-serif;
  padding: 7px 18px;
  outline: none;
  text-transform: uppercase;
}
.btn-small {
  font-size: 12px;
  padding: 3px 10px 2px;
}
.btn-small .fa {
  margin-top: 2px;
  vertical-align: top;
}
.btn-default {
  border-color: #f2f2f2;
}
.btn-transparent {
  text-transform: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-primary {
  border-color: #3f51b5;
}
.btn-info:focus {
  border-color: #25a4b8;
}
.btn-info.status {
  border-radius: 25px;
  pointer-events: none;
}
.btn-info.active {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.btn-info.active:hover,
.btn-info.active:focus,
.btn-info.active:active {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: -2px;
}
.btn-toolbar .btn-group + .btn-group {
  margin-left: 20px;
}
.btn-group .btn + .btn {
  margin-left: 7px;
}
.editable-buttons .btn {
  padding: 6px 12px;
  color: #fff;
  background-color: #84d5fb;
  border-color: #5bc0de;
}
.editable-buttons .btn:focus,
.editable-buttons .btn.focus {
  color: #fff;
  background-color: #53c4f9;
  border-color: #1f7e9a;
}
.editable-buttons .btn:hover {
  color: #fff;
  background-color: #53c4f9;
  border-color: #2aabd2;
}
.editable-buttons .btn:active,
.editable-buttons .btn.active,
.open > .dropdown-toggle.editable-buttons .btn {
  color: #fff;
  background-color: #53c4f9;
  border-color: #2aabd2;
}
.editable-buttons .btn:active:hover,
.editable-buttons .btn.active:hover,
.open > .dropdown-toggle.editable-buttons .btn:hover,
.editable-buttons .btn:active:focus,
.editable-buttons .btn.active:focus,
.open > .dropdown-toggle.editable-buttons .btn:focus,
.editable-buttons .btn:active.focus,
.editable-buttons .btn.active.focus,
.open > .dropdown-toggle.editable-buttons .btn.focus {
  color: #fff;
  background-color: #30b8f8;
  border-color: #1f7e9a;
}
.editable-buttons .btn:active,
.editable-buttons .btn.active,
.open > .dropdown-toggle.editable-buttons .btn {
  background-image: none;
}
.editable-buttons .btn.disabled:hover,
.editable-buttons .btn[disabled]:hover,
fieldset[disabled] .editable-buttons .btn:hover,
.editable-buttons .btn.disabled:focus,
.editable-buttons .btn[disabled]:focus,
fieldset[disabled] .editable-buttons .btn:focus,
.editable-buttons .btn.disabled.focus,
.editable-buttons .btn[disabled].focus,
fieldset[disabled] .editable-buttons .btn.focus {
  background-color: #84d5fb;
  border-color: #5bc0de;
}
.editable-buttons .btn .badge {
  color: #84d5fb;
  background-color: #fff;
}
/******************TABLES*********************/
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
.table {
  border: 1px solid #ddd;
}
.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  color: #666;
  font-family: 'Source Sans Pro Semibold', sans-serif;
  font-weight: normal;
  white-space: nowrap;
}
.table > thead > tr > th > p {
  margin: 0;
}
.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 8px 16px;
}
.table > thead > tr > th.td-40p,
.table > tbody > tr > td.td-40p {
  width: 40%;
}
.table > thead > tr > th .btn + .btn,
.table > tbody > tr > td .btn + .btn {
  margin-left: 5px;
}
.table > thead > tr > th .btn-group,
.table > tbody > tr > td .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.table > thead > tr > th > .form-group,
.table > tbody > tr > td > .form-group {
  margin-bottom: 0;
}
.table > tbody > tr > td {
  border: 0 none;
  vertical-align: middle;
}
.table.authoritiesTable > thead > tr > th:first-child {
  border-right: 1px solid #ddd;
  background-color: #fafafa;
}
.table.authoritiesTable > tbody > tr > td {
  text-align: center;
  white-space: nowrap;
}
.table.authoritiesTable > tbody > tr > td .role-name {
  width: 205px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table.authoritiesTable > tbody > tr > td:first-child {
  text-align: left;
  border-right: 1px solid #ddd;
  background-color: #fafafa;
}
.table.authoritiesTable > tbody > tr:nth-of-type(odd) > td:first-child {
  background-color: #f6f6f6;
}
.table.product > thead > tr > th .btn-group {
  justify-content: center;
}
.table.product .btn-group .btn {
  color: #666;
  font: 14px 'Source Sans Pro Semibold', sans-serif;
  padding: 0;
  width: auto;
}
.table.product .my-checkbox-wrapper {
  margin: 0;
}
.table.product .my-checkbox-wrapper .checkbox {
  margin: 0;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #edf9fe;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d5f1fd;
}
.my-scroller-axis-x {
  overflow: hidden;
}
.my-component {
  width: 100%;
}
.my-component .panel-heading {
  cursor: pointer;
}
/******************SEARCH*********************/
.search-field {
  display: inline-block;
  height: 26px;
  position: relative;
}
.search-field .uui-search {
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  height: 100%;
  width: 150px;
  padding: 0 5px 0 30px;
  outline: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.search-field .fa {
  color: #bdbdbd;
  cursor: pointer;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.search-field-main {
  height: 32px;
}
.search-field-main .uui-search {
  background-color: #283593;
  border-color: transparent;
  color: #fff;
  font-size: 16px;
  width: 200px;
}
.search-field-main .uui-search:-moz-placeholder {
  color: #5c6bc0;
}
.search-field-main .uui-search::-moz-placeholder {
  color: #5c6bc0;
}
.search-field-main .uui-search:-ms-input-placeholder {
  color: #5c6bc0;
}
.search-field-main .uui-search::-webkit-input-placeholder {
  color: #5c6bc0;
}
.search-field-main .fa {
  color: #5c6bc0;
}
.search-field-main.active .uui-search {
  background-color: #fff;
  color: #424242;
  width: 350px;
}
.search-field-main.active .uui-search:-moz-placeholder {
  color: #424242;
}
.search-field-main.active .uui-search::-moz-placeholder {
  color: #424242;
}
.search-field-main.active .uui-search:-ms-input-placeholder {
  color: #424242;
}
.search-field-main.active .uui-search::-webkit-input-placeholder {
  color: #424242;
}
.search-field-main.active .fa {
  color: #424242;
}
.search-field.search-full {
  display: block;
  margin-bottom: 20px;
}
.search-field.search-full .uui-search {
  width: 100%;
}
/******************PAGINATION STYLE*********************/
.pagination {
  margin: 0 0 20px;
}
.pagination > li > a,
.pagination > li > span {
  font-family: 'Oswald Regular', sans-serif;
}
/******************PANELS STYLE*********************/
.panel {
  box-shadow: none;
}
.panel-heading {
  color: #616161;
  font: 16px 'Oswald Regular', sans-serif;
  text-transform: uppercase;
}
.panel-heading .action-panel-btn {
  padding: 5px 6px;
  font-family: FontAwesome;
  font-size: 18px;
}
.panel-heading .glyphicon {
  margin-top: 4px;
}
.panel-heading .count {
  margin-top: -4px;
  margin-left: 15px;
}
.panel-body-content-nopad {
  margin-left: -20px;
  margin-right: -20px;
}
.panel-body-nopad {
  padding: 0;
}
.panel-body.panel-experiment-preview {
  height: calc(100vh - 180px);
  overflow-y: auto;
}
.panel-body.panel-experiment-preview .row-preview {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.panel-body .list-group {
  margin-bottom: 0;
}
.panel-footer {
  background-color: transparent;
  border: 0 none;
}
.panel-footer .btn + .btn {
  margin-left: 5px;
}
.panel-info .panel-heading {
  border: 0 none;
}
.panel-info .panel-body {
  border-top: 1px solid #ddd;
}
.panel-info-collapse .inner-tabs .tab-content {
  border: 0 none;
}
.panel-info-table .table {
  border: 0 none;
  margin-bottom: 0;
}
.panel-info-table .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 0;
}
.panel-main-wrapper {
  position: relative;
  border-bottom: none;
  border-top: none;
  margin-top: -1px;
  padding-left: 20px;
  padding-right: 20px;
}
.panel-main-h {
  min-height: 174px;
}
/******************FORMS STYLE*********************/
label {
  color: #9e9e9e;
  font-weight: normal;
}
.control-label {
  padding-top: 7px;
}
.help-block {
  color: red !important;
  font-size: 12px;
}
.form-control {
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.form-control:focus {
  border-color: #3f51b5;
  box-shadow: none;
}
.form-control:disabled:focus,
.form-control.disabled:focus,
.form-control[disabled]:focus,
.form-control[readonly]:focus {
  border-color: #e5e5e5;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
textarea,
.textarea-structure {
  resize: none;
}
.ui-select-container .ui-select-match .btn {
  border-color: #ddd;
  font: 14px 'Source Sans Pro Regular', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}
.ui-select-container .ui-select-match .btn .ui-select-match-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96%;
}
.ui-select-container.open .ui-select-match .btn {
  background-color: transparent;
  border-color: #3f51b5;
  box-shadow: none;
}
.my-checkbox-wrapper {
  margin-right: 20px;
}
.my-checkbox-wrapper .my-checkbox {
  background-color: #fff !important;
  border-color: #ddd !important;
  color: #3f51b5 !important;
  padding: 1px 3px 1px 5px !important;
  font: 10px 'Oswald Regular', sans-serif !important;
  margin-right: 5px;
  margin-top: -3px;
}
.my-checkbox-wrapper label {
  padding-left: 0;
}
.input-group-btn .btn {
  height: 34px;
}
.input-group-btn .btn + .btn {
  margin-left: 7px;
}
.input-group-sm .input-group-btn .btn {
  height: 30px;
}
.input-right-txt {
  position: absolute;
  top: 33px;
  right: -2px;
}
.form-inline .select-inline {
  width: 30%;
}
.form-inline .select-inline .form-control {
  width: 100%;
}
/******************LISTS STYLE*********************/
.list-group-item {
  border-width: 0 0 1px;
  margin-bottom: 0;
  padding: 13px 20px;
}
.list-group-item:first-child {
  border-top-width: 1px;
}
.list-group-item > h5,
.list-group-item > p {
  margin: 0;
}
.list-group-item > h5:first-child,
.list-group-item > p:first-child {
  margin-bottom: 2px;
}
.list-group-item .fa-trash {
  margin-top: 2px;
}
.list-group span.list-group-item {
  background-color: #fafafa;
}
.list-group-drug .list-group-item:first-child {
  border-top: 0 none;
}
.list-triple {
  margin-bottom: 20px;
}
.list-triple:before,
.list-triple:after {
  content: " ";
  display: table;
}
.list-triple:after {
  clear: both;
}
.list-triple > li {
  float: left;
  line-height: 26px;
  width: 33.333%;
}
/******************DROPDOWN STYLE*********************/
.dropdown-menu {
  box-shadow: none;
  padding: 0;
}
.dropdown-menu > li a {
  padding: 5px 12px 7px 12px;
}
.ui-select-bootstrap .ui-select-choices-row > a {
  padding: 3px 10px;
  white-space: normal;
}
.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: transparent;
  color: #616161;
}
/******************DIALOGS STYLE*********************/
.modal-dialog .modal-title {
  font-size: 16px;
}
.modal-dialog .modal-title .glyphicon,
.modal-dialog .modal-title .fa {
  margin-right: 5px;
}
.modal-dialog .modal-footer {
  border: 0 none;
}
.modal-dialog .modal-footer .btn + .btn {
  margin-left: 5px;
}
.countdown-dialog {
  position: relative;
}
.countdown-dialog span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}
.modal-body-search {
  padding-left: 0;
  padding-right: 0;
}
.modal-body-search .tab-content {
  background-color: transparent;
  border: 0 none;
  height: auto;
  padding: 10px 20px 0;
}
.rxn-body-search .tab-content {
  background-color: transparent;
  border: 0 none;
  height: auto;
  padding: 10px 0px 0;
  overflow-x: hidden;
}
.rxn-body-search .inner-tabs .nav-tabs {
  padding: 0px;
}
/******************LABELS STYLE*********************/
.uui-label {
  background: #84d5fb;
  border: 1px solid #84d5fb;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-family: 'Oswald Regular', Arial, sans-serif;
  line-height: 21px;
  letter-spacing: .25px;
  padding: 0 13px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}
.uui-label-green {
  background: #a3c644;
  border-color: #a3c644;
}
.uui-label-red {
  background: red;
  border-color: red;
}
/******************ANIMATION STYLE*********************/
.user-management .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.user-management .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.role-management .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.role-management .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.dictionary .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.dictionary .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.words .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.words .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.login-form .panel-info.has-error-add,
.login-form .panel-info.has-error-remove {
  animation: shake 0.7s;
}
#sidebar-wrapper ul .ng-enter {
  animation: fadeInLeft 0.5s;
}
#sidebar-wrapper ul .ng-leave {
  animation: none;
}
.templates .tab.ng-enter {
  animation: fadeInDown 0.5s;
}
.templates .tab.ng-leave {
  animation: fadeOutDown 0.5s;
}
.templates .component.ng-enter {
  animation: fadeInLeft 0.5s;
}
.templates .component.ng-leave {
  animation: fadeOutDown 0.5s;
}
.palette .draggable-component.ng-leave {
  animation: fadeOut 0.5s;
}
.palette .draggable-component.ng-enter {
  animation: fadeIn 0.5s;
}
.palette .draggable-component.ng-leave {
  animation: none;
}
.page-content.ng-enter {
  animation: fadeIn 0.7s;
}
.page-content.ng-leave {
  animation: none;
}
.my-table tr.ng-leave {
  animation: fadeOutUp 0.3s;
}
.my-table tr.ng-enter {
  animation: fadeInDown 0.3s;
}
/******************CUSTOM SCROLL STYLE*********************/
.mCustomScrollBox.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer {
  top: -15px;
}
.mCustomScrollBox.mCSB_horizontal .mCSB_draggerRail {
  height: 6px;
  width: 100%;
}
.mCustomScrollBox.mCSB_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 7px auto;
}
.mCS-indigo.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #cfcfcf;
}
.mCS-indigo.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #9d9d9d;
}
.mCS-indigo.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #9d9d9d;
}
.mCS-indigo.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-indigo.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #9d9d9d;
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}
.wrapper-list-experiment .mCSB_container {
  padding-bottom: 100px;
}
.panel-body.my-scroller-axis-y {
  padding-right: 0;
  padding-left: 0;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0;
}
.mCS-indigo-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.85);
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.9);
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px 0;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -20px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -40px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -56px;
}
.my-scroller-axis-y .mCSB_inside > .mCSB_container {
  margin-right: 15px;
}
.my-scroller-axis-y .mCSB_container.mCS_y_hidden {
  margin-right: 0 !important;
}
.my-scroller-axis-x .mCSB_inside > .mCSB_container {
  margin-bottom: 15px !important;
}
.my-scroller-axis-x .mCSB_container.mCS_x_hidden {
  margin-bottom: 0 !important;
}
/******************TYPE*********************/
a {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald Regular', Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
hr.hr-top {
  margin-top: 5px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fa,
.glyphicon {
  cursor: pointer;
}
.btn[disabled] .fa,
.btn[disabled] .glyphicon {
  cursor: not-allowed;
}
html {
  height: 100%;
  overflow-y: auto;
}
body {
  color: #616161 !important;
  height: 100%;
  min-width: 1020px;
  overflow-y: hidden;
}
.main-container {
  padding-top: 60px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.row {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.row > div {
  margin-bottom: 0;
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
#page-wrapper {
  padding-left: 0;
}
#page-wrapper.open #sidebar-wrapper {
  left: 0;
  margin-left: 0;
}
#page-wrapper,
#sidebar-wrapper {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.main-page-content {
  background-color: #ededed;
  height: calc(100vh - 50px);
  padding: 20px;
}
.row-inline > * {
  display: inline-block;
  vertical-align: middle;
}
.row-inline > * + * {
  margin-left: 5px;
}
.row-inline > span {
  margin-top: -3px;
}
.btn-bottom-block {
  margin: 20px 0;
  text-align: right;
}
.btn-bottom-block > * + * {
  margin-left: 5px;
}
.btn-bottom-block.experiment-preview-block {
  border-top: 1px solid #ddd;
  margin: 0px;
  padding: 20px 18px 20px 0px;
}
tags-input .host {
  margin: 0;
}
tags-input .tags {
  border-color: #ddd;
  box-shadow: none;
  -webkit-appearance: none;
}
tags-input .tags.focused {
  border-color: #3f51b5;
  box-shadow: none;
}
tags-input .tags .input {
  font-family: inherit;
}
tags-input .tag-list .tag-item {
  background-image: none;
  background-color: #f2f2f2;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  font-size: 12px;
  font-family: inherit;
  padding: 0 5px;
}
tags-input .tag-list .tag-item .remove-button {
  color: #999;
  font-weight: normal;
}
.statistic-radio {
  position: relative;
}
.statistic-radio input[type=radio],
.statistic-radio input[type=checkbox] {
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 500;
}
.statistic-radio input[type=radio] + div,
.statistic-radio input[type=checkbox] + div {
  padding: 8px 70px 8px 20px;
  overflow: hidden;
}
.statistic-radio input[type=radio] + div:after,
.statistic-radio input[type=checkbox] + div:after {
  color: #dfdfdf;
  content: "\f10c";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.statistic-radio input[type=radio]:checked + div,
.statistic-radio input[type=checkbox]:checked + div {
  background-color: #edf9fe;
}
.statistic-radio input[type=radio]:checked + div:after,
.statistic-radio input[type=checkbox]:checked + div:after {
  color: #84d5fb;
  content: "\f192";
}
.statistic-radio .statistic-txt {
  font-family: 'Oswald Regular', sans-serif;
  float: left;
  width: 170px;
}
.statistic-radio .progress {
  margin: 6px 40px 0 180px;
}
.statistic-radio.statistic-orange .count {
  border-color: #ff9b19;
}
.statistic-radio.statistic-orange .progress-bar {
  background-color: #ff9b19;
}
.statistic-radio.statistic-yellow .count {
  border-color: #ffdc19;
}
.statistic-radio.statistic-yellow .progress-bar {
  background-color: #ffdc19;
}
.statistic-radio + .statistic-radio {
  margin-top: 5px;
}
.progress {
  box-shadow: none;
  height: 10px;
}
.progress-bar {
  box-shadow: none;
}
.count {
  border: 1px solid #84d5fb;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  vertical-align: middle;
  font: 12px 'Oswald Regular', Arial, sans-serif;
  min-width: 30px;
  height: 20px;
  text-align: center;
  padding: 2px 4px;
}
.count-orange {
  border-color: #ff9b19;
}
.count-yellow {
  border-color: #ffdc19;
}
.experiment-count-block {
  font-family: 'Oswald Regular', sans-serif;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.experiment-count-block > * {
  display: block;
  line-height: 1;
}
.experiment-count-block > *:first-child {
  font-size: 68px;
  margin-bottom: 5px;
}
.experiment-count-block > *:last-child {
  font-size: 10px;
  margin-top: 5px;
}
.login-form {
  margin-top: 50px;
}
.scroll-full {
  height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll-dashboard-full {
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
.newtemplate {
  width: 100px;
  height: 100px;
  float: left;
  list-style: none;
  text-align: center;
}
[data-notify="progressbar"] {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
/* file uploader*/
.my-drop-zone {
  border: dotted 3px lightgray !important;
  text-align: center;
  height: 150px;
}
.my-drop-zone input[type=file] {
  margin: 0 auto;
}
.my-drop-zone > div {
  padding-top: 25px;
}
.nv-file-over {
  border: dotted 3px #4dd0e1 !important;
}
/* editable checklist*/
.editable-checklist label {
  display: block;
}
/* editable text fields */
.editable,
.editable:hover {
  cursor: pointer !important;
}
.disabled,
.disabled:hover {
  color: black;
  text-decoration: none;
  cursor: default !important;
  border-bottom: none;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #c0c0c0;
}
::-webkit-scrollbar-track {
  background: transparent;
}
.tab-content.ng-enter {
  animation: fadeIn 0.7s;
}
.tab-content.ng-leave {
  animation: none;
}
.templates-holder {
  min-height: 200px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.structure-editor-modal .modal-dialog {
  width: min-content;
}
.img-fill {
  height: 100%;
  width: 100%;
}
.sizable-panel-body {
  height: 130px;
  box-sizing: content-box;
}
.select-structure {
  border: 0px;
  outline: 0px;
  background-color: transparent;
  font-weight: bold;
}
.clear-elem {
  clear: left;
  display: block;
}
.members .list-group-item {
  overflow: hidden;
  position: relative;
  display: block;
  padding: 5px 5px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.templates .list-group {
  margin-bottom: 0;
}
.experiment-tab-close {
  margin-left: 10px;
  color: #337ab7;
}
.compound-component div.col-xs-12.text-left div {
  width: 170px!important;
}
.compound-component .structure-preview-wrapper {
  display: flex;
  justify-content: flex-start;
  max-height: 150px;
  padding-left: 155px;
}
.dictionary-col-width {
  max-width: 200px;
}
.dictionary-col-elipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}
.active .experiment-tab-close {
  color: #37474f;
  margin-left: 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #37474f;
  background-color: #b2ebf2;
}
.slider-handle {
  background: #b2ebf2 none;
}
.slider.slider-horizontal .slider-track {
  height: 3px;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-top: -8px;
}
.print-header {
  color: grey;
  margin-top: 20px;
}
.print-header tr:first-child {
  background-color: #3f51b5;
}
.print-header tr:first-child th:first-child {
  color: #fff;
  padding: 0;
}
.print-header tr:first-child th:first-child h2 {
  margin: 10px 0px 10px 10px;
}
.print-header tr:first-child .logo {
  margin: 0px;
}
.print-header,
.print-table,
.print-table-simple,
.print-box {
  width: 100%;
  margin-bottom: 50px;
  padding: 5px;
  border: 1px black solid;
}
.print-component .simditor-toolbar {
  display: none;
}
.print-component .simditor {
  border-color: black;
}
.print-component {
  display: flex;
  justify-content: space-between;
}
.print-component .my-checkbox-wrapper {
  padding-top: 7px;
}
.print-header td,
.print-header th,
.print-table-simple td,
.print-table-simple th {
  padding: 5px;
  border: none;
}
.print-table th {
  text-align: center;
}
.print-table th,
.print-table td {
  border: 1px black solid;
  border-collapse: collapse;
  margin-bottom: 50px;
  padding: 8px;
  vertical-align: top;
}
.print-table-inner td {
  border: none;
}
#print-form {
  font-family: "Times New Roman", Georgia, Serif;
}
.need-to-print .checkbox label:before {
  content: initial;
}
.need-to-print .checkbox label {
  font-size: 14px;
}
.reagent-search-tab {
  padding-top: 10px;
}
.main-search-block .form-group {
  margin-bottom: 0;
}
.main-search-block .search-hint {
  font-size: 12px;
  margin-top: 3px;
}
.link-advanced-search {
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}
.link-advanced-search:hover,
.link-advanced-search:focus {
  text-decoration: none;
}
.link-advanced-search > span {
  font-size: 12px;
  margin-left: 5px;
}
.criteria-search-block {
  position: relative;
}
.criteria-search-block + .criteria-search-block {
  margin-top: 20px;
}
.criteria-search-block .my-checkbox-wrapper,
.criteria-search-block .search-structure-scheme {
  margin-bottom: 0;
}
.criteria-search-block .checkbox {
  margin-top: 0;
}
.search-image {
  margin: 30px 0;
  display: flex;
}
.reagent-search-collapse {
  margin: 10px 0;
}
.reagent-search-collapse a {
  color: #616161;
  font-family: 'Source Sans Pro Semibold', sans-serif;
  text-decoration: none;
}
.reagent-search-collapse a .glyphicon {
  font-size: 10px;
  margin-top: -5px;
  margin-right: 5px;
  vertical-align: middle;
}
.collapse-content {
  margin-top: 20px;
}
.ui-select-multiple.ui-select-bootstrap {
  height: 34px;
}
.ui-select-container.ui-select-multiple .ui-select-match .btn {
  padding: 3px 10px;
}
.search-table-row-highlight {
  background-color: #b2ebf2;
}
#search-result-table,
#my-reagent-list-table {
  table-layout: fixed;
  width: 100%;
}
#search-result-table td,
#my-reagent-list-table td {
  vertical-align: middle;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.analyze-rxn-row div {
  margin-bottom: 0;
}
.analyze-rxn-selected-reactants {
  margin-left: 20px;
}
.search-tab-content {
  margin: 10px;
}
.search-structure-scheme .panel-heading {
  background-color: #f3f3f3;
  border-color: #d1d1d1;
}
.search-structure-scheme.panel-info {
  border-color: #d1d1d1;
}
.long-content-popup {
  overflow-y: scroll;
  max-height: 400px;
}
.experiment-tabs {
  overflow: auto;
}
.experiment-tabs .nav {
  white-space: nowrap;
}
.experiment-tabs .nav li {
  display: inline-block;
  float: none;
}
.experiment-tabs .mCSB_container {
  margin-bottom: 15px !important;
}
.experiment-tabs .mCSB_draggerContainer {
  background-color: #b2ebf2;
}
.experiment-tabs .mCSB_container.mCS_x_hidden {
  margin-bottom: 0 !important;
}
.role-check-icon {
  color: #84d5fb;
}
.ui-select-toggle {
  background-color: transparent;
}
body > .ui-select-bootstrap.open {
  z-index: 1050;
}
.components-holder-empty {
  /*content: 'You can drag & drop components here.';*/
  /*position: absolute;*/
  /*color: rgb(119, 119, 119);*/
  /*font-size: 24px;*/
  /*font-weight: 500;*/
  /*margin-top: 32px;*/
  /*left: 20%;*/
}
.linkedExperiments .tag-list span {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.show-hide-columns li {
  margin-left: 10px;
  margin-right: 10px;
}
.show-hide-columns.dropdown-menu {
  max-height: 230px;
  overflow: auto;
}
.show-hide-columns button {
  margin-bottom: 2px;
}
.entered-value {
  color: blue;
}
.not-editable {
  text-decoration: none;
  color: black;
  cursor: default;
}
.my-dropdown-list li a {
  padding: 8px;
}
ul.opened-entities {
  min-width: 250px;
}
ul.my-dropdown-list {
  padding: 5px;
}
.entity-changed {
  top: 2px;
  right: 4px;
  position: absolute;
  font-size: 10px;
  color: #23aabb;
}
@media (min-width: 1200px) {
  .text-align-lg {
    text-align: right;
  }
}
@media (max-width: 1199px) {
  .m-bt-lg {
    margin-bottom: 10px !important;
  }
}
@media (min-width: 768px) {
  .text-align {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .m-bt-sm {
    margin-bottom: 10px !important;
  }
}
.templates-and-tabs,
.list-group.palette {
  overflow-y: auto;
  max-height: 400px;
  position: relative;
}
.list-group.palette {
  max-height: 315px;
}
.draggable-component .fa-remove {
  color: #777;
  cursor: pointer;
}
.list-group-drug .draggable-component:last-of-type {
  border: 0;
}
.drag-mess {
  text-align: center;
  line-height: 80px;
  color: #dfdfdf;
}
.tooltip {
  -webkit-filter: drop-shadow(-1px -1px 2px #e4e4e4);
  filter: drop-shadow(-1px -1px 2px #e4e4e4);
  width: 165px;
}
.checkbox-label-wrapper {
  display: inline-block;
}
