@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-regular.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-bold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-light.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-light.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot');
  src: url('../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix') format('embedded-opentype'), url('../fonts/font-sourcesanspro/sourcesanspro-it.woff') format('woff'), url('../fonts/font-sourcesanspro/sourcesanspro-it.ttf') format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/font-oswald/oswald-regular.eot');
  src: url('../fonts/font-oswald/oswald-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-regular.woff') format('woff'), url('../fonts/font-oswald/oswald-regular.ttf') format('truetype'), url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/font-oswald/oswald-bold.eot');
  src: url('../fonts/font-oswald/oswald-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-bold.woff') format('woff'), url('../fonts/font-oswald/oswald-bold.ttf') format('truetype'), url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/font-oswald/oswald-light.eot');
  src: url('../fonts/font-oswald/oswald-light.eot?#iefix') format('embedded-opentype'), url('../fonts/font-oswald/oswald-light.woff') format('woff'), url('../fonts/font-oswald/oswald-light.ttf') format('truetype'), url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.h-100 {
  height: 100%;
}
.full-img {
  width: 100%;
}
.max-img {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.block {
  display: block !important;
}
.hidden {
  display: none;
}
.up {
  text-transform: uppercase;
}
.m-auto {
  margin: 0 auto;
}
.d-table {
  display: table;
  height: 100%;
  width: 100%;
}
.d-inline {
  display: inline-block;
  vertical-align: middle;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
  -webkit-box-align: justify;
}
.w-space {
  white-space: nowrap;
}
.bold {
  font-family: 'Source Sans Pro Bold', sans-serif;
}
.semi-b {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.m-t20 {
  margin-top: 20px;
}
.m-t10 {
  margin-top: 10px;
}
.m-t5 {
  margin-top: 5px;
}
.m-b20 {
  margin-bottom: 20px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-b5 {
  margin-bottom: 5px;
}
.m-l10 {
  margin-left: 10px;
}
.m-l5 {
  margin-left: 5px;
}
.m-r10 {
  margin-right: 10px;
}
.m-r5 {
  margin-right: 5px;
}
.nomarg {
  margin-bottom: 0 !important;
}
/******************CONTROLS*********************/
.controls-row {
  background-color: #ededed;
}
.controls-list {
  border-bottom: 1px solid #d1d0d0;
}
.controls-list:before,
.controls-list:after {
  content: " ";
  display: table;
}
.controls-list:after {
  clear: both;
}
.controls-list > li {
  float: left;
  position: relative;
}
.controls-list > li > a {
  color: #7d7d7d;
  display: block;
  font-size: 20px;
  height: 39px;
  width: 44px;
  line-height: 39px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.controls-list > li > a:hover,
.controls-list > li > a:focus {
  background-color: #7d7d7d;
  color: #fff;
}
.controls-list > li > a:hover .tooltip-icon-header,
.controls-list > li > a:focus .tooltip-icon-header {
  display: block;
}
.controls-list > li.item-null a:hover,
.controls-list > li.item-null a:focus {
  background-color: transparent;
}
.controls-list > li + li {
  border-left: 1px solid #d1d0d0;
}
.controls-list > li:last-child {
  border-right: 1px solid #d1d0d0;
}
.tooltip-icon-header {
  color: #fff;
  font: 14px 'Source Sans Pro Semibold', sans-serif;
  display: none;
  left: 50%;
  position: absolute;
  top: -24px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 1000;
}
/******************TABS*********************/
.nav-tabs > li > a {
  border-top: 0 none;
  color: #616161;
  font-family: 'Oswald Regular', sans-serif;
  margin-right: 0;
  padding: 14px 15px 13px;
  text-transform: uppercase;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
  border-color: transparent;
  color: #3f51b5;
}
.nav-tabs > li > a .fa-remove {
  margin-top: 2px;
  margin-left: 13px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top-color: transparent;
}
.main-tabs {
  white-space: nowrap;
}
.main-tabs .nav-tabs > li {
  display: inline-block;
  float: none;
}
.main-tabs .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 7px;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.main-container {
  padding-top: 60px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#page-wrapper {
  padding-left: 0;
}
#page-wrapper.open #sidebar-wrapper {
  left: 0;
  margin-left: 0;
}
#page-wrapper,
#sidebar-wrapper {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.countdown-dialog {
  position: relative;
}
.countdown-dialog span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}
.newtemplate {
  width: 100px;
  height: 100px;
  float: left;
  list-style: none;
  text-align: center;
}
[data-notify="progressbar"] {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.user-management .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.user-management .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.user-management .pagination,
.templates .pagination {
  margin: 0;
}
.role-management .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.role-management .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.dictionary .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.dictionary .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.words .edit-form.ng-leave {
  animation: fadeOutUp 0.3s;
}
.words .edit-form.ng-enter {
  animation: fadeInDown 0.3s;
}
.table.authoritiesTable thead tr th p {
  line-height: 17px;
  word-spacing: 90px;
}
.authoritiesTable th {
  height: 90px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  /* IE */
  writing-mode: tb-rl;
}
.authoritiesTable th:first-child,
.authoritiesTable th:last-child {
  -webkit-transform: inherit;
  -o-transform: inherit;
  /* IE */
  writing-mode: inherit;
}
.authoritiesTable td {
  text-align: center;
}
.authoritiesTable td:first-child {
  text-align: inherit;
}
.authoritiesTable td:last-child,
.authoritiesTable th:last-child {
  min-width: 95px;
}
.login-form {
  margin-top: 50px;
}
.login-form .panel-info.has-error-add,
.login-form .panel-info.has-error-remove {
  animation: shake 0.7s;
}
#sidebar-wrapper ul .ng-enter {
  animation: fadeInLeft 0.5s;
}
#sidebar-wrapper ul .ng-leave {
  animation: none;
}
/* file uploader*/
.my-drop-zone {
  border: dotted 3px lightgray !important;
  text-align: center;
  height: 150px;
}
.nv-file-over {
  border: dotted 3px #4dd0e1 !important;
}
/* editable checklist*/
.editable-checklist label {
  display: block;
}
/* editable text fields */
.editable,
.editable:hover {
  cursor: pointer !important;
  text-decoration: none;
  color: #428bca;
  border-bottom: dashed 1px #428bca;
}
.disabled,
.disabled:hover {
  color: black;
  text-decoration: none;
  cursor: default !important;
  border-bottom: none;
}
.page-content.ng-enter {
  animation: fadeIn 0.7s;
}
.page-content.ng-leave {
  animation: none;
}
.entities-content {
  height: calc(100vh - 108px);
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #c0c0c0;
}
::-webkit-scrollbar-track {
  background: transparent;
}
.tab-content.ng-enter {
  animation: fadeIn 0.7s;
}
.tab-content.ng-leave {
  animation: none;
}
.templates-holder {
  min-height: 200px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.structure-editor-modal .modal-dialog {
  width: min-content;
}
.img-fill {
  height: 100%;
  width: 100%;
}
.sizable-panel-body {
  height: 130px;
  box-sizing: content-box;
}
.select-structure {
  border: 0px;
  outline: 0px;
  background-color: transparent;
  font-weight: bold;
}
.textarea-structure {
  resize: vertical;
}
.clear-elem {
  clear: left;
  display: block;
}
.members ul {
  overflow: hidden;
  list-style-type: circle;
}
.members li {
  line-height: 2em;
  float: left;
  display: inline;
}
#triple-list li {
  width: 33.333%;
}
.members .list-group-item {
  overflow: hidden;
  position: relative;
  display: block;
  padding: 5px 5px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.templates .list-group {
  margin-bottom: 0;
}
.templates .tab.ng-enter {
  animation: fadeInDown 0.5s;
}
.templates .tab.ng-leave {
  animation: fadeOutDown 0.5s;
}
.templates .component.ng-enter {
  animation: fadeInLeft 0.5s;
}
.templates .component.ng-leave {
  animation: fadeOutDown 0.5s;
}
.palette .draggable-component.ng-leave {
  animation: fadeOut 0.5s;
}
.palette .draggable-component.ng-enter {
  animation: fadeIn 0.5s;
}
.palette .draggable-component.ng-leave {
  animation: none;
}
.capitalized {
  text-transform: capitalize;
}
.experiment-tab-close {
  margin-left: 10px;
  color: #337ab7;
}
.compound-component div.col-xs-12.text-left div {
  width: 170px!important;
}
.compound-component .structure-preview-wrapper {
  display: flex;
  justify-content: flex-start;
  max-height: 150px;
  padding-left: 155px;
}
.dictionary-col-width {
  max-width: 200px;
}
.dictionary-col-elipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}
.active .experiment-tab-close {
  color: #37474f;
  margin-left: 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #37474f;
  background-color: #b2ebf2;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.table {
  border-collapse: separate;
  border-spacing: 3px;
  border: none;
}
.table thead {
  background: #E0F7FA;
}
.table thead tr th {
  border: none;
  font: 14px/34px segoeui;
  padding: 0;
  vertical-align: inherit;
  text-align: center;
}
.table tbody tr td {
  vertical-align: middle;
}
.slider-handle {
  background: #b2ebf2 none;
}
.slider.slider-horizontal .slider-track {
  height: 3px;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-top: -8px;
}
a {
  cursor: pointer;
}
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
.print-header {
  color: grey;
  margin-top: 20px;
  border-color: grey !important;
}
.print-header,
.print-table,
.print-table-simple,
.print-box {
  width: 100%;
  margin-bottom: 50px;
  padding: 5px;
  border: 1px black solid;
}
.print-component .simditor-toolbar {
  display: none;
}
.print-component .simditor {
  border-color: black;
}
.print-header td,
.print-header th,
.print-table-simple td,
.print-table-simple th {
  padding: 5px;
  border: none;
}
.print-table th {
  text-align: center;
}
.print-table th,
.print-table td {
  border: 1px black solid;
  border-collapse: collapse;
  margin-bottom: 50px;
  padding: 8px;
  vertical-align: top;
}
.print-table-inner td {
  border: none;
}
#print-form {
  font-family: "Times New Roman", Georgia, Serif;
}
.need-to-print .checkbox label:before {
  content: initial;
}
.need-to-print .checkbox label {
  font-size: 14px;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.my-table.table-responsive th {
  background-color: #E0F7FA;
}
.my-table.table-responsive th a {
  color: black;
}
.my-table.table-responsive th .btn {
  background-color: transparent !important;
  border-color: transparent !important;
}
.my-table.table-responsive th .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.my-table.table-responsive .form-group {
  margin-bottom: 0;
}
.my-table.table-responsive td {
  padding: 0;
}
.my-table.table-responsive .input-group {
  border-spacing: 0;
}
.my-table.table-responsive .form-group .col-xs-12 {
  padding: 0;
}
.reagent-search-tab {
  margin-top: 20px;
}
.reagent-search-container {
  margin: 10px;
}
.reagent-search-row {
  position: relative;
}
.reagent-search-row p {
  position: absolute;
  top: 8px;
}
.reagent-search-hint {
  font-size: 12px;
  left: 10px;
}
.reagent-search-well {
  margin-left: 12px;
}
.reagent-search-advanced {
  position: relative;
}
.reagent-search-advanced a {
  position: absolute;
  top: 32px;
  font-size: 16px;
  text-decoration: none;
}
.reagent-search-collapse {
  margin: 7px;
}
.reagent-search-collapse a {
  text-decoration: none;
}
.reagent-search-row strong {
  position: absolute;
  top: 15px;
  left: 10px;
}
.reagent-search-row .info-col {
  margin-bottom: 25px;
}
.reagent-search-row div {
  margin-bottom: 2px;
}
.search-button {
  margin: 2px 7px;
}
.search-table-row-highlight {
  background-color: #b2ebf2;
}
.search-table-head {
  background-color: rgba(191, 191, 191, 0.28);
}
#search-result-table,
#my-reagent-list-table {
  table-layout: fixed;
  width: 100%;
}
#search-result-table td,
#my-reagent-list-table td {
  vertical-align: middle;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.analyze-rxn-row div {
  margin-bottom: 0;
}
.analyze-rxn-selected-reactants {
  margin-left: 20px;
}
.search-tab-content {
  margin: 10px;
}
.search-structure-scheme .panel-heading {
  background-color: #f3f3f3;
  border-color: #d1d1d1;
}
.search-structure-scheme.panel-info {
  border-color: #d1d1d1;
}
.melting-point-info div,
.select-from-dictionary div {
  margin-bottom: 0;
}
.long-content-popup {
  overflow-y: scroll;
  max-height: 400px;
}
.experiment-tabs {
  overflow: auto;
}
.experiment-tabs .nav {
  white-space: nowrap;
}
.experiment-tabs .nav li {
  display: inline-block;
  float: none;
}
.experiment-tabs .mCSB_container {
  margin-bottom: 15px !important;
}
.experiment-tabs .mCSB_draggerContainer {
  background-color: #b2ebf2;
}
.experiment-tabs .mCSB_container.mCS_x_hidden {
  margin-bottom: 0 !important;
}
.my-scroller-axis-y .mCSB_inside > .mCSB_container {
  margin-right: 15px;
}
.my-scroller-axis-y .mCSB_container.mCS_y_hidden {
  margin-right: 0 !important;
}
.my-scroller-axis-x .mCSB_inside > .mCSB_container {
  margin-bottom: 15px !important;
}
.my-scroller-axis-x .mCSB_container.mCS_x_hidden {
  margin-bottom: 0 !important;
}
.role-check-icon {
  color: #25aabb;
}
.ui-select-toggle {
  background-color: transparent;
}
/* theme "indigo" for scroller*/
.mCS-indigo.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
}
.mCS-indigo.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
}
.mCS-indigo.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 2px;
  margin: 7px auto;
}
.mCS-indigo.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #607d8b;
  background-color: rgba(96, 125, 139, 0.15);
}
.mCS-indigo.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.75);
}
.mCS-indigo.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.85);
}
.mCS-indigo.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-indigo.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.9);
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}
.mCS-indigo.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}
body > .ui-select-bootstrap.open {
  z-index: 1050;
}
.wrapper-list-experiment .mCSB_container {
  padding-bottom: 100px;
}
.tab-pane .tab-content > .panel {
  margin: 0;
  border: 0;
}
html {
  overflow-y: auto;
}
.panel-body.my-scroller-axis-y {
  padding-right: 0;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0;
}
.mCS-indigo-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.85);
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-indigo-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #607D8B;
  background-color: rgba(96, 125, 139, 0.9);
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px 0;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -20px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -40px;
}
.mCS-indigo-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -56px;
}
.components-holder-empty {
  /*content: 'You can drag & drop components here.';*/
  /*position: absolute;*/
  /*color: rgb(119, 119, 119);*/
  /*font-size: 24px;*/
  /*font-weight: 500;*/
  /*margin-top: 32px;*/
  /*left: 20%;*/
}
.clickable {
  cursor: pointer;
}
.row > div {
  margin-bottom: 0;
}
.linkedExperiments .tag-list span {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.show-hide-columns li {
  margin-left: 10px;
  margin-right: 10px;
}
.show-hide-columns.dropdown-menu {
  max-height: 230px;
  overflow: auto;
}
.show-hide-columns button {
  margin-bottom: 2px;
}
.entered-value {
  color: blue;
}
.table .checkbox {
  margin: 0;
}
.not-editable {
  text-decoration: none;
  color: black;
  cursor: default;
}
.my-dropdown-list li a {
  padding: 8px;
}
ul.opened-entities {
  min-width: 250px;
}
ul.my-dropdown-list {
  padding: 5px;
}
.my-table tr.ng-leave {
  animation: fadeOutUp 0.3s;
}
.my-table tr.ng-enter {
  animation: fadeInDown 0.3s;
}
.entity-changed {
  top: 2px;
  right: 4px;
  position: absolute;
  font-size: 10px;
  color: #23aabb;
}
