@font-face {
  font-family: FontAwesome;
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}
/****header page****/
.main-container {
  position: relative;
}
.main-container__head {
  background: #607d8b;
  height: 70px;
  position: fixed;
  min-width: 1048px;
  width: 100%;
  z-index: 1000;
}
.logo-wrapper {
  position: absolute;
  top: 4px;
  left: 35px;
}
.logo-wrapper__img {
  height: 65px;
}
.head-controls-list {
  float: left;
  margin: 25px 8px 0 260px;
  padding: 0;
  white-space: nowrap;
}
.head-controls-list_right {
  float: right;
  margin: 25px 20px 0 0;
}
.head-controls-list__item {
  cursor: pointer;
  float: left;
  list-style-type: none;
  margin-right: 12px;
  position: relative;
}
.head-controls-list__item:hover .tooltip-icon-header {
  display: block;
}
.icon-header-control-list {
  background: #546e7a;
  border: 1px solid #546e7a;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 20px/32px FontAwesome;
  height: 36px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 36px;
  position: inherit;
}
.icon-header-control-list .fa:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  color: #fff;
}
.icon-header-control-list:hover {
  border: 1px solid #4dd0e1;
}
.icon-header-control-list_user {
  background: inherit;
  border: none;
  width: inherit;
}
.icon-header-control-list_user:hover {
  border: none;
  color: #E7E1E1;
}
.icon-header-control-list_user span {
  margin-left: 8px;
}
.icon-bg-round {
  background: #4dd0e1;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 14px/19px FontAwesome;
  height: 19px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 19px;
}
.icon-bg-round .fa:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  color: #fff;
}
.experiment-status {
  background: inherit;
  border: none;
  border-radius: 0;
  color: #687f8b;
  cursor: pointer;
  display: inline-block;
  font: 14px/34px FontAwesome;
  height: 34px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 34px;
  float: right;
  padding-left: 0 !important;
}
.experiment-status .fa:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  color: #fff;
}
.head-controls-list-submenu {
  background: #fff;
  border: 1px solid #607d8b;
  display: none;
  list-style-type: none;
  left: -14px;
  max-width: 300px;
  min-width: 150px;
  position: absolute;
  padding: 0;
  top: 44px;
  z-index: 5;
}
.head-controls-list-submenu:before {
  content: "\f0d8";
  color: #fff;
  font: 32px fontawesome;
  left: 19px;
  position: absolute;
  top: -30px;
}
.head-controls-list-submenu__item a {
  color: #6b8693;
  display: block;
  font: 14px/30px segoeui;
  padding: 5px;
  text-align: left;
  text-decoration: none;
}
.head-controls-list-submenu__item a:focus,
.head-controls-list-submenu__item a:hover {
  color: #495b64;
  text-decoration: none;
}
.head-controls-list-submenu__item a:active {
  color: #263035;
}
.tooltip-icon-header {
  color: #fff;
  display: none;
  position: absolute;
  top: -20px;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  white-space: nowrap;
  width: 200px;
}
.tooltip-icon-header:hover {
  display: block;
}
.open-menu {
  display: block !important;
}
.open .icon-header-control-list {
  background: #fff;
  color: #546e7a;
}
