::ng-deep .expanded-row {
  height: auto !important;
}

:host {
  --mat-table-row-item-outline-width: 0;
}

:host input[type='number'] {
  field-sizing: content;
  appearance: textfield;
}

:host input[type='number']::-webkit-outer-spin-button,
:host input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

:host ::ng-deep .unit-select {
  .mat-mdc-select-arrow-wrapper {
    display: none;
  }

  &:hover .mat-mdc-select-value,
  &.mat-mdc-select-focused .mat-mdc-select-value {
    text-decoration: underline;
  }
}

.expanded-row-content {
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button mat-icon {
  transition: transform 0.2s ease-in-out;
}

button mat-icon.rotate-180 {
  transform: rotate(180deg);
}

.value-state-fixed input {
  color: purple;
}

.value-state-default input {
  color: darkgray;
  font-style: italic;
}

.value-state-set-manually input {
  color: deepskyblue;
  font-weight: bold;
}

.value-state-last-updated {
  background: lawngreen;
}
