<div>
    <div class="modal-header">
        <h5 class="modal-title">Export Structure</h5>
    </div>
    <div class="modal-body">
        <div >
            <my-select my-label="Choose format"
                       my-items="[{name:'MDL Molfile'}]" my-model="format"
                       my-label-vertical="true"></my-select>
        </div>
        <br/><br/><br/>
        <div>
            <my-text-area my-label="Input Structure" my-label-vertical="true" my-model="structureToSave"></my-text-area>
            <!--the next component required to avoid floating out of modal body-->
            <span class="clear-elem"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="download()">Download</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>