<div>
    <div class="modal-header">
        <h5 class="modal-title">Structure Editor</h5>
    </div>
    <div class="modal-body">
        <my-editor my-structure="structure" my-editor-name="{{editor}}"></my-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">
            <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</div>