<div class="panel panel-info component">
    <div class="panel-heading">
        {{myTitle}}
            <span class="btn-group pull-right">
                <i class="fa fa-edit btn panel-btn-reaction-scheme" title="Edit/Add Reaction Scheme" ng-click="openEditor()"></i>
                <i class="fa  fa-folder-open-o btn" title="Import Structure" ng-click="importStructure()"></i>
                <i class="fa fa-save btn" title="Export Structure"  ng-click="exportStructure()"></i>
            </span>
    </div>
    <div class="panel-body text-center">
        <img ng-if="image" class="img-responsive center-block" style="max-height: 500px"
             ng-src="data:image/svg+xml;base64,{{image}}" alt="Image is unavailable.">
        <h3 ng-if="!image" class="text-muted">empty</h3>
    </div>
</div>
