<div>
    <div class="modal-header">
        <h5 class="modal-title">Export Structure</h5>
    </div>
    <div class="modal-body">
        <my-select my-label="Choose format"
                   my-items="formats" my-model="format"
                   my-label-vertical="true"></my-select>
        <div>
            <my-text-area my-label="Input Structure" my-label-vertical="true" my-model="structureToSave"></my-text-area>
            <!--the next component required to avoid floating out of modal body-->
            <span class="clear-elem"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">
            <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
        </button>
        <button class="btn btn-primary" ng-click="download()">
            <i class="fa fa-download"></i><span class="m-l5">Download</span>
        </button>
    </div>
</div>