<div class="panel panel-info component" my-collapsible-component>
    <div class="panel-heading">
        Stoichiometry Table
    </div>
    <div class="panel-body collapsible">
        <my-table my-id="reactants" my-tab-support="true"  my-columns="reactantsColumns" my-rows="model.stoichTable.reactants"
                  my-draggable-columns="true"
                  my-draggable-rows="true" my-on-row-selected="onRowSelected"
                  my-readonly="myReadonly" my-label="Reactants, Reagents, Solvents">
            <div class="row m-b20">
                <div class="col-lg-8 m-bt-lg">
                    <div class="btn-group">
                        <button type="button" ng-click="searchReagents(0)" class="btn btn-info btn-small" ng-disabled="myReadonly">
                            <i class="fa fa-list"></i>
                            <span class="m-l5">My Reagent List</span>
                        </button>
                        <button type="button" ng-click="searchReagents(1)" class="btn btn-info btn-small" ng-disabled="myReadonly">
                            <i class="fa fa-search"></i>
                            <span class="m-l5">Search DBs</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small" disabled>
                            <i class="fa fa-search"></i>
                            <span class="m-l5">MSDS Search</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small" ng-disabled="myReadonly" ng-click="appendRow()">
                            <i class="fa fa-plus"></i>
                            <span class="m-l5">Add</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small" ng-disabled="myReadonly || !selectedRow" ng-click="clear()">
                            <i class="fa fa-eraser"></i>
                            <span class="m-l5">Clear</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small" ng-disabled="myReadonly || !selectedRow" ng-click="removeRow()">
                            <i class="fa fa-trash"></i>
                            <span class="m-l5">Delete</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 text-align-lg">
                    <div class="btn-group">
                        <button type="button" ng-click="analyzeRxn()" ng-disabled="myReadonly || !model.stoichTable.products" class="btn btn-info btn-small">
                            <i class="fa fa-line-chart"></i>
                            <span class="m-l5">Analyze Rxn</span>
                        </button>
                        <button type="button" class="btn btn-info btn-small" ng-click="createRxn()" ng-disabled="myReadonly || noReactantsInStoic()">
                            <i class="fa fa-plus"></i>
                            <span class="m-l5">Create Rxn</span>
                        </button>
                    </div>
                </div>
            </div>








            <!--<div class="btn-toolbar m-b10">-->
                <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="button" ng-click="searchReagents(0)" class="btn btn-info btn-small" ng-disabled="myReadonly">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fa fa-list"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="m-l5">My Reagent List</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="button" ng-click="searchReagents(1)" class="btn btn-info btn-small" ng-disabled="myReadonly">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fa fa-search"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="m-l5">Search DBs</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="button" ng-click="analyzeRxn()" ng-disabled="myReadonly || !model.stoichTable.products" class="btn btn-info btn-small">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fa fa-line-chart"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="m-l5">Analyze Rxn</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-info btn-small" ng-click="createRxn()" ng-disabled="myReadonly || noReactantsInStoic()">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fa fa-plus"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="m-l5">Create Rxn</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="btn-group m-b20">-->
                <!--<button type="button" class="btn btn-info btn-small" ng-disabled="myReadonly" ng-click="appendRow()">-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--<span class="m-l5">Append Row</span>-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-info btn-small" ng-disabled="myReadonly || !selectedRow" ng-click="clear()">-->
                    <!--<i class="fa fa-eraser"></i>-->
                    <!--<span class="m-l5">Clear</span>-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-info btn-small" ng-disabled="myReadonly || !selectedRow" ng-click="removeRow()">-->
                    <!--<i class="fa fa-trash"></i>-->
                    <!--<span class="m-l5">Delete</span>-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-info btn-small" disabled>-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--<span class="m-l5">MSDS Search</span>-->
                <!--</button>-->
            <!--</div>-->
        </my-table>
        <my-table my-id="intended" my-columns="productsColumns" my-rows="model.stoichTable.products"
                  my-readonly="myReadonly" my-label="Intended Reaction Products"></my-table>
    </div>
</div>