<form id="productBatchSummarySetSourceForm" name="productBatchSummarySetSourceForm" ng-submit="save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h5 class="modal-title">Set value for {{name}}</h5>
    </div>
    <div class="modal-body">
        <my-select my-label="Source" my-items="sourceValues" my-model="source" my-label-vertical="true"
        ></my-select>
        <my-select
                ng-if="source.name == 'External'"
                my-label="Source Details"
                my-items="sourceDetailExternal"
                my-model="sourceDetail"
                my-label-vertical="true">
        </my-select>
        <my-select ng-if="source.name == 'Internal'"
                   my-label="Source Details"
                   my-items="sourceDetailInternal"
                   my-model="sourceDetail"
                   my-label-vertical="true">
        </my-select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
        </button>
        <button type="submit" ng-disabled="productBatchSummarySetSourceForm.$invalid" class="btn btn-primary"
                form="productBatchSummarySetSourceForm">
            <i class="fa fa-save"></i><span class="m-l5">Save</span>
        </button>
    </div>
</form>