@use '@angular/material' as mat;

@use 'variables';
@use 'typography';
@use 'icons';
@use 'reset';
@use 'utilities';

* {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
html {
  @include mat.theme(
    (
      typography: (
        brand-family: Open Sans,
        bold-weight: 800,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}

body {
  background-color: var(--neutral-100);
}
