<form id="productBatchSummarySetSelectValueForm" name="productBatchSummarySetSelectValueForm" ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h5 class="modal-title"><span i-translate="SET_VALUE_FOR_$"></span> <span>{{vm.name}}</span></h5>
    </div>
    <div class="modal-body">
        <autocomplete ng-if="!vm.dictionary"
                      items="vm.values"
                      model="vm.wrapper.value">
        </autocomplete>
        <autocomplete ng-if="vm.dictionary && vm.id !== 'stereoisomer'"
                       field="name"
                       dictionary="{{vm.dictionary}}"
                       model="vm.wrapper.value">
        </autocomplete>
        <autocomplete ng-if="vm.dictionary && vm.id === 'stereoisomer'"
                       field="name,description"
                       dictionary="{{vm.dictionary}}"
                       model="vm.wrapper.value">
        </autocomplete>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="icon icon-stop"></span><span class="m-l5" i-translate="CANCEL"></span>
        </button>
        <button type="submit" ng-disabled="productBatchSummarySetSelectValueForm.$invalid" class="btn btn-primary"
                form="productBatchSummarySetSelectValueForm">
            <span class="icon icon-save"></span><span class="m-l5" i-translate="SAVE"></span>
        </button>
    </div>
</form>
