<div class="panel panel-primary" style="min-height: 300px">
    <div class="panel-heading">
        Product Batch Summary
    </div>
    <div class="panel-body">
        <div class="panel">
            <button class="btn btn-primary">Sync with Intended Products</button>
            <button class="btn btn-primary">VnV</button>
            <button class="btn btn-primary">Add New Batch</button>
            <button class="btn btn-primary">Delete Batch(es)</button>
            <button class="btn btn-primary">Import SD File</button>
        </div>
    
        <div ui-grid="batchSummaryOptions" class="grid" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-edit ui-grid-cellNav >
        </div>
    </div>
</div>