<div>
    <div ng-if="!isEditable()" ng-style="">
        <span ng-if="!myColumn.type">
            {{myRow[myColumn.id]}}
        </span>
        <a ng-if="isEmpty(myRow[myColumn.id]) && myColumn.type && myColumn.type!== 'image'"
           ng-click="toggleEditable()">&mdash;</a>
        <a ng-if="!isEmpty(myRow[myColumn.id]) && myColumn.type && myColumn.type!== 'image'"
           ng-click="toggleEditable()">
            <span ng-if="myColumn.type == 'boolean'">{{myRow[myColumn.id]?'yes':'no'}}</span>
            <span ng-if="myColumn.type == 'input'">{{myRow[myColumn.id]}}</span>
            <span ng-if="myColumn.type == 'select'">{{myRow[myColumn.id].name}}</span>
            <span ng-if="myColumn.type == 'unit'">{{myRow[myColumn.id].value}} {{myRow[myColumn.id].unit}}</span>
        </a>
        <div ng-if="myColumn.type == 'image' && myRow[myColumn.id].image">
            <img class="img-fill" style="padding: 10px; background-color: white"
                 ng-src="data:image/svg+xml;base64,{{myRow[myColumn.id].image}}" alt="Image is unavailable.">
        </div>
    </div>
    <div id="myTableVal" ng-if="isEditable()" click-outside="closeThis()"
         outside-if-not="btn btn-default form-control ui-select-toggle">
        <div ng-if="!myColumn.type">{{myRow[myColumn.id]}}</div>
        <div ng-if="myColumn.type == 'boolean'">
            <checkbox class="btn-info my-checkbox" ng-model="myRow[myColumn.id]"></checkbox>
        </div>
        <div ng-if="myColumn.type == 'unit'">
            <my-input my-model="myRow[myColumn.id].value" my-input-group="append" my-input-size="sm"
                      my-readonly="myColumn.readonly">
                <div class="btn-group-sm" uib-dropdown
                     ng-init="myRow[myColumn.id].unit?return:myRow[myColumn.id].unit = myColumn.units[0].name">
                    <button type="button" class="btn btn-default"
                            aria-haspopup="true"
                            aria-expanded="false"
                            uib-dropdown-toggle>{{myRow[myColumn.id].unit}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-repeat="unit in myColumn.units track by unit.name"><a href=""
                                                                                     ng-click="unit.onClick(myRow[myColumn.id])">{{unit.name}}</a>
                        </li>
                    </ul>
                </div>
            </my-input>
        </div>
        <div ng-if="myColumn.type == 'select'">
            <my-select my-on-select="myColumn.onSelect(myRow)" my-model="myRow[myColumn.id]"
                       my-items="myColumn.values(myRow)" my-classes="form-group-sm"></my-select>
        </div>
        <div ng-if="myColumn.type == 'input'">
            <my-input my-model="myRow[myColumn.id]" my-classes="form-group-sm"></my-input>
        </div>
    </div>
</div>