<div>
    <div class="row m-b20">
        <div class="col-xs-4" ng-if="vm.indigoLabel">
            {{vm.indigoLabel}}
        </div>
        <div ng-class="{'col-xs-8 text-right':vm.indigoLabel, 'col-xs-12 text-right':!vm.indigoLabel}"
             class="is-hidden">
            <div ng-if="vm.rowsForDisplay.length < vm.indigoRows.length" class="search-info"> <b>{{vm.rowsForDisplay
                .length}}</b>  of {{vm.indigoRows.length}} are shown </div>
            <div class="search-field">
                <i class="fa fa-search"></i>
                <input type="search"
                       class="uui-search"
                       placeholder="Search"
                       ng-change="vm.searchDebounce(vm.searchText)"
                       id="searchUser"
                       ng-model="vm.searchText">
            </div>

            <div class="btn-group btn-group-sm m-l10" uib-dropdown dropdown-append-to-body
                 ng-if="!vm.indigoHideColumnSettings">
                <div id="show-hide-button" class="btn btn-info"
                     uib-dropdown-toggle
                     ng-disabled="disabled"
                     uib-tooltip="Column settings">
                    <span class="fa fa-columns no-draggable" aria-hidden="true"></span> &nbsp;<span> Columns</span>
                </div>
                <ul uib-dropdown-menu role="menu"
                    indigo-scroller="y"
                    indigo-scroller-theme="indigo-thick" class="show-hide-columns dropdown-menu-right">
                    <li role="menuitem"
                        ng-click="$event.stopPropagation();">
                        <button type="button" class="btn btn-default btn-small m-t5"
                                ng-click="vm.resetColumns()">Set default columns set
                        </button>
                    </li>
                    <li ng-repeat="column in vm.indigoColumns | filter : {id:'!show-hide-columns'}"
                        role="menuitem"
                        ng-click="$event.stopPropagation();">
                        <indigo-checkbox indigo-label="{{column.name}}"
                                         indigo-model="column.isVisible"
                                         indigo-change="vm.saveInLocalStorage();">
                        </indigo-checkbox>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span class="transclude"></span>
    <div class="table-responsive" indigo-scroller="x">
        <table class="table table-striped product">
            <thead>
            <tr>
                <th ng-repeat="column in vm.indigoColumns track by $index" ng-show="column.isVisible">
                    <div class="btn-group btn-group-sm btn-group-justified product-header-item"
                         ng-if="!column.actions.length && column.id!=='show-hide-columns'">
                        <a href class="btn btn-transparent" ng-disabled="vm.isReadonly">
                            {{column.name}}
                        </a>
                    </div>
                    <div class="btn-group btn-group-sm btn-group-justified product-header-item" uib-dropdown
                         dropdown-append-to-body
                         ng-if="column.actions.length">
                        <a href class="btn btn-transparent" uib-dropdown-toggle ng-disabled="vm.isReadonly">
                            <span>{{column.name}} <span class="caret"></span></span>
                        </a>
                        <ul uib-dropdown-menu class="no-draggable">
                            <li ng-repeat="action in column.actions track by $index" class="no-draggable">
                                <a href="" ng-click="action.action(column.id)" class="no-draggable"
                                   ng-disabled="vm.isReadonly">{{action.name}}</a>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="vm.rowsForDisplay.length"
                ng-repeat="row in vm.rowsForDisplay | limitTo : vm.pagination.pageSize : vm.limit - vm.pagination.pageSize track by $index"
                ng-class="{'success': vm.selectedBatch === row}">
                <td ng-repeat="column in vm.indigoColumns track by $index"
                    class="text-center readonly-{{!vm.indigoEditable(row, $index, columnId)}}"
                    ng-click="vm.onRowSelect($event, row)"
                    ng-show="column.isVisible"
                    ng-style="column.id!=='show-hide-columns'?{'min-width': '150px'}:{'min-width': '56px'}"
                    col-read-only="{{vm.isColumnReadonly(column, $parent.$index)}}">
                    <indigo-table-val indigo-column="column"
                                      indigo-row="row"
                                      indigo-row-index="$parent.$index"
                                      set-close-previous="vm.setClosePrevious(callback)"
                                      toggle-editable-column="vm.toggleEditable(column.id, $parent.$index)"
                                      close="vm.toggleEditable(null, null, null)"
                                      is-editable-column="vm.isEditable(column.id, $parent.$index)"
                                      is-readonly="vm.isReadonly">
                    </indigo-table-val>
                </td>
            </tr>
            <tr ng-if="!vm.rowsForDisplay.length">
                <td colspan={{vm.indigoColumns.length}} class="text-muted text-center">
                    <h3 class="m-50">empty</h3>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-if="vm.pagination.pageSize < vm.rowsForDisplay.length">
        <div class="col-xs-12 text-center">
            <uib-pagination class="pagination-sm"
                            total-items="vm.rowsForDisplay.length"
                            ng-change="vm.onPageChanged()"
                            ng-model="vm.pagination.page"
                            items-per-page="vm.pagination.pageSize"
                            boundary-link-numbers="true"
                            rotate="false">
            </uib-pagination>
        </div>
    </div>
</div>