<div>
    <div ng-if="!vm.isEditable()">
        <span ng-if="!vm.indigoColumn.type">
            <span ng-if="!vm.indigoColumn.format">
            {{vm.indigoRow[vm.indigoColumn.id]}}
            </span>
            <span ng-if="vm.indigoColumn.format">
            {{vm.indigoColumn.format(vm.indigoRow[vm.indigoColumn.id])}}
            </span>
        </span>
        <span ng-if="vm.indigoColumn.type === 'html'">
            <span ng-if="!vm.indigoColumn.format" ng-bind-html="vm.indigoRow[vm.indigoColumn.id]">
            </span>
            <span ng-if="vm.indigoColumn.format"
                  ng-bind-html="vm.indigoColumn.format(vm.indigoRow[vm.indigoColumn.id])">
            </span>
        </span>
        <span ng-if="vm.indigoColumn.type === 'primitive' && !vm.isEmpty(vm.indigoRow[vm.indigoColumn.id], vm.indigoColumn)">
            {{vm.indigoRow[vm.indigoColumn.id] | round:vm.indigoColumn.sigDigits:vm.indigoColumn:vm.indigoRow}}
        </span>
        <a ng-if="!vm.indigoRow[vm.indigoColumn.id].readonly && vm.indigoColumn.type === 'string'"
           ng-click="vm.readonly || vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})">
            {{vm.indigoRow[vm.indigoColumn.realId].asString || '&mdash;'}}</a>
        <a ng-if="vm.isEmpty(vm.indigoRow[vm.indigoColumn.id], vm.indigoColumn) && !vm.indigoRow[vm.indigoColumn.id].readonly && vm.indigoColumn.type && vm.indigoColumn.type!== 'image' && vm.indigoColumn.type!== 'boolean' && vm.indigoColumn.type !== 'string'"
           ng-click="vm.toggleEditable()">&mdash;</a>
        <a ng-if="vm.isEmpty(vm.indigoRow[vm.indigoColumn.id], vm.indigoColumn) && vm.indigoRow[vm.indigoColumn.id].readonly"
           class="not-editable"></a>
        <a ng-if="!vm.isEmpty(vm.indigoRow[vm.indigoColumn.id], vm.indigoColumn) && !vm.indigoRow[vm.indigoColumn.id].readonly && vm.indigoColumn.type && vm.indigoColumn.type!== 'image'&& vm.indigoColumn.type!== 'boolean'"
           ng-click="vm.toggleEditable()">
            <span ng-if="vm.indigoColumn.type == 'input' && !vm.indigoColumn.hasStructurePopover"
                  ng-class="{'entered-value': vm.indigoRow[vm.indigoColumn.id].entered}">{{vm.indigoRow[vm.indigoColumn.id]}}</span>
            <span ng-if="vm.indigoColumn.type == 'input' && vm.indigoColumn.hasStructurePopover"
                  uib-popover-html="vm.popoverTemplate"
                  popover-title="{{vm.popoverTitle}}"
                  popover-trigger="mouseenter"
                  popover-placement="top-right"
                  popover-append-to-body="true"
                  ng-class="{'entered-value': vm.indigoRow[vm.indigoColumn.id].entered}">{{vm.indigoRow[vm.indigoColumn.id]}}</span>
            <span ng-if="vm.indigoColumn.type == 'select' && !vm.isEmpty(vm.indigoRow[vm.indigoColumn.id], vm.indigoColumn)"
                  ng-class="{'entered-value': vm.indigoRow[vm.indigoColumn.id].entered}">{{vm.indigoRow[vm.indigoColumn.id].description ?  vm.indigoRow[vm.indigoColumn.id].name + ' - ' +  vm.indigoRow[vm.indigoColumn.id].description : vm.indigoRow[vm.indigoColumn.id].name}}</span>
            <span ng-if="vm.indigoColumn.type == 'unit'"
                  ng-class="{'entered-value': vm.indigoRow[vm.indigoColumn.id].entered}">{{vm.indigoRow[vm.indigoColumn.id].value | unit:vm.indigoRow[vm.indigoColumn.id].unit | round:vm.indigoColumn.sigDigits:vm.indigoColumn:vm.indigoRow}} {{vm.indigoRow[vm.indigoColumn.id].unit}}</span>
            <span ng-if="vm.indigoColumn.type == 'scalar'"
                  ng-class="{'entered-value': vm.indigoRow[vm.indigoColumn.id].entered}">{{vm.indigoRow[vm.indigoColumn.id].value | round:vm.indigoColumn.sigDigits:vm.indigoColumn:vm.indigoRow}}</span>
        </a>
        <div ng-if="vm.indigoColumn.type == 'image' && vm.indigoRow[vm.indigoColumn.id].image"
             ng-style="{'width': vm.indigoColumn.width}">
            <img class="img-fill"
                 ng-src="data:image/svg+xml;base64,{{vm.indigoRow[vm.indigoColumn.id].image}}"
                 alt="Image is unavailable.">
        </div>
        <div ng-if="vm.indigoColumn.type == 'boolean'"
             ng-class="{'entered-value': vm.indigoRow[vm.indigoColumn.id].entered}">
            <indigo-checkbox indigo-model="vm.indigoRow[vm.indigoColumn.id]" indigo-no-dirty="vm.indigoColumn.noDirty"
                             indigo-change="vm.indigoColumn.onChange({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                             indigo-click="vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"></indigo-checkbox>
        </div>
    </div>
    <div id="myTableVal" ng-if="vm.isEditable()" click-outside="vm.closeThis()"
         outside-if-not="btn btn-default form-control ui-select-toggle">
        <div ng-if="!vm.indigoColumn.type">{{vm.indigoRow[vm.indigoColumn.id]}}</div>
        <div ng-if="vm.indigoColumn.type == 'boolean'">
            <indigo-checkbox
                    indigo-classes="table-val-boolean"
                    indigo-model="vm.indigoRow[vm.indigoColumn.id]"
                    indigo-change="vm.indigoColumn.onChange({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                    indigo-click="vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
            ></indigo-checkbox>
        </div>
        <div ng-if="vm.indigoColumn.type == 'unit'">
            <indigo-input indigo-model="vm.indigoRow[vm.indigoColumn.id].value" indigo-input-group="append"
                          indigo-input-size="sm"
                          indigo-readonly="vm.indigoColumn.readonly || vm.indigoRow[vm.indigoColumn.id].readonly"
                          indigo-click="vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-change="vm.indigoColumn.onChange({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-parsers="vm.unitParsers" indigo-formatters="vm.unitFormatters" indigo-type="number">
                <div class="btn-group-sm" uib-dropdown dropdown-append-to-body>
                    <button type="button" class="btn btn-info"
                            aria-haspopup="true"
                            aria-expanded="false"
                            uib-dropdown-toggle>{{vm.indigoRow[vm.indigoColumn.id].unit}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-repeat="unit in vm.indigoColumn.units track by unit.name">
                            <a ng-click="vm.unitChange(); unit.onClick(vm.indigoRow[vm.indigoColumn.id]);"
                               ng-bind="unit.name"></a>
                        </li>
                    </ul>
                </div>
            </indigo-input>
        </div>
        <div ng-if="vm.indigoColumn.type == 'scalar'">
            <indigo-input indigo-model="vm.indigoRow[vm.indigoColumn.id].value"
                          indigo-type="number"
                          indigo-readonly="vm.indigoColumn.readonly || vm.indigoRow[vm.indigoColumn.id].readonly"
                          indigo-click="vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-change="vm.indigoColumn.onChange({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-parsers="vm.unitParsers" indigo-formatters="vm.unitFormatters">
            </indigo-input>
        </div>
        <div ng-if="vm.indigoColumn.type == 'select' && !vm.indigoColumn.dictionary">
            <indigo-select
                    indigo-change="vm.indigoColumn.onChange({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id,})"
                    indigo-click="vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                    indigo-model="vm.indigoRow[vm.indigoColumn.id]"
                    indigo-items="vm.indigoColumn.values(vm.indigoRow)" indigo-classes="form-group-sm"></indigo-select>
        </div>
        <div ng-if="vm.indigoColumn.type == 'select' && vm.indigoColumn.dictionary">
            <indigo-select ng-if="!vm.indigoColumn.hasCustomItemProp"
                    indigo-change="vm.indigoColumn.onChange({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id,})"
                    indigo-click="vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                    indigo-model="vm.indigoRow[vm.indigoColumn.id]"
                    indigo-dictionary="{{vm.indigoColumn.dictionary}}"
                    indigo-classes="form-group-sm">
            </indigo-select>
            <indigo-select ng-if="vm.indigoColumn.hasCustomItemProp"
                    indigo-change="vm.indigoColumn.onChange({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id,})"
                    indigo-click="vm.indigoColumn.onClick({model: vm.indigoRow[vm.indigoColumn.id], row: vm.indigoRow, column: vm.indigoColumn.id})"
                    indigo-model="vm.indigoRow[vm.indigoColumn.id]"
                    indigo-item-prop="name,description"
                    indigo-dictionary="{{vm.indigoColumn.dictionary}}"
                    indigo-classes="form-group-sm">
            </indigo-select>
        </div>
        <div ng-if="vm.indigoColumn.type == 'input'" class="cell-has-popup-{{vm.indigoColumn.hasPopup}}">
            <indigo-input indigo-model="vm.indigoRow[vm.indigoColumn.id]" indigo-classes="form-group-sm"
                          indigo-type="text"
                          indigo-click="vm.indigoColumn.onClick(vm.indigoRow[vm.indigoColumn.id])"
                          indigo-change="vm.indigoColumn.onChange(vm.indigoRow[vm.indigoColumn.id])"></indigo-input>
            <ul ng-if="vm.indigoColumn.hasPopup" class="grid-popup shown-{{!!vm.indigoRow.$$popItems.length}}">
                <li ng-repeat="popitem in vm.indigoRow.$$popItems track by $index "
                    ng-click="vm.indigoColumn.popItemClick(vm.indigoRow, popitem.item)" class="popitem">
                    {{popitem.title}}
                </li>
            </ul>
        </div>
    </div>
</div>