<div class="row m-b20">
    <div class="col-xs-4" ng-if="vm.indigoLabel" ng-bind="vm.indigoLabel"></div>
    <div ng-class="{'col-xs-8 text-right': vm.indigoLabel, 'col-xs-12 text-right': !vm.indigoLabel}"
         class="is-hidden">
        <div ng-if="vm.rowsForDisplay.length < vm.indigoRows.length" class="search-info">
            <strong>{{vm.rowsForDisplay.length}}</strong> of {{vm.indigoRows.length}} are shown
        </div>
        <div class="search-field">
            <span class="fa fa-search"></span>
            <input type="search"
                   class="uui-search"
                   placeholder="Search"
                   ng-change="vm.searchDebounce(vm.searchText)"
                   id="searchUser"
                   ng-model="vm.searchText"
                   press-enter="$event.preventDefault()">
        </div>
        <columns-settings ng-if="::!vm.indigoHideColumnSettings"
                          columns="vm.indigoColumns"
                          save-in-local-storage="vm.saveInLocalStorage()"
                          reset-columns="vm.resetColumns()">
        </columns-settings>
    </div>
</div>
<ng-transclude></ng-transclude>
<div class="table-responsive" indigo-scroller="x">
    <table class="table table-striped product">
        <thead>
        <tr>
            <th ng-repeat="column in vm.indigoColumns track by $index" ng-show="column.isVisible"
                ng-switch="::!column.actions.length">
                <div class="btn-group btn-group-sm btn-group-justified product-header-item"
                     ng-switch-when="true">
                    <a class="btn btn-transparent" ng-disabled="vm.isReadonly" ng-bind="::column.name"></a>
                </div>
                <div class="btn-group btn-group-sm btn-group-justified product-header-item"
                     uib-dropdown
                     dropdown-append-to-body
                     ng-switch-when="false">
                    <a class="btn btn-transparent" uib-dropdown-toggle
                       ng-disabled="vm.isReadonly && !column.noDisableable">
                        <span ng-bind="::column.name"></span><span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu class="no-draggable">
                        <li ng-repeat="action in column.actions track by $index" class="no-draggable">
                            <a ng-click="(vm.isReadonly && !column.noDisableable) || action.action(column.id)"
                               class="no-draggable" ng-bind="::action.name"></a>
                        </li>
                    </ul>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in vm.rowsForDisplay | limitTo : vm.pagination.pageSize : vm.limit - vm.pagination.pageSize track by $id(row)"
            ng-class="{'success': vm.selectedBatch === row}">
            <td ng-repeat="column in vm.indigoColumns track by $index"
                class="text-center"
                ng-click="vm.onRowSelect($event, row)"
                ng-show="column.isVisible"
                style="min-width: 150px">
                <cell-typer></cell-typer>
            </td>
        </tr>
        <tr ng-if="!vm.rowsForDisplay.length">
            <td colspan={{vm.indigoColumns.length}} class="text-muted text-center">
                <h3 class="m-50">empty</h3>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-if="vm.pagination.pageSize < vm.rowsForDisplay.length">
    <div class="col-xs-12 text-center">
        <uib-pagination class="pagination-sm"
                        total-items="vm.rowsForDisplay.length"
                        ng-change="vm.onPageChanged()"
                        ng-model="vm.pagination.page"
                        items-per-page="vm.pagination.pageSize"
                        boundary-link-numbers="true"
                        rotate="false">
        </uib-pagination>
    </div>
</div>
