<div ng-switch="vm.isEditing && !vm.isReadonly && vm.isEdit()">
    <div ng-switch-when="false"
         ng-switch="vm.indigoColumn.type">
        <span ng-switch-when="undefined" ng-bind="vm.model"></span>
        <span ng-switch-when="registrationStatus" ng-bind="vm.model" class="batch-status status-{{vm.model}}"></span>
        <span ng-switch-when="date" ng-if="vm.model" ng-bind="vm.model | date: 'MMM DD, YYYY HH:mm:ss z'"></span>
        <span ng-switch-when="html" ng-bind-html="vm.model"></span>
        <span ng-switch-when="primitive" ng-if="!vm.isEmpty(vm.model, vm.indigoColumn)"
              ng-bind="vm.model | round:vm.indigoColumn.sigDigits:vm.indigoColumn:vm.indigoRow">
        </span>
        <div ng-switch-when="image" ng-if="vm.model.image"
             ng-style="{'width': vm.indigoColumn.width}">
            <img class="img-fill"
                 ng-src="data:image/svg+xml;base64,{{vm.model.image}}"
                 alt="Image is unavailable.">
        </div>
        <div ng-switch-when="boolean"
             ng-class="{'entered-value': vm.model.entered}">
            <indigo-checkbox indigo-model="vm.model"
                             indigo-change="vm.indigoColumn.onChange({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                             indigo-click="vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                             indigo-disabled="vm.isReadonly"></indigo-checkbox>
        </div>
        <a ng-switch-when="string" ng-if="!vm.model.readonly"
           ng-class="{disabled: vm.isReadonly}"
           ng-click="vm.isReadonly || vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
           ng-bind="vm.indigoRow[vm.indigoColumn.realId].asString || '&mdash;'">
        </a>

        <div ng-switch-default
             ng-switch="vm.isEmpty(vm.model, vm.indigoColumn)">

            <span ng-switch-when="true" ng-switch="!vm.model.readonly">
                  <a ng-switch-when="true" ng-if="vm.indigoColumn.type && vm.indigoColumn.type !== 'image' &&
                vm.indigoColumn.type !== 'boolean' && vm.indigoColumn.type !== 'string'"
                     ng-click="vm.isReadonly || vm.onStartEdit()">&mdash;</a>
                <a ng-switch-when="false" class="not-editable"></a>
            </span>

            <a ng-switch-when="false"
               ng-if="vm.indigoColumn.type &&
               vm.indigoColumn.type !== 'image' && vm.indigoColumn.type !== 'boolean'"
               ng-click="vm.isReadonly || vm.onStartEdit()"
               ng-switch="vm.indigoColumn.type">
                <span ng-switch-when="input" ng-if="!vm.indigoColumn.hasStructurePopover"
                      ng-class="{'entered-value': vm.model.entered}" ng-bind="vm.model"></span>
                <span ng-switch-when="input" ng-if="vm.indigoColumn.hasStructurePopover"
                      uib-popover-template="'scripts/components/entities/template/components/common/table/image-popover.html'"
                      popover-title="{{vm.model}}"
                      popover-trigger="'mouseenter'"
                      popover-placement="top-right"
                      popover-append-to-body="true"
                      ng-class="{'entered-value': vm.model.entered}"
                      ng-bind="vm.model"></span>
                <span ng-switch-when="select"
                      ng-class="{'entered-value': vm.model.entered}"
                      ng-bind="vm.model.description ?  vm.model.name + ' - ' +  vm.model.description : vm.model.name"></span>
                <span ng-switch-when="unit"
                      ng-class="{'entered-value': vm.model.entered}"
                      ng-bind="(vm.model.value | unit:vm.model.unit | round:vm.indigoColumn.sigDigits:vm.indigoColumn:vm.indigoRow:vm.model.unit) + ' ' + vm.model.unit"></span>
                <span ng-switch-when="scalar"
                      ng-class="{'entered-value': vm.model.entered}"
                      ng-bind="vm.model.value | round:vm.indigoColumn.sigDigits:vm.indigoColumn:vm.indigoRow"></span>
            </a>
        </div>
    </div>
    <div ng-switch-when="true" nested-outside-click="vm.closeThis()">
        <div ng-if="!vm.indigoColumn.type" ng-bind="vm.model"></div>
        <div ng-if="vm.indigoColumn.type === 'boolean'">
            <indigo-checkbox
                    indigo-classes="table-val-boolean"
                    indigo-model="vm.model"
                    indigo-change="vm.indigoColumn.onChange({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                    indigo-click="vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
            ></indigo-checkbox>
        </div>
        <div ng-if="vm.indigoColumn.type === 'unit'">
            <indigo-input indigo-model="vm.model.value" indigo-input-group="append"
                          indigo-input-size="sm"
                          indigo-readonly="vm.indigoColumn.readonly || vm.model.readonly"
                          indigo-click="vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-change="vm.indigoColumn.onChange({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-parsers="vm.unitParsers" indigo-formatters="vm.unitFormatters"
                          indigo-type="number"
                          press-enter="vm.closeThis()">
                <unit-select unit="vm.model.unit"
                             units="vm.indigoColumn.units"
                             on-change="vm.model.unit = unit.name; vm.closeThis()">
                </unit-select>
            </indigo-input>
        </div>
        <div ng-if="vm.indigoColumn.type === 'scalar'">
            <indigo-input indigo-model="vm.model.value"
                          indigo-type="number"
                          indigo-readonly="vm.indigoColumn.readonly || vm.model.readonly"
                          indigo-click="vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-change="vm.indigoColumn.onChange({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                          indigo-parsers="vm.unitParsers" indigo-formatters="vm.unitFormatters"
                          press-enter="vm.closeThis()">
            </indigo-input>
        </div>
        <div ng-if="vm.indigoColumn.type === 'select' && !vm.indigoColumn.dictionary">
            <indigo-select
                    ng-click="$event.stopPropagation();"
                    indigo-change="vm.indigoColumn.onChange({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id,})"
                    indigo-click="vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                    indigo-model="vm.model"
                    indigo-items="vm.indigoColumn.values" indigo-classes="form-group-sm"></indigo-select>
        </div>
        <div ng-if="vm.indigoColumn.type === 'select' && vm.indigoColumn.dictionary">
            <indigo-select ng-if="!vm.indigoColumn.hasCustomItemProp"
                           ng-click="$event.stopPropagation();"
                           indigo-change="vm.indigoColumn.onChange({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id,})"
                           indigo-click="vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                           indigo-model="vm.model"
                           indigo-dictionary="{{vm.indigoColumn.dictionary}}"
                           indigo-classes="form-group-sm">
            </indigo-select>
            <indigo-select ng-if="vm.indigoColumn.hasCustomItemProp"
                           ng-click="$event.stopPropagation();"
                           indigo-change="vm.indigoColumn.onChange({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id,})"
                           indigo-click="vm.indigoColumn.onClick({model: vm.model, row: vm.indigoRow, column: vm.indigoColumn.id})"
                           indigo-model="vm.model"
                           indigo-item-prop="name,description"
                           indigo-dictionary="{{vm.indigoColumn.dictionary}}"
                           indigo-classes="form-group-sm">
            </indigo-select>
        </div>
        <div ng-if="vm.indigoColumn.type === 'input'" class="cell-has-popup-{{vm.indigoColumn.hasPopup}}">
            <indigo-input indigo-model="vm.model" indigo-classes="form-group-sm"
                          indigo-type="text"
                          indigo-click="vm.indigoColumn.onClick(vm.model)"
                          indigo-change="vm.indigoColumn.onChange(vm.model)"
                          press-enter="vm.closeThis()">
            </indigo-input>
            <ul ng-if="vm.indigoColumn.hasPopup" class="grid-popup shown-{{!!vm.indigoRow.$$popItems.length}}">
                <li ng-repeat="popitem in vm.indigoRow.$$popItems track by $index "
                    ng-click="vm.indigoColumn.popItemClick(vm.indigoRow, popitem.item)" class="popitem">
                    {{popitem.title}}
                </li>
            </ul>
        </div>
    </div>
</div>