<div class="tab-content-pad user-management">
    <div class="row m-b20">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="vm.create()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="m-l5">Create new user</span>
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <div class="search-field m-t5">
                <i class="fa fa-search" ng-click="vm.search()"></i>
                <input type="search" class="uui-search" placeholder="Search" id="searchUser" ng-change="vm.search()"
                       ng-model="vm.searchText">
            </div>
        </div>
    </div>
    <div ng-if="vm.user" class="panel panel-info edit-form animated">
        <div class="panel-heading">Create/Edit User</div>
        <div class="panel-body ">
            <form id="editForm" name="editForm" role="form" novalidate autocomplete="off">

                <div class="row">
                    <div class="col-xs-6">
                        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                        <input type="password" name="password" id="password_fake" class="hidden" autocomplete="off">
                        <input class="hidden" type="password" name="fakepasswordremembered"/>
                        <indigo-input
                                indigo-label="Login"
                                indigo-name="login"
                                indigo-type="text"
                                indigo-model="vm.user.login"
                                indigo-validation-required="vm.user.id == null"
                                indigo-validation-maxlength="50"
                                indigo-validation-pattern="/^[a-z0-9]*$/"
                                indigo-validation-pattern-text="Login should not contain symbols in upper case."
                        ></indigo-input>
                        <indigo-input
                                indigo-label="First Name"
                                indigo-name="firstName"
                                indigo-type="text"
                                indigo-model="vm.user.firstName"
                                indigo-validation-required="vm.user.firstName == null"
                                indigo-validation-maxlength="50"
                        ></indigo-input>
                        <indigo-input
                                indigo-label="Last Name"
                                indigo-name="lastName"
                                indigo-type="text"
                                indigo-model="vm.user.lastName"
                                indigo-validation-required="vm.user.lastName == null"
                                indigo-validation-maxlength="50"
                        ></indigo-input>
                        <indigo-select
                                indigo-label="System Roles"
                                indigo-name="role"
                                indigo-model="vm.user.roles"
                                indigo-items="vm.roles"
                                indigo-multiple="true"
                        ></indigo-select>
                        <p class="help-block" ng-if="!vm.user.roles.length"> This field is required. </p>
                    </div>
                    <div class="col-xs-6">
                        <indigo-input
                                indigo-label="Email"
                                indigo-name="email"
                                indigo-type="text"
                                indigo-model="vm.user.email"
                                indigo-validation-required="user.email == null"
                                indigo-validation-maxlength="100"
                        ></indigo-input>
                        <indigo-input ng-if="!vm.user.id"
                                      indigo-label="Password"
                                      indigo-name="password"
                                      indigo-type="password"
                                      indigo-model="vm.user.password"
                                      indigo-validation-required="vm.user.id == null"
                                      indigo-validation-maxlength="50"
                        ></indigo-input>
                        <indigo-select indigo-label="Groups"
                                       indigo-items="[{name:'Group 1'}, {name:'Group 2'}]" indigo-model="vm.user.group"
                        ></indigo-select>

                        <button class="btn btn-info"
                                ng-if="vm.user.id"
                                ng-click="vm.changePassword()">Change Password
                        </button>
                        <normal class="user-management__password-success" ng-if="vm.user.password && vm.user.id">
                            <span class="glyphicon glyphicon-alert">&nbsp;</span>Password successfully changed!
                        </normal>
                        <indigo-checkbox
                                indigo-label="Activated"
                                indigo-model="vm.user.activated"
                        ></indigo-checkbox>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
            </button>
            <button ng-click="vm.save()" form="editForm" ng-disabled="editForm.$invalid || vm.isSaving || !vm.user.roles.length"
                    class="btn btn-primary m-l5">
                <i class="fa fa-save"></i><span class="m-l5">Save</span>
            </button>
        </div>
    </div>
    <div class="table-responsive" indigo-scroller="x">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>System Roles</th>
                <th>Email</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td ng-bind="user.login"></td>
                <td ng-bind="user.firstName"></td>
                <td ng-bind="user.lastName"></td>
                <td>
                    <div ng-bind="user.roles | joinBy: ', ': 'name'"></div>
                </td>
                <td ng-bind="user.email"></td>
                <td>
                    <span role="button" class="uui-label uui-label-red" ng-click="vm.setActive(user, true)"
                          ng-show="!user.system && !user.activated">Deactivated</span>
                    <span role="button" class="uui-label uui-label-green" ng-click="vm.setActive(user, false)"
                          ng-show="!user.system && user.activated">Activated</span>
                    <span class="uui-label uui-label-green" ng-show="user.system">Activated</span>
                </td>
                <td>
                    <button type="submit"
                            ng-click="vm.edit(user)"
                            ng-show="!user.system"
                            class="btn btn-info btn-small">
                        <i class="fa fa-pencil"></i>
                        <span class="m-l5">Edit</span>
                    </button>
                    <!--Deactivate for all now (Task EPMLSOPELN-629)-->
                    <!--<button type="submit"-->
                            <!--ui-sref="entities.user-management.delete({login:user.login})"-->
                            <!--ng-show="!user.system"-->
                            <!--class="btn btn-info btn-small">-->
                        <!--<i class="fa fa-trash"></i>-->
                        <!--<span class="m-l5">delete</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page"
                        ng-change="vm.loadAll()"></uib-pagination>
    </div>
</div>

