<form id="editPassword" name="editPassword" role="form" novalidate class="form-horizontal" ng-submit="vm.ok()"
      autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.cancel()">&times;</button>
        <h5 class="modal-title">Change password</h5>
    </div>
    <div class="modal-body">

        <input type="password" name="password" id="password_fake" class="hidden" autocomplete="off">
        <input class="hidden" type="password" name="fakepasswordremembered"/>

        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <indigo-input indigo-label="New Password" indigo-label-vertical="true"
                                  indigo-name="password" indigo-type="password" indigo-model="vm.password"
                                  indigo-validation-required="vm.password == null" indigo-validation-maxlength="50"
                                  class="user-management-password__new-password">
                    </indigo-input>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">
            <span class="fa fa-ban"></span><span class="m-l5">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editPassword.$invalid" class="btn btn-info">
            Ok
        </button>
    </div>

</form>