<div class="user-management panel-main-wrapper p-t14">
    <div class="row m-b20">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="create()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="m-l5">Create new user</span>
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <div class="search-field m-t5">
                <i class="fa fa-search" ng-click="search()"></i>
                <input type="search" class="uui-search" placeholder="Search" id="searchUser" ng-model="searchText">
            </div>
        </div>
    </div>
    <div ng-if="user" class="panel panel-info edit-form animated">
        <div class="panel-heading">Create/Edit User</div>
        <div class="panel-body ">
            <form id="editForm" name="editForm" role="form" novalidate autocomplete="off">

                <div class="row">
                    <div class="col-xs-6">
                        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                        <input type="password" name="password" id="password_fake" class="hidden" autocomplete="off">
                        <input style="display:none" type="password" name="fakepasswordremembered"/>
                        <my-input
                                my-label="Login"
                                my-name="login"
                                my-type="text"
                                my-model="user.login"
                                my-validation-required="user.id == null"
                                my-validation-maxlength="50"
                                my-validation-pattern="/^[a-z0-9]*$/"
                                my-validation-pattern-text="Login should not contain symbols in upper case."
                                ></my-input>
                        <my-input
                                my-label="First Name"
                                my-name="firstName"
                                my-type="text"
                                my-model="user.firstName"
                                my-validation-required="user.firstName == null"
                                my-validation-maxlength="50"
                                ></my-input>
                        <my-input
                                my-label="Last Name"
                                my-name="lastName"
                                my-type="text"
                                my-model="user.lastName"
                                my-validation-required="user.lastName == null"
                                my-validation-maxlength="50"
                        ></my-input>
                        <my-select
                                my-label="System Roles"
                                my-name="role"
                                my-model="user.roles"
                                my-items="roles"
                                my-multiple="true"
                        ></my-select>
                        <p class="help-block" ng-if="!user.roles.length"> This field is required. </p>
                    </div>
                    <div class="col-xs-6">
                        <my-input
                                my-label="Email"
                                my-name="email"
                                my-type="text"
                                my-model="user.email"
                                my-validation-required="user.email == null"
                                my-validation-maxlength="100"
                        ></my-input>
                        <my-input ng-if="!user.id"
                                my-label="Password"
                                my-name="password"
                                my-type="password"
                                my-model="user.password"
                                my-validation-required="user.id == null"
                                my-validation-maxlength="50"
                                ></my-input>
                        <my-select my-label="Groups"
                                   my-items="[{name:'Group 1'}, {name:'Group 2'}]" my-model="user.group"
                        ></my-select>
                        &nbsp;
                        <button class="btn btn-info col-xs-offset-2"
                                ng-if="user.id"
                                ng-click="changePassword()">Change Password
                        </button>&nbsp;&nbsp;
                        <normal style="color:green;" ng-if="user.password && user.id">
                            <span class="glyphicon glyphicon-alert">&nbsp;</span>Password successfully changed!
                        </normal>
                        <my-checkbox
                                my-label="Activated"
                                my-model="user.activated"
                                my-name="activated"
                                my-multiple="true"
                        ></my-checkbox>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">Cancel</button>
            <button ng-click="save()" form="editForm" ng-disabled="editForm.$invalid || isSaving || !user.roles.length" class="btn btn-primary m-l5">Save</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>System Roles</th>
            <th>Email</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users track by user.id">
            <td>{{user.login}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <span ng-repeat="role in user.roles track by role.id">
                    {{role.name}}<span ng-if="!$last">, </span>
                </span>
            </td>
            <td>{{user.email}}</td>
            <td>
                    <span class="label label-danger" ng-click="setActive(user, true)"
                          ng-show="!user.system && !user.activated"
                          style="cursor: pointer;">Deactivated</span>
                    <span class="label label-success" ng-click="setActive(user, false)"
                          ng-show="!user.system && user.activated"
                          style="cursor: pointer;">Activated</span>
                <span class="label label-success" ng-show="user.system">Activated</span>
            </td>
            <td class="text-right">
                <button type="submit"
                        ng-click="edit(user)"
                        ng-show="!user.system"
                        class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="submit"
                        ui-sref="entities.user-management.delete({login:user.login})"
                        ng-show="!user.system"
                        class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>

