<div class="modal-header">
    <h5 class="modal-title">Purity % Information</h5>
</div>
<div class="modal-body">
    <div class="m-b20">
        <indigo-two-toggle indigo-label="Purity % Information"
                           indigo-first="Purity Available"
                           indigo-second="{{unknownPurity}}"
                           indigo-model="vm.purity.property"
        ></indigo-two-toggle>
    </div>
    <div class="long-content-popup">
        <table class="table" id="search-result-table">
            <thead class="search-table-head">
                <tr>
                    <th style="width:20%">Purity Determined By</th>
                    <th style="width:15%">Operator</th>
                    <th style="width:15%">Purity%</th>
                    <th>Purity Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dictionary.words track by item.name" ng-init="vm.purity.data[$index].determinedBy = item.name">
                    <td>{{vm.purity.data[$index].determinedBy}}</td>
                    <td><indigo-select indigo-items="vm.operatorSelect"
                                       indigo-readonly="vm.isInknownPurity()"
                                       indigo-model="vm.purity.data[$index].operator"></indigo-select></td>
                    <td>
                        <indigo-input indigo-model="vm.purity.data[$index].value" indigo-readonly="vm.isInknownPurity()"
                                      indigo-type="number"></indigo-input>
                    </td>
                    <td>
                        <indigo-input indigo-model="vm.purity.data[$index].comments"
                                      indigo-readonly="vm.isInknownPurity()"></indigo-input>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">
        <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-click="vm.save()">
        <i class="fa fa-save"></i><span class="m-l5">Save</span>
    </button>
</div>
