<div class="modal-header">
    <h5 class="modal-title">External Supplier Information</h5>
</div>
<div class="modal-body">
    <my-select my-items="externalSupplierCodeAndNameSelect"
               my-label="External Supplier Code & Name"
               my-label-columns-num="5"
               my-model="externalSupplier.codeAndName"></my-select>
    <my-input my-model="externalSupplier.catalogRegistryNumber"
              my-label="Supplier Catalog/Registry#"
              my-label-columns-num="5"></my-input>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-click="save()">
        <i class="fa fa-save"></i><span class="m-l5">Save</span>
    </button>
</div>
