<div my-tab-scroller class="experiment-tabs">
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{'active' : tab.name === activeTab.name}"
            ng-repeat="tab in tabs" class="experiment-tab">
            <a class="experiment-tab-name" ng-click="$event.stopPropagation(); onTabClick(tab.name)">
                {{tab.name}}
                <!--{{getKind(entity.fullId)}} {{entity.title}} <i-->
                <em class="glyphicon glyphicon-remove text-muted pull-right experiment-tab-close"
                    ng-click="$event.stopPropagation(); onCloseTabClick(tab.name);"
                    style="cursor: pointer"
                    ng-if="tabs.length>1"></em>
            </a>
        </li>
    </ul>
</div>
<div class="tab-content animated">
    <div class="tab-pane active">
        <div ui-view="tabContent"></div>
    </div>
</div>
