<div ng-switch="componentId">
    <indigo-concept-details ng-switch-when="concept-details"></indigo-concept-details>

    <indigo-reaction-details ng-switch-when="reaction-details"></indigo-reaction-details>

    <indigo-product-batch-details ng-switch-when="product-batch-details"></indigo-product-batch-details>

    <indigo-product-batch-summary ng-switch-when="product-batch-summary"></indigo-product-batch-summary>

    <indigo-preferred-compounds-summary ng-switch-when="preferred-compounds-summary"
                                        on-row-selected="vm.compoundSummarySelectedRow(row)">
    </indigo-preferred-compounds-summary>

    <indigo-preferred-compound-details ng-switch-when="preferred-compound-details"
                                       on-row-selected="vm.compoundSummarySelectedRow(row)">
    </indigo-preferred-compound-details>

    <indigo-reaction-scheme ng-switch-when="reaction-scheme"></indigo-reaction-scheme>

    <indigo-batch-structure ng-switch-when="batch-structure"></indigo-batch-structure>

    <indigo-stoich-table ng-switch-when="stoich-table"></indigo-stoich-table>

    <indigo-experiment-description ng-switch-when="experiment-description"></indigo-experiment-description>

    <indigo-attachments ng-switch-when="attachments"></indigo-attachments>

    <div ng-switch-when="concept-details">
        <indigo-concept-details/>
    </div>
    <div ng-switch-when="reaction-details">
        <indigo-reaction-details/>
    </div>
    <div ng-switch-when="product-batch-details">
        <indigo-product-batch-details/>
    </div>
    <div ng-switch-when="product-batch-summary">
        <indigo-product-batch-summary/>
    </div>
    <!--<div ng-switch-when="preferred-compounds-summary"><indigo-preferred-compounds-summary-->
    <!--on-row-selected="vm.compoundSummarySelectedRow(row)"/></div>-->
    <!--<div ng-switch-when="preferred-compound-details"><indigo-preferred-compound-details-->
    <!--on-row-selected="vm.compoundSummarySelectedRow(row)"/></div>-->
    <div ng-switch-when="reaction-scheme">
        <indigo-reaction-scheme/>
    </div>
    <div ng-switch-when="batch-structure">
        <indigo-batch-structure/>
    </div>
    <div ng-switch-when="stoich-table">
        <indigo-stoich-table/>
    </div>
    <div ng-switch-when="experiment-description">
        <indigo-experiment-description/>
    </div>
    <div ng-switch-when="attachments">
        <indigo-attachments/>
    </div>
</div>