<div ng-switch="myComponent">
    <div ng-switch-when="concept-details"><indigo-concept-details /></div>
    <div ng-switch-when="reaction-details"><indigo-reaction-details /></div>
    <div ng-switch-when="product-batch-details"><indigo-product-batch-details /></div>
    <div ng-switch-when="product-batch-summary"><indigo-product-batch-summary /></div>
    <div ng-switch-when="preferred-compounds-summary"><indigo-preferred-compounds-summary /></div>
    <div ng-switch-when="preferred-compound-details"><indigo-preferred-compound-details /></div>
    <div ng-switch-when="reaction-scheme"><indigo-reaction-scheme /></div>
    <div ng-switch-when="batch-structure"><indigo-batch-structure /></div>
    <div ng-switch-when="stoich-table"><indigo-stoich-table /></div>
    <div ng-switch-when="experiment-description"><indigo-experiment-description /></div>
    <div ng-switch-when="attachments"><indigo-attachments /></div>
</div>