<div class="flex flex-col h-screen">
  <header
    class="flex-shrink-0 p-4 flex items-center justify-between bg-primary-600 shadow-md max-h-18"
  >
    <div>
      <img src="assets/logo.png" alt="Logo" class="h-8" />
    </div>
    <div
      class="flex my-4 items-center gap-2 bg-primary-500 px-4 rounded-full max-w-xl w-full"
    >
      <em class="indicon-search text-xl text-neutral"></em>
      <input
        class="bg-transparent border-none h-10 outline-none text-neutral flex-1 placeholder:text-neutral-400 w-full"
        type="text"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </div>
    <div class="flex items-center gap-2">
      <button mat-icon-button>
        <em class="indicon-bell text-neutral relative -top-1"></em>
      </button>
      <div
        class="flex items-center gap-2 hover:bg-neutral p-2 rounded-sm cursor-pointer text-neutral hover:text-neutral-100"
        [matMenuTriggerFor]="userMenu"
      >
        <img
          [src]="userAvatar"
          alt="User avatar"
          class="h-8 w-8 rounded-full"
        />
        <span>{{ userName }}</span>
      </div>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </header>

  <div class="flex flex-1 gap-4 p-4 overflow-hidden min-h-0">
    <app-sidebar></app-sidebar>

    <main class="flex-1 overflow-y-auto p-1">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
