.logo-container {
  padding: 16px;
  text-align: left;
  margin-left: 16px;

  .logo {
    height: 32px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  flex-shrink: 0;
  height: 64px;
}

.content {
  display: flex;
  gap: 16px;
  padding: 16px;
  flex: 1;
  overflow: hidden; /* Prevents double scrollbars */
  min-height: 0; /* Important for nested flex containers */
}

.page-content {
  flex: 1;
  overflow-y: auto;
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
}
