<div class="top-bar p-5 flex items-center justify-between bg-primary-600">
  <div class="top-bar-left">
    <img src="assets/logo.png" alt="Logo" />
  </div>
  <div
    class="h-[44px] flex items-center gap-2 bg-primary-500 px-4 py-2 rounded-full max-w-lg w-full"
  >
    <input
      class="bg-transparent border-none outline-none text-neutral flex-1 placeholder:text-neutral"
      type="text"
      placeholder="Search"
      [formControl]="searchControl"
    />
    <button mat-icon-button class="text-neutral-600">
      <mat-icon class="text-neutral!">search</mat-icon>
    </button>
  </div>
  <div class="flex items-center gap-2">
    <button mat-icon-button>
      <em class="indicon-bell text-neutral"></em>
    </button>
    <div
      class="flex items-center gap-2 hover:bg-neutral p-2 rounded-sm cursor-pointer text-neutral hover:text-neutral-1000"
      [matMenuTriggerFor]="userMenu"
    >
      <img [src]="userAvatar" alt="User avatar" class="avatar" />
      <span class="user-name">{{ userName }}</span>
    </div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</div>
<div class="content">
  <app-sidebar></app-sidebar>

  <main class="page-content">
    <router-outlet></router-outlet>
  </main>
</div>
