<li ng-class="{'active': node.fullId === vm.selectedFullId}"
    class="simple-node">
    <span class="name-wrapper">
        <a class="type-of-experiment"
           id="{{::vm.elementId + '_' + node.fullId}}"
           ui-sref="{{::vm.getSref(node)}}"
           ng-click="vm.toggle(node);$event.stopPropagation();"
           ng-switch="node.params.length">
            <span ng-bind="node.name"
                  ng-switch-when="3"
                  ng-mouseenter="vm.getPopoverExperiment(node);"
                  ng-mouseleave="vm.hidePopover()"
                  uib-popover-template="'experiment-detail-popover.html'"
                  popover-class="sidebar-popover-basis"
                  popover-placement="right"
                  popover-is-open="vm.popoverExperiment === node && node.params.length === 3"
                  popover-append-to-body="true">
            </span>
            <span ng-switch-default ng-bind="node.name"></span>
            <span class="experiment-status icon "
                  ng-if="node.status"
                  ng-class="{'icon-done': node.status === 'Completed',
                              'icon-text_document': node.status === 'Signing',
                              'icon-edit': node.status === 'Signed',
                              'icon-paper_plane': node.status === 'Submitted',
                              'icon-archive': node.status === 'Archived',
                              'icon-stop': node.status === 'Submit_Fail',
                              'icon-file': node.status === 'Open'}">
            </span>
        </a>
    </span>

    <ng-transclude></ng-transclude>
</li>
