<div class="modal-header">
    <h5 class="modal-title">Select Entities To Save:</h5>
</div>
<div class="modal-body">
    <div class="long-content-popup">
        <div class="select-from-dictionary" ng-repeat="entity in vm.entities track by entity.tabKey">
            <indigo-checkbox
                    indigo-model="entity.$$saveEntity"
                    indigo-label="{{entity.name | capitalize}} {{entity.$$title}}"
            ></indigo-checkbox>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">
        <em class="fa fa-ban"></em>
        <span class="m-l5">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-click="vm.save()" ng-disabled="!vm.isSelected()">
        <em class="fa fa-save"></em>
        <span class="m-l5">Save</span>
    </button>
    <button class="btn btn-info" type="button" ng-click="vm.discardAll()">Discard All</button>
</div>
