<div class="tab-content-pad templates m-b20">
    <form class="m-b10" name="createTemplateForm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-6">
                <indigo-input indigo-label="Name" indigo-model="vm.template.name" indigo-validation-required="!vm.template.name.trim()"></indigo-input>
            </div>
        </div>
    </form>
</div>
<div class="inner-tabs">
    <div class="admin-tab-content" id="entities-content-id">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">Components</div>
                <div class="panel-body panel-body-h">
                    <div class="search-field search-full">
                        <i class="fa fa-search" ng-click="search()"></i>
                        <input type="search" class="uui-search" placeholder="Search by name or description" id="searchRole" ng-model="search.$">
                    </div>
                    <div class="panel-body-content-nopad">
                        <div class="list-group templates-holder palette animated" scroller dragula='"components"' dragula-model='vm.components' indigo-indeln-scroll>
                            <a class="list-group-item draggable-component" ng-repeat="component in vm.components | filter:search track by $index" data-id="{{component.id}}">
                                <h5 class="draggable-component" ng-bind="component.name"></h5>
                                <p class="draggable-component" ng-bind="component.desc"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <button class="btn btn-default btn-small pull-right" ng-click="vm.addTab()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="m-l5">Create new tab</span>
                    </button>
                    Template Builder
                </div>
                <div class="panel-body panel-body-nopad panel-body-h templates-and-tabs" scroller dragula='"tabs"' dragula-model='vm.template.templateContent'>
                    <div class="text-center no-draggable m-t35 m-b35"
                         ng-if="!vm.template.templateContent.length">
                        <h3 class="no-draggable text-muted">Please add tabs</h3>
                    </div>
                    <div class="list-group list-group-drug tab" ng-repeat="tab in vm.template.templateContent" >
                        <span class="list-group-item"  indigo-focus-on-create>
                            <i class="fa fa-trash pull-right" ng-click="vm.removeTab(tab)"></i>
                            <span editable-text="tab.name" e-form="tabName" ng-click="tabName.$show()" class="semi-b" ng-bind="tab.name">
                                <i class="fa fa-pencil m-l5"></i>
                            </span>
                            <!--<em class="fa fa-remove pull-right text-muted clickable" title="Remove" ng-click="removeTab(tab)"></em>-->
                        </span>
                        <div class="list-group" dragula='"components"' dragula-model='tab.components'>
                            <div class="no-draggable " ng-if="!tab.components.length">
                                <div class="no-draggable">
                                    <h3 class="no-draggable text-muted drag-mess">
                                        You can <b>drag & drop</b>
                                        components here.</h3>
                                </div>
                            </div>
                            <a class="list-group-item draggable-component component"
                               ng-repeat="component in tab.components">
                                <h5 class="draggable-component" ng-bind="component.name">
                                    <em class="fa fa-remove pull-right text-muted" title="Remove" ng-click="vm.removeComponent(tab, component)"></em>
                                </h5>
                                <p class="draggable-component" ng-bind="component.desc"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="panel panel-info panel-info-collapse">
            <div class="panel-heading clickable" ng-init="vm.showPreview = false" ng-click="vm.showPreview = !vm.showPreview">
                <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !vm.isCollapsed, 'glyphicon-chevron-up': vm.isCollapsed}"
                    ng-click="vm.isCollapsed = !vm.isCollapsed"></em>
                Show Preview
            </div>
            <div class="preview-components panel-body panel-body-nopad" ng-if="vm.showPreview && vm.template.templateContent.length">
                <indigo-components template="vm.template.templateContent"
                                   readonly="true"
                                   model="{}"
                ></indigo-components>
            </div>
        </div>
    </div>
</div>

<div class="btn-bottom-block tab-content-pad">
    <button ng-click="vm.save()" type="submit" class="btn btn-primary" ng-disabled="createTemplateForm.$invalid">
        <i class="fa fa-save"></i><span class="m-l5">Save</span>
    </button>
    <button type="button" class="btn btn-default" ng-click="vm.close()">
        <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
    </button>
</div>



