<div class="dictionary panel-main-wrapper p-t14">
    <div class="row m-b20">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="createDictionary()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="m-l5">Create new Dictionary</span>
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <div class="search-field m-t5">
                <i class="fa fa-search"></i>
                <input type="search" class="uui-search" placeholder="Search" id="searchDictionary" ng-change="searchDictionary()"  ng-model="searchText">
            </div>
        </div>
    </div>
    <div ng-if="dictionary" class="panel panel-info edit-form animated" style="margin-top: 20px">
        <div class="panel-heading">
            Create/Edit Dictionary
        </div>
        <div class="panel-body ">
            <form id="editForm" name="editForm" role="form" novalidate ng-submit="saveDictionary()"
                  class="form-horizontal" autocomplete="off">
                <div class="row">
                    <div class="col-xs-6">
                        <my-input
                                my-label="Name"
                                my-name="name"
                                my-type="text"
                                my-model="dictionary.name"
                                my-validation-required="true"
                                my-validation-maxlength="200"
                                my-label-vertical="true">
                        </my-input>
                    </div>
                    <div class="col-xs-6">
                        <my-text-area
                                my-label="Description"
                                my-model="dictionary.description"
                                my-label-vertical="true">
                        </my-text-area>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearDictionary()">Cancel</button>
            <button type="submit" form="editForm" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary m-l5">Save</button>
        </div>
    </div>

    <!--<form class="form-inline text-right">-->
        <!--<my-input id="searchDictionary" my-label="Search Dictionary" my-model="searchText" my-input-group="append">-->
            <!--<button class="btn btn-info" type="submit" ng-click="searchDictionary()">-->
                <!--<span class="glyphicon glyphicon-search"></span>-->
                <!--Search-->
            <!--</button>-->
        <!--</my-input>-->
    <!--</form>-->

    <div class="table-responsive" style="min-height: 273px" my-scroller="x">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Creation Date</th>
                <th>Last Edit Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dictionary in dictionaries track by $index" title="{{dictionary.description}}"
                ng-click="setSelected(dictionary.id)"
                ng-class="{'success': dictionary.id === selectedDictionaryId}">
                <td class="dictionary-col-width dictionary-col-elipsis">{{dictionary.name}}</td>
                <td class="dictionary-col-width dictionary-col-elipsis">{{dictionary.description}}</td>
                <td>{{dictionary.author.login}}</td>
                <td>{{dictionary.creationDate | date:'MMM DD, YYYY HH:mm:ss z'}}</td>
                <td>{{dictionary.lastEditDate | date:'MMM DD, YYYY HH:mm:ss z'}}</td>
                <td>
                    <button type="submit"
                            ng-click="editDictionary(dictionary)"
                            class="btn btn-info btn-small">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="entities.dictionary-management.delete({id:dictionary.id})"
                            class="btn btn-info btn-small m-l5">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;<span> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" items-per-page="itemsPerPage" ng-model="page"
                        ng-change="loadAllDictionaries()">
        </uib-pagination>
    </div>


    <div class="panel panel-info panel-info-collapse words">
        <div class="panel-heading">
            <em class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-up': isCollapsed}"
                ng-click="isCollapsed = !isCollapsed"></em>
            Words
        </div>

        <div class="panel-body" uib-collapse="isCollapsed">
            <div class="m-b20">
                <button class="btn btn-primary" ng-click="addWord()" ng-disabled="selectedDictionaryId == null">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="m-l5">Add new Word</span>
                </button>
            </div>

            <div ng-if="word" class="panel panel-info edit-form animated">
                <div class="panel-heading">
                    Create/Edit Word for dictionary {{selectedDictionary.name}}
                </div>
                <div class="panel-body ">
                    <form id="editWordForm" name="editWordForm" role="form" novalidate ng-submit="saveWord()" autocomplete="off">
                        <div class="row m-b10">
                            <div class="col-xs-6">
                                <my-input
                                        my-label="Name"
                                        my-name="name"
                                        my-type="text"
                                        my-model="word.name"
                                        my-validation-required="true"
                                        my-validation-maxlength="200"
                                        my-label-vertical="true">
                                </my-input>
                            </div>
                            <div class="col-xs-6">
                                <my-text-area
                                        my-label="Description"
                                        my-model="word.description"
                                        my-label-vertical="true">
                                </my-text-area>
                            </div>
                        </div>
                        <my-checkbox
                                my-label="Active"
                                my-model="word.enable">
                        </my-checkbox>
                    </form>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearWord()">Cancel</button>
                    <button type="submit" form="editWordForm" ng-disabled="editWordForm.$invalid || isWordSaving" class="btn btn-primary m-l5">Save</button>
                </div>
            </div>
            <div class="table-responsive" my-scroller="x">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Rank</th>
                        <th>Creation Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody dragula='"dragableWords"' dragula-model="selectedDictionary.words">
                    <tr ng-repeat="word in selectedDictionary.words track by $index" style="cursor: move;"
                        title="{{word.description}}">
                        <td class="dictionary-col-width dictionary-col-elipsis">{{word.name}}</td>
                        <td class="dictionary-col-width dictionary-col-elipsis">{{word.description}}</td>
                        <td>
                            <em ng-class="{'glyphicon glyphicon-ok': word.enable, 'glyphicon glyphicon-remove': !word.enable}"></em>
                        </td>
                        <td>{{word.rank}}</td>
                        <td>{{word.creationDate | date:'MMM DD, YYYY HH:mm:ss z'}}</td>
                        <td>
                            <button type="submit"
                                    ng-click="editWord(word)"
                                    class="btn btn-info btn-small">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                            </button>
                            <button type="submit"
                                    ng-click="deleteWord(word)"
                                    class="btn btn-info btn-small m-l5">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;<span> Delete</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

