<eln-card classList="py-2 px-3 rounded-md">
  <div class="grid grid-cols-[1fr_1fr_100px_auto_20px] gap-6 text-sm">
    <div class="col-span-1 flex gap-1 items-center">
      <em [class]="computedIcon" class="text-primary-400"></em>
      <span>{{ attachment().name }}</span>
    </div>
    <span>by {{ attachment().createdBy?.displayName }}</span>
    <span>{{ attachment().size | bytesConverting }}</span>
    <span class="flex justify-end items-center">{{ attachment().createdAt | date: 'dd MMM yyyy' }}</span>
    <div class="flex ml-auto items-center">
      <!-- TODO: Add related options -->
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="flex items-center"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="downloadAttachment()">
          <mat-icon>download</mat-icon>
          <span>Download</span>
        </button>
        <button mat-menu-item [disabled]="!canDelete()" (click)="canDelete() && deleteAttachment()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</eln-card>
