<div class="modal-header">
    <h5 class="modal-title">Purity % Information</h5>
</div>
<div class="modal-body">
    <div class="row m-b20">
        <my-two-toggle my-label="Purity % Information"
                       my-first="Purity Available"
                       my-second="{{unknownPurity}}"
                       my-model="purity.property"
        ></my-two-toggle>
    </div>
    <div class="long-content-popup">
        <table class="table" id="search-result-table">
            <thead class="search-table-head">
                <tr>
                    <th style="width:20%">Purity Determined By</th>
                    <th style="width:15%">Operator</th>
                    <th style="width:15%">Purity%</th>
                    <th>Purity Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dictionary.words track by item.name" ng-init="purity.data[$index].determinedBy = item.name">
                    <td>{{purity.data[$index].determinedBy}}</td>
                    <td><my-select my-items="operatorSelect"
                                   my-readonly="isInknownPurity()"
                                   my-model="purity.data[$index].operator"></my-select></td>
                    <td>
                        <my-input my-model="purity.data[$index].value" my-readonly="isInknownPurity()"
                                  my-type="number"></my-input>
                    </td>
                    <td>
                        <my-input my-model="purity.data[$index].comments"
                                  my-readonly="isInknownPurity()"></my-input>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="fa fa-ban"></i><span class="m-l5">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-click="save()">
        <i class="fa fa-save"></i><span class="m-l5">Save</span>
    </button>
</div>
