<nav class="navbar">
    <div class="uui-toggle-box">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <a class="logo" href="#"></a>
    <div class="uui-header-tools">
        <form class="navbar-form">
            <div class="form-group search-field"  ng-class="{'active': focused}">
                <input type="text" class="form-control form-control-search" ng-focus="focused = true" ng-blur="focused = false" placeholder="Search">
            </div>
        </form>
        <div class="profile dropdown">
            <a class="profile-photo dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="https://static.cdn.epam.com/avatar/1eda3986b9f9f37556c2553a1cb96c1a.jpg" alt="" class="full-img">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
