
<a href="" class="logo-wrapper">
</a>
<ul class="head-controls-list">
    <li class="head-controls-list__item head-controls-list__item" toggle-class-child="open-menu">
        <em class="icon-header-control-list fa fa-arrow-circle-o-up"></em>
        <span class="tooltip-icon-header">Create Project</span>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ng-click="newProject($event)" href="#">Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item" toggle-class-child="open-menu">
        <em class="icon-header-control-list fa fa-cog"></em>
        <span class="tooltip-icon-header">Create Project</span>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project">New Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <em class="icon-header-control-list fa fa-th-large"></em>
        <span class="tooltip-icon-header">Create Project</span>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project">New Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <em class="icon-header-control-list fa fa-question-circle"></em>
        <span class="tooltip-icon-header">Create Project</span>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project.new">New Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item" ui-sref="experiment">
        <em class="icon-header-control-list fa fa-home"></em>
        <span class="tooltip-icon-header">Home</span>
    </li>
    <li class="head-controls-list__item" uib-dropdown on-toggle="toggled(open)" id="new-entity-dropdown" uib-dropdown-toggle>
        <em class="icon-header-control-list fa fa-file-o"></em>
        <ul class="head-controls-list-submenu" uib-dropdown-menu aria-labelledby="new-entity-dropdown" has-any-authority="{{ENTITY_CREATORS}}" >
            <li class="head-controls-list-submenu__item" has-any-authority="{{PROJECT_CREATORS}}"><a
                    ui-sref="project.new">New Project</a></li>
            <li class="head-controls-list-submenu__item" has-any-authority="{{NOTEBOOK_CREATORS}}"><a
                    ui-sref="notebook.select-project">New Notebook</a></li>
            <li class="head-controls-list-submenu__item" has-any-authority="{{EXPERIMENT_CREATORS}}"><a
                    ui-sref="experiment.select-notebook">New Experiment</a></li>
        </ul>
    </li>
    <li class="head-controls-list__item">
        <em class="icon-header-control-list fa fa-files-o"></em>
    </li>
    <li class="head-controls-list__item">
        <em class="icon-header-control-list fa fa-inbox"></em>
    </li>
    <li class="head-controls-list__item">
        <em class="icon-header-control-list fa fa-folder-open"></em>
    </li>
    <li class="head-controls-list__item">
        <em class="icon-header-control-list fa fa-floppy-o"></em>
    </li>
    <li class="head-controls-list__item">
        <em class="icon-header-control-list fa fa-print"></em>
        <span class="tooltip-icon-header">Print</span>
    </li>
    <li class="head-controls-list__item">
        <em class="icon-header-control-list fa fa-search"></em>
        <span class="tooltip-icon-header">Search</span>
    </li>
</ul>
<ul class="head-controls-list head-controls-list_right">
    <li class="head-controls-list__item">
        <em class="icon-header-control-list icon-header-control-list_user fa fa-user"><span>{{Principal.getIdentity().login}}</span></em>
    </li>
    <a ng-click="logout()">
        <li class="head-controls-list__item" title="Log out">
            <em class="icon-header-control-list fa fa-sign-out"></em>
        </li>
    </a>
</ul>

