<ul class="head-controls-list head-controls-list_main">
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <i class="fa fa-arrow-circle-o-up"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ng-click="newProject($event)" href="#">Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <i class="fa fa-cog"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project">New Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <i class="fa fa-th-large"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project">New Project</a></li>-->
        <!--</ul>-->
    </li>
    <li class="head-controls-list__item head-controls-list__item_dark-color" toggle-class-child="open-menu">
        <i class="fa fa-question-circle"></i>
        <!--<ul class="head-controls-list-submenu ">-->
        <!--<li class="head-controls-list-submenu__item"><a ui-sref="project.new">New Project</a></li>-->
        <!--</ul>-->
    </li>
</ul>
<ul class="head-controls-list">
    <li class="head-controls-list__item" ui-sref="experiment">
        <i class="fa fa-home"></i>
    </li>
    <li class="head-controls-list__item" toggle-class-child="open-menu">
        <i class="fa fa-file-o"></i>
        <ul class="head-controls-list-submenu">
            <li class="head-controls-list-submenu__item" has-any-authority="{{PROJECT_CREATORS}}"><a
                    ui-sref="project.new">New Project</a></li>
            <li class="head-controls-list-submenu__item" has-any-authority="{{NOTEBOOK_CREATORS}}"><a
                    ui-sref="notebook.select-project">New Notebook</a></li>
            <li class="head-controls-list-submenu__item" has-any-authority="{{EXPERIMENT_CREATORS}}"><a
                    ui-sref="experiment.select-notebook">New Experiment</a></li>
        </ul>
    </li>
    <li class="head-controls-list__item">
        <i class="fa fa-files-o"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="fa fa-inbox"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="fa fa-folder-open"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="fa fa-floppy-o"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="fa fa-print"></i>
    </li>
    <li class="head-controls-list__item">
        <i class="fa fa-search"></i>
    </li>
</ul>
<ul class="head-controls-list_right">
    <li class="head-controls-list__item_user">
        <i class="fa fa-user"> {{Principal.getIdentity().login}}</i>
    </li>
    <a ng-click="logout()">
        <li class="head-controls-list__item" title="Log out">
            <i class="fa fa-sign-out"></i>
        </li>
    </a>
</ul>

