<div>
    <h2>Users</h2>

    <button class="btn btn-primary" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>
    </button>

    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation ng-show="user">
        <div class="modal-body">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="id"
                       ng-model="user.id" readonly>
            </div>

            <div class="form-group">
                <label class="control-label">Login</label>
                <input type="text" class="form-control" name="login"
                       ng-model="user.login" ng-required="user.id == null" ng-maxlength="50">

                <div ng-show="editForm.login.$invalid">
                    <p class="help-block"
                       ng-show="editForm.login.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.login.$error.maxlength"
                            >
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="text" class="form-control" name="login"
                       ng-model="user.password" ng-required="user.password == null" ng-maxlength="50">

                <div ng-show="editForm.password.$invalid">
                    <p class="help-block"
                       ng-show="editForm.password.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.password.$error.maxlength"
                            >
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">FirstName</label>
                <input type="text" class="form-control" name="firstName"
                       ng-model="user.firstName" ng-maxlength="50">

                <div ng-show="editForm.firstName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.firstName.$error.maxlength"
                            >
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>LastName</label>
                <input type="text" class="form-control" name="lastName"
                       ng-model="user.lastName" ng-maxlength="50">

                <div ng-show="editForm.lastName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.lastName.$error.maxlength"
                            >
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" class="form-control" name="email"
                       ng-model="user.email" required ng-maxlength="100">

                <div ng-show="editForm.email.$invalid">
                    <p class="help-block"
                       ng-show="editForm.email.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.email.$error.maxlength"
                            >
                        This field cannot be longer than 100 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="activated">
                    <input type="checkbox" id="activated" ng-model="user.activated">
                    <span>Activated</span>
                </label>
            </div>
            <div class="form-group">
                <label>Profiles</label>
                <select class="form-control" multiple name="authority" ng-model="user.authorities"
                        ng-options="authority for authority in authorities">
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    >Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
            </button>
        </div>
    </form>


    <!--<div class="form-group">-->
    <!--<label class="control-label">Login</label>-->
    <!--<input type="text" class="form-control" name="login"-->
    <!--ng-model="user.login" ng-required="user.id == null" ng-maxlength="50">-->

    <!--<div ng-show="editForm.login.$invalid">-->
    <!--<p class="help-block"-->
    <!--ng-show="editForm.login.$error.required">-->
    <!--This field is required.-->
    <!--</p>-->

    <!--<p class="help-block"-->
    <!--ng-show="editForm.login.$error.maxlength"-->
    <!--translate-value-max="50">-->
    <!--This field cannot be longer than 50 characters.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <form class="form-inline text-right">
        <div class="form-group">
            <label for="searchUser">Search User</label>
            <input type="text" class="form-control" id="searchUser" placeholder="Username, first name or last name"
                   ng-model="searchText">
        </div>
        <button type="submit" class="btn btn-default" ng-click="search()">
            <span class="glyphicon glyphicon-search"></span>
            Search
        </button>
    </form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th>ID</th>-->
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Active</th>

                <!--<th>Profiles</th>-->
                <!--<th>CreatedDate</th>-->
                <!--<th>LastModifiedBy</th>-->
                <!--<th>LastModifiedDate</th>-->
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <!--<td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>-->
                <td>{{user.login}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated"
                          style="cursor: pointer;">Desactivated</span>
                    <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated"
                          style="cursor: pointer;">Activated</span>
                </td>

                <!--<td>-->
                <!--<div ng-repeat="authority in user.authorities">-->
                <!--<span class="label label-info">{{ authority }}</span>-->
                <!--</div>-->
                <!--</td>-->
                <!--<td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>-->
                <!--<td>{{user.lastModifiedBy}}</td>-->
                <!--<td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>-->
                <td class="text-right">
                    <button type="submit"
                            ng-click="edit(user)"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.delete({login:user.login})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
