@if (isLoading) {
<div class="flex items-center justify-center py-8">
    <span>Loading notebook...</span>
</div>
} @else if (hasError) {
<div class="flex items-center justify-center py-8">
    <div class="text-center">
        <span>There was an error loading the notebook, please try again later</span>
    </div>
</div>
} @else if (notebook) {
<div class="grid grid-cols-[1fr_auto] gap-4 pt-4">
    <eln-card>
        <div class="px-3">
            <div class="flex items-center justify-between pb-3 border-b border-b-neutral-200">
                <h2 class="font-semibold text-base">About Notebook</h2>
                <eln-button variant="blue-outline" classList="text-primary-400" [disabled]="true">
                    <em class="indicon-edit"></em>
                    Edit
                </eln-button>
            </div>

            <div class="space-y-6 mt-3 text-sm">
                <div>
                    <h3 class="font-semibold text-neutral-800 mb-2">Notebook Name</h3>
                    <p class="text-sm text-neutral-800">{{ notebook?.name ?? '' }}</p>
                </div>

                @if (notebook?.description) {
                <div>
                    <h3 class="text-neutral-800 mb-2 font-semibold">Notebook Description</h3>
                    <p class="text-sm text-neutral-800 whitespace-pre-line">{{ notebook?.description ?? '' }}</p>
                </div>
                }

                <!-- TODO: Attachments list and actions -->
            </div>
        </div>
    </eln-card>
    <eln-team [teamInput]="notebook.acl" [entityId]="notebook.id" [config]="notebookTeamConfig" />
</div>
}