<form [formGroup]="form">
  <div class="flex gap-4 border rounded-sm">
    <mat-select
      formControlName="type"
      (blur)="triggerTouched()"
      class="flex-1"
    >
      @for (type of TextSearchTypeNames | keyvalue: null; track type) {
        <mat-option [value]="type.key">{{ type.value }}</mat-option>
      }
    </mat-select>
    @if ((form.get('type').valueChanges | async) !== 'between') {
      <input
        matInput
        formControlName="value"
        (blur)="triggerTouched()"
        class="flex-3 border"
      />
    } @else {
      <input
        matInput
        formControlName="from"
        (blur)="triggerTouched()"
        class="flex-1 border"
      />
      <input
        matInput
        formControlName="to"
        (blur)="triggerTouched()"
        class="flex-1 border"
      />
    }
  </div>
</form>
