<eln-card
  [classList]="'cursor-pointer'"
  [routerLink]="['/projects', project.id]"
>
  <div class="flex flex-col w-full px-4">
    <div class="flex justify-between items-center mb-3 w-full">
      <h3
        class="flex items-center gap-x-2 font-semibold text-neutral-1000 text-base"
      >
        <em class="text-primary-400 text-xl indicon-briefcase"></em>
        {{ project.name }}
      </h3>
      <div class="relative -right-1">
        <button
          class="flex items-center hover:bg-neutral-200 rounded-full cursor-pointer"
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="menu"
          aria-label="Project options menu"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="choice">
            <em class="indicon-edit"></em>
            <span class="menu-label">Rename</span>
          </button>

          <button mat-menu-item class="choice">
            <em class="indicon-delete"></em>
            <span class="menu-label">Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div [ngClass]="variant === 'grid' ? 'space-y-2' : 'w-full'">
      <div
        class="w-full"
        [ngClass]="{
          'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6':
            variant === 'list',
          'space-y-2': variant === 'grid',
        }"
      >
        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-1000 text-sm">Notebook</div>
          <div
            class="font-semibold text-h4"
            [ngClass]="{ 'ml-auto': variant === 'grid' }"
          >
            {{ project.notebookCount }}
          </div>
        </div>

        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-1000 text-sm">Experiments</div>
          <div
            class="flex items-center"
            [ngClass]="{ 'ml-auto': variant === 'grid' }"
          >
            @if (project.experimentCountByStatus.OPEN) {
              <span class="font-semibold text-h4 text-primary-400">{{
                project.experimentCountByStatus.OPEN
              }}</span>
            }
            @if (project.experimentCountByStatus.COMPLETED) {
              <i class="text-neutral-500">/</i>
              <span class="font-semibold text-green-200 text-h4">{{
                project.experimentCountByStatus.COMPLETED
              }}</span>
            }
            @if (project.experimentCountByStatus.REJECTED) {
              <i class="text-neutral-500">/</i>
              <span class="font-semibold text-h4 text-red-200">{{
                project.experimentCountByStatus.REJECTED
              }}</span>
            }
            <span class="mx-3 font-thin text-neutral-500">|</span>
            <span class="font-semibold text-h4 text-neutral-1000">{{
              project.experimentCount
            }}</span>
          </div>
        </div>

        <div
          class="flex flex-col"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
          *ngIf="variant === 'list'"
        >
          <div class="text-neutral-1000 text-sm">Members</div>
          <div class="flex items-center">
            <div class="flex -space-x-2">
              @for (member of project.acl.slice(0, 3); track member) {
                <div class="avatar">
                  {{ member.username ?? member.displayName | initials }}
                </div>
              }
              @if (project.aclCount > 3) {
                <span class="avatar-count"> +{{ project.aclCount - 3 }} </span>
              }
            </div>
          </div>
        </div>

        <div
          class="flex flex-col text-sm"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-1000 text-sm">Last Edited</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ project.modifiedAt | date: 'dd MMM yyyy' }} by
            {{ project.modifiedBy.displayName }}
          </div>
        </div>

        <div
          class="flex flex-col text-sm"
          [ngClass]="{ 'flex-col space-y-2': variant == 'list' }"
        >
          <div class="text-neutral-1000">Created</div>
          <div [ngClass]="{ 'ml-auto': variant === 'grid' }">
            {{ project.createdAt | date: 'dd MMM yyyy' }} by
            {{ project.createdBy.displayName }}
          </div>
        </div>
      </div>
    </div>

    @if (variant === 'grid') {
      <div
        class="flex items-center mt-2 pt-3 border-t border-t-neutral-300 w-full"
      >
        <div class="flex -space-x-2">
          @for (member of project.acl.slice(0, 3); track member) {
            <div class="avatar">
              {{ member.username ?? member.displayName | initials }}
            </div>
          }
          @if (project.aclCount > 3) {
            <span class="avatar-count"> +{{ project.aclCount - 3 }} </span>
          }
        </div>

        <span class="ml-2 text-b2 text-neutral-1000"
          >{{ project.aclCount }} Members</span
        >
      </div>
    }
  </div>
</eln-card>
