<div class="wrapper-list-experiment" my-scroller="y" my-scroller-theme="light">
    <ul class="sidebar-menu animated">
        <li class="open">
            <a ng-click="toggleBookmarksProjects(myBookmarks)">
                <i class="fa fa-angle-down arrow"></i>
                <i class="fa fa-bookmark"></i>
                <span>My Bookmarks</span>
            </a>
            <ul class="sub-menu animated" ng-if="myBookmarks.projects.length">
                <li ng-repeat="project in myBookmarks.projects track by $index"
                    ng-click="toggleBookmarksNotebooks(project); $event.stopPropagation();"
                    ng-class="{'activ': project.fullId == activeMenuItem}">
                    <a>{{project.name}}</a>
                    <ul class="sub-menu animated" ng-if="project.children.length && project.isOpen">
                        <li class=""></li>
                        <li ng-repeat="notebook in project.children track by $index"
                            ng-click="notebook.projectId = project.id; toggleBookmarksExperiments(notebook, project); $event.stopPropagation();"
                            ng-class="{'activ': notebook.fullId == activeMenuItem}">
                            <a>{{notebook.name}}</a>
                            <ul class="sub-menu animated" ng-if="notebook.children.length && notebook.isOpen">
                                <li ng-repeat="experiment in notebook.children track by $index" 
                                    ng-class="{'activ': experiment.fullId == activeMenuItem}"
                                    ng-click="onExperimentClick(experiment, notebook, project); $event.stopPropagation();" >
                                    <a ng-mouseenter="experimentEnter(experiment, notebook, project)" ng-mouseleave="experimentLeave()" >
                                        <span  uib-popover-template="POPOVER_TEMPLATE" popover-placement="right" popover-is-open="isOpen(experiment)" popover-append-to-body="true">{{experiment.name}}</span>
                                        <em class="experiment-status"
                                            ng-class="{'fa fa-check': experiment.status == 'Completed',
                                                      'fa fa-file-text-o': experiment.status == 'Signing',
                                                      'fa fa-pencil-square-o': experiment.status == 'Signed',
                                                      'fa fa-paper-plane': experiment.status == 'Submitted',
                                                      'fa fa-archive': experiment.status == 'Archived',
                                                      'fa fa-minus-circle': experiment.status == 'Submit_Fail',
                                                      'fa fa-file-o': experiment.status == 'Open'}"></em>

                                    </a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li has-authority="{{CONTENT_EDITOR}}">
            <a ng-click="toggleMyprojects(allProjects, true); $event.stopPropagation();">
                <i class="fa fa-angle-down arrow"></i>
                <i class="fa fa-sitemap"></i>
                <span>All Projects</span>
            </a>
            <ul class="sub-menu animated" ng-if="allProjects.projects.length">
                <li ng-repeat="project in allProjects.projects track by $index"
                    ng-click="toggleMyprojectsNotebooks(project, true); $event.stopPropagation();"
                    ng-class="{'activ': project.fullId == activeMenuItem}">
                    <a class="type-of-experiment">{{project.name}}</a>
                    <ul class="sub-menu animated" ng-if="project.children.length && project.isOpen">
                        <li ng-repeat="notebook in project.children track by $index"
                            ng-click="notebook.projectId = project.id; toggleMyprojectsExperiments(notebook, project, true); $event.stopPropagation();"
                            ng-class="{'activ': notebook.fullId == activeMenuItem}">
                            <a>{{notebook.name}}</a>
                            <ul class="sub-menu animated" ng-if="notebook.children.length && notebook.isOpen">
                                <li ng-repeat="experiment in notebook.children track by $index"
                                    ng-click="onExperimentClick(experiment, notebook, project); $event.stopPropagation();"
                                    ng-class="{'activ': experiment.fullId == activeMenuItem}">
                                    <a ng-mouseenter="experimentEnter(experiment, notebook, project)" ng-mouseleave="experimentLeave()">
                                        <span uib-popover-template="POPOVER_TEMPLATE" popover-placement="right" popover-is-open="isOpen(experiment)" popover-append-to-body="true">{{experiment.name}}</span>
                                        <em class="experiment-status"
                                            ng-class="{'fa fa-check': experiment.status == 'Completed',
                                                      'fa fa-file-text-o': experiment.status == 'Signing',
                                                      'fa fa-pencil-square-o': experiment.status == 'Signed',
                                                      'fa fa-paper-plane': experiment.status == 'Submitted',
                                                      'fa fa-archive': experiment.status == 'Archived',
                                                      'fa fa-minus-circle': experiment.status == 'Submit_Fail',
                                                      'fa fa-file-o': experiment.status == 'Open'}"></em>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li has-any-authority="{{ADMINISTRATION_AUTHORITIES}}">
            <a ng-click="toggleAdministration()">
                <i class="fa fa-angle-down arrow"></i>
                <i class="fa fa-cogs"></i>
                <span>Administration</span>
            </a>
            <ul class="sub-menu animated" ng-if="adminToggled">
                <li has-authority="{{USER_EDITOR}}" ng-class="{'activ': $state.includes('entities.user-management')}"
                    ng-click="toggleUsersAndRoles(); $event.stopPropagation();">
                    <a class="type-of-experiment ">Users</a>
                </li>
                <li has-authority="{{ROLE_EDITOR}}" ng-class="{'activ': $state.includes('entities.role-management')}"
                    ng-click="toggleAuthorities(); $event.stopPropagation();">
                    <a class="type-of-experiment">Roles</a>
                </li>
                <li has-authority="{{TEMPLATE_EDITOR}}" ng-class="{'activ': $state.includes('entities.template')}"
                    ng-click="toggleTemplates(); $event.stopPropagation();">
                    <a class="type-of-experiment">Templates</a>
                </li>
                <li has-authority="{{DICTIONARY_EDITOR}}" ng-class="{'activ': $state.includes('entities.dictionary-management')}"
                    ng-click="toggleDictionaries(); $event.stopPropagation();">
                    <a class="type-of-experiment">Dictionaries</a>
                </li>
            </ul>
        </li>
    </ul>
</div>