<div class="sidebar-popover">
  <div class="sidebar-popover-number m-b5">Experiment {{notebook.name}}-{{experiment.name}}</div>
  <div class="sidebar-popover-content">
    <div class="bold">
      New Experiment, Diabet
    </div>
    <div>
      <span class="bold">Creation Date:</span> Jul 11, 2016 16:12:00 MSK
    </div>
    <span>
      <span class="bold">Author:</span> Sheldon Cooper,
    </span>
    <span>
      <span class="bold">Status:</span> {{experiment.status}}
    </span>
  </div>
</div>