<div class="sidebar-popover">
    <div class="sidebar-popover-number m-b5"><span i-translate="EXPERIMENT"></span>
        <span ng-bind="node.parent.name"></span>-
        <span ng-bind="vm.experimentsCollection[node.original.fullId].fullName"></span>
    </div>
    <div class="sidebar-popover-content">
        <div>
      <span class="bold"
            ng-bind="vm.experimentsCollection[node.original.fullId].components.reactionDetails.title">
      </span>
            <span>
        <span ng-bind="vm.experimentsCollection[node.original.fullId].components.reactionDetails.therapeuticArea.name"></span>
      </span>
        </div>
        <div>
            <span class="bold"><span i-translate="CREATION_DATE"></span>:</span><span
                ng-bind="vm.experimentsCollection[node.original.fullId].creationDate  | date:'MMM dd yyyy'"></span>
        </div>
        <span>
      <span class="bold"><span i-translate="AUTHOR"></span>:</span><span
                ng-bind="vm.experimentsCollection[node.original.fullId].author.firstName"></span>
    </span>
        <span>
      <span class="bold"><span i-translate="STATUS"></span>:</span> <span
                ng-bind="vm.experimentsCollection[node.original.fullId].status"></span>
    </span>
        <img ng-if="!!vm.experimentsCollection[node.original.fullId].components.reaction.image"
             class="sidebar-popover-sheme" ng-src="data:image/svg+xml;base64,{{experiment.components.reaction.image}}"
             alt="Reaction Scheme">
    </div>
</div>