<my-table my-id="preferred-compound-summary" my-columns="columns" my-rows="model.preferredCompoundSummary.compounds"
          my-draggable-columns="true"
          my-readonly="myReadonly"
          my-editable="isEditable"
          my-on-row-selected="onRowSelected"
          my-hide-column-settings="isHideColumnSettings" class="my-table-wrapper">
    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-info" ng-disabled="true"
                ng-click="registerVC()">Register VC
        </button>
        <button type="button" class="btn btn-info"
                ng-disabled="true"
                ng-click="vnv()">VnV
        </button>
    </div>
    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-info"
                ng-disabled="myReadonly"
                ng-click="addNewCompound()"><span class="glyphicon glyphicon-plus"></span>&nbsp;<span> Add New Compound</span>
        </button>
        <button type="button" class="btn btn-info" ng-click="deleteCompounds()"
                ng-disabled="myReadonly || !isHasCheckedRows()"><span class="glyphicon glyphicon-trash"></span>&nbsp;<span> Delete Compound(s)</span>
        </button>
    </div>
    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-info" ng-click="importSDFile()" ng-disabled="myReadonly">
             <span class="glyphicon glyphicon-import"></span>&nbsp;<span> Import SD File</span>
        </button>
        <button type="button" class="btn btn-info" ng-click="exportSDFile()"
                ng-disabled="myReadonly || !isHasCheckedRows()">Create SD
            File
        </button>
    </div>
</my-table>