<div class="col-xs-4 col-xs-offset-4 login-form">
    <div class="row">
        <div class="panel panel-info animated" ng-class="{'has-error': vm.shake}">
            <div class="panel-heading">
                Sign in
            </div>
            <div class="panel-body">
                <form class="form" id="login-form" role="form" ng-submit="vm.login($event)">
                    <div class="form-group">
                        <label for="username">Login</label>
                        <input type="text" class="form-control" id="username" autofocus placeholder="Your username"
                               ng-model="vm.username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Your password"
                               ng-model="vm.password">
                    </div>
                    <indigo-checkbox indigo-model="vm.rememberMe" indigo-label="Remember me" ng-init="vm.rememberMe = true"></indigo-checkbox>
                </form>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-info btn-can-loading" ng-class="{'btn-loading' : vm.loading}" form="login-form">Sign in</button>
            </div>
        </div>
        <div class="alert alert-danger" ng-show="vm.authenticationError">
            <strong>Failed to sign in.</strong> Please check your credentials and try again.
        </div>
        <div class="alert alert-danger" ng-show="vm.serverError">
            <strong>Login failed</strong> because of the server error, please try again later
        </div>
    </div>
</div>
