<div class="modal-header">
    <h5 class="modal-title">Lookup Reagents</h5>
</div>
<div class="modal-body">
    <uib-tabset active="activeForm">
        <uib-tab index="0" active="isActiveTab0" ng-click="isActiveTab0 = true; isActiveTab1 = false"
                 heading="My Reagent List">
            <div class="reagent-search-tab">
                <div class="reagent-search-container">
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" ng-click="search()" type="button">Search
                                                </button></span></div>
                        </div>
                    </div>
                </div>
                <div class="row reagent-search-row" style="margin-top:-20px;">
                    <strong>{{myReagentList.length}} reagents in my list</strong>
                    <div class="pull-right">
                        <button class="btn btn-default search-button"
                                type="button"
                                ng-click="removeFromMyReagentList()"
                                ng-disabled="false">
                            <span class="glyphicon glyphicon-remove-sign"></span> Remove from My List
                        </button>
                        <button class="btn btn-default search-button"
                                type="button"
                                ng-click="addToStoichTable(myReagentList)"
                                ng-disabled="false">
                            <span class="glyphicon glyphicon-plus"></span> Add to Stoich. Table
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <search-result-table my-table-content="myReagentList"
                                             my-editable-info="true"></search-result-table>
                </div>
            </div>
</div>
</uib-tab>
<uib-tab index="1" active="isActiveTab1" ng-click="isActiveTab0 = false; isActiveTab1 = true"
         heading="Reagent Catalog">
    <div class="reagent-search-tab">
        <div class="reagent-search-container" ng-show="!isSearchResultFound">
            <my-checklist my-items="model.databases" my-label="Choose catalog to search in"></my-checklist>
            <div class="row well well-sm" ng-init="$$isCollapsed=true">
                <my-input class="col-xs-9" my-model="model.restrictions.searchQuery"
                          my-label="Type in your search query"
                          my-label-vertical="true"></my-input>
                <div class="reagent-search-advanced"><a ng-click="$$isCollapsed = !$$isCollapsed">
                                                <span ng-class="{'glyphicon glyphicon-triangle-right':$$isCollapsed,
                                                                     'glyphicon glyphicon-triangle-bottom':!$$isCollapsed}"></span>
                    Advanced search</a></div>
                <div class="col-xs-12 reagent-search-hint">If you search a molecular
                    formula, add spaces between each element: C8 H9 Br, C2 H5 OH
                </div>
                <div uib-collapse="$$isCollapsed">
                    <div class="col-xs-12" style="margin-top:-15px;">
                        <div ng-show="!isSearchResultFound">
                            <div class="reagent-search-container">
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>{{model.restrictions.advancedSearch.nbkBatch.name}}:</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionText"
                                                   my-model="model.restrictions.advancedSearch.nbkBatch.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.nbkBatch.value"></my-input>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>{{model.restrictions.advancedSearch.molFormula.name}}:</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionText"
                                                   my-model="model.restrictions.advancedSearch.molFormula.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.molFormula.value"></my-input>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>{{model.restrictions.advancedSearch.molWeight.name}}:</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionNumber"
                                                   my-model="model.restrictions.advancedSearch.molWeight.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.molWeight.value"></my-input>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>
                                        {{model.restrictions.advancedSearch.chemicalName.name}}:</p></div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionChemicalName"
                                                   my-model="model.restrictions.advancedSearch.chemicalName.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.chemicalName.value"></my-input>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>
                                        {{model.restrictions.advancedSearch.externalNumber.name}}:</p></div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionText"
                                                   my-model="model.restrictions.advancedSearch.externalNumber.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.externalNumber.value"></my-input>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>
                                        {{model.restrictions.advancedSearch.compoundState.name}}:</p></div>
                                    <div class="col-xs-6">
                                        <my-select my-dictionary="compoundState"
                                                   my-model="model.restrictions.advancedSearch.compoundState.value"></my-select>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>{{model.restrictions.advancedSearch.comments.name}}:</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionText"
                                                   my-model="model.restrictions.advancedSearch.comments.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.comments.value"></my-input>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>
                                        {{model.restrictions.advancedSearch.hazardComments.name}}:</p></div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionText"
                                                   my-model="model.restrictions.advancedSearch.hazardComments.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.hazardComments.value"></my-input>
                                    </div>
                                </div>
                                <div class="row reagent-search-row">
                                    <div class="col-xs-3"><p>
                                        {{model.restrictions.advancedSearch.casNumber.name}}:</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-select my-items="searchConditionText"
                                                   my-model="model.restrictions.advancedSearch.casNumber.searchCondition"></my-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <my-input
                                                my-model="model.restrictions.advancedSearch.casNumber.value"></my-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well well-sm" style="margin-top:-10px;">
                <div class="reagent-search-well"><strong>Or draw structure</strong>
                    <div class="row reagent-search-row">
                        <div class="col-xs-2"><p>Similarity criteria</p></div>
                        <div class="col-xs-4">
                            <my-select my-items="searchConditionSimilarity"
                                       my-model="model.restrictions.structure.similarityCriteria"></my-select>
                        </div>
                        <div ng-if="model.restrictions.structure.similarityCriteria.name == 'similarity'">
                            <my-input class="col-xs-2" style="width:80px;"
                                      my-name="similarityValue"
                                      my-validation-pattern="/^\d{1,2}(?!\d)|100$/"
                                      my-validation-max-length="3"
                                      my-validation-required="true"
                                      my-validation-pattern-text="Enter 1-100"
                                      my-model="model.restrictions.structure.similarityValue"></my-input>
                            <div style="position:relative">
                                <span style="position:absolute;top:7px;">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="row reagent-search-row">
                        <div class="col-xs-12">
                            <structure-scheme class="search-structure-scheme" my-structure-type="molecule"
                                              my-title="Structure" my-model="scheme"></structure-scheme>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary"
                        type="button"
                        ng-click="search()"
                        ng-disabled="!model.restrictions.structure.image && !isAdvancedSearchFilled() &&
                                                    !model.restrictions.searchQuery">Search
                </button>
            </div>
        </div>
        <div ng-show="isSearchResultFound">
            <div class="reagent-search-container">
                <div>Search results for
                                    <span ng-if="model.restrictions.structure.image"> structure
                                        <div><img style="padding:10px;height:140px;"
                                                  ng-src="data:image/svg+xml;base64,{{model.restrictions.structure.image}}"
                                                  alt="Image is unavailable."></div></span>
                    <strong ng-if="!model.restrictions.structure.image && model.advancedSummary.length">&quot;
                        <strong ng-repeat="restriction in model.advancedSummary track by $index">
                            {{restriction.name}}: <span ng-if="restriction.searchCondition.name">
                                            {{restriction.searchCondition.name}}</span>
                            {{restriction.value.name || restriction.value}}
                            <span ng-if="!$last">AND </span></strong>&quot;</strong>
                    <strong ng-if="!model.restrictions.structure.image &&
                                                    !model.advancedSummary.length && model.restrictions.searchQuery">
                        &quot;{{model.restrictions.searchQuery}}&quot;</strong></div>
                <div class="reagent-search-collapse" ng-init="isChangeQueryCollapsed=true">
                    <a ng-click="isChangeQueryCollapsed = !isChangeQueryCollapsed">
                                                <span ng-class="{'glyphicon glyphicon-triangle-right':isChangeQueryCollapsed,
                                                     'glyphicon glyphicon-triangle-bottom':!isChangeQueryCollapsed}"></span>
                        Change search query</a></div>
                <div uib-collapse="isChangeQueryCollapsed">
                    <div class="col-xs-12">
                        <div class="reagent-search-container">
                            <div class="row well well-sm">
                                <my-input class="col-xs-9" my-model="model.restrictions.searchQuery"
                                          my-label="Type in your search query" my-label-vertical="true"></my-input>
                                <div class="col-xs-12 reagent-search-hint">If you search a molecular
                                    formula, add spaces between each element: C8 H9 Br, C2 H5 OH
                                </div>
                                <div class="col-xs-12" style="margin-top:-15px;">
                                    <div>
                                        <div class="reagent-search-container">
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.nbkBatch.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionText"
                                                               my-model="model.restrictions.advancedSearch.nbkBatch.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.nbkBatch.value"></my-input>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.molFormula.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionText"
                                                               my-model="model.restrictions.advancedSearch.molFormula.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.molFormula.value"></my-input>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.molWeight.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionNumber"
                                                               my-model="model.restrictions.advancedSearch.molWeight.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.molWeight.value"></my-input>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.chemicalName.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionChemicalName"
                                                               my-model="model.restrictions.advancedSearch.chemicalName.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.chemicalName.value"></my-input>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {model.restrictions.advancedSearch.externalNumber.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionText"
                                                               my-model="model.restrictions.advancedSearch.externalNumber.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.externalNumber.value"></my-input>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.compoundState.name}}:</p></div>
                                                <div class="col-xs-6">
                                                    <my-select my-dictionary="compoundState"
                                                               my-model="model.restrictions.advancedSearch.compoundState.value"></my-select>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.comments.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionText"
                                                               my-model="model.restrictions.advancedSearch.comments.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.comments.value"></my-input>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.hazardComments.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionText"
                                                               my-model="model.restrictions.advancedSearch.hazardComments.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.hazardComments.value"></my-input>
                                                </div>
                                            </div>
                                            <div class="row reagent-search-row" style="margin-bottom: -25px;">
                                                <div class="col-xs-3"><p>
                                                    {{model.restrictions.advancedSearch.casNumber.name}}:</p></div>
                                                <div class="col-xs-3">
                                                    <my-select my-items="searchConditionText"
                                                               my-model="model.restrictions.advancedSearch.casNumber.searchCondition"></my-select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <my-input
                                                            my-model="model.restrictions.advancedSearch.casNumber.value"></my-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reagent-search-collapse" ng-init="isReDrawStructureCollapsed=true">
                    <a ng-click="isReDrawStructureCollapsed = !isReDrawStructureCollapsed">
                                                <span ng-class="{'glyphicon glyphicon-triangle-right':isReDrawStructureCollapsed,
                                                     'glyphicon glyphicon-triangle-bottom':!isReDrawStructureCollapsed}"></span>Draw
                        structure</a></div>
                <div uib-collapse="isReDrawStructureCollapsed">
                    <div class="col-xs-12">
                        <div class="well well-sm">
                            <div class="row reagent-search-row">
                                <div class="col-xs-2"><p>Similarity criteria</p></div>
                                <div class="col-xs-4">
                                    <my-select my-items="searchConditionSimilarity"
                                               my-model="model.restrictions.structure.similarityCriteria"></my-select>
                                </div>
                                <div ng-if="model.restrictions.structure.similarityCriteria.name == 'similarity'">
                                    <my-input class="col-xs-2" style="width:80px;" my-name="similarityValue"
                                              my-validation-pattern="/^\d{1,2}(?!\d)|100$/" my-validation-max-length="3"
                                              my-validation-required="true" my-validation-pattern-text="Enter 1-100"
                                              my-model="model.restrictions.structure.similarityValue"></my-input>
                                    <div style="position:relative"><span style="position:absolute;top:7px;">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row reagent-search-row">
                                <div class="col-xs-12">
                                    <structure-scheme class="search-structure-scheme" my-structure-type="molecule"
                                                      my-title="Structure" my-model="scheme"></structure-scheme>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary search-button"
                        type="button"
                        ng-click="search()"
                        ng-disabled="!model.restrictions.structure.image && !isAdvancedSearchFilled() &&
                                                    !model.restrictions.searchQuery">Search
                </button>
            </div>
            <div class="row reagent-search-row">
                <strong>{{searchResults.length}} results found</strong>
                <div class="pull-right">
                    <button class="btn btn-default search-button"
                            type="button"
                            ng-click="addToMyReagentList()"
                            ng-disabled="false">
                        <span class="glyphicon glyphicon-star"></span> Add to My Reagent List
                    </button>
                    <button class="btn btn-default search-button"
                            type="button"
                            ng-click="addToStoichTable(searchResults)"
                            ng-disabled="false">
                        <span class="glyphicon glyphicon-plus"></span> Add to Stoich. Table
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <search-result-table my-table-content="searchResults"
                                         my-editable-info="false"></search-result-table>
                </div>
            </div>
        </div>
    </div>
</uib-tab>
</uib-tab>
</uib-tabset>
</div>
</div>
<div class="modal-footer text-right">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
